[2019-06-16 06:29] yschimke commented on #294
FWIW to get even the existing zsh support working through bash, I needed the following in my zsh script

https://github.com/yschimke/homebrew-tap/blob/master/rsocket-cli.rb#L18

Below is from a homebrew recipe

[code]

[2019-06-16 06:50] yschimke commented on #294
The other relevant thing is that the file should be in FPATH and start with the #compdef line so shell login doesn't involve running all the scripts

https://github.com/zsh-users/zsh-completions/blob/master/zsh-completions-howto.org

[2019-06-16 07:04] yschimke opened #727 "Feature Suggestion: Homebrew support"
It's fairly trivial to expose and bundled java app with launcher scripts via homebrew without any permission from upstream brew maintainers

e.g. https://github.com/yschimke/homebrew-tap/blob/master/rsocket-cli.rb#L18

This script makes the following brew command possible

[code]

Since you are generating bash completion scripts, it seems like a logical step to generate a homebrew file.

[2019-06-16 07:05] yschimke commented on #727
_Feel free to close, this is a suggestion, I don't have plans to actively work on this._

[2019-06-16 07:05] yschimke commented on #726
_Feel free to close, this is a suggestion, I don't have plans to actively work on this._

[2019-06-16 07:38] remkop commented on #725
No worries!

It is great if people can contribute a PR, so I always ask :-)

I wasn’t aware of fish shell. I had a quick look and it may be quite straightforward to generate a completion script from the picocli model.
It’s still a good suggestion and I don’t plan to close the ticket.

[2019-06-16 07:39] remkop commented on #294
@yschimke thanks for the tip!

[2019-06-16 07:59] yschimke commented on #725
It's a great choice for your interactive (only) shell.  And in the examples above you can see how sensible the completion logic is.

[code]

-s is short option, -l is long option with -- prefix, and -d is description.

[2019-06-16 08:01] yschimke commented on #294
The testing and debugging section of that doc is good also e.g.

| _complete_help | Ctrl+x h | displays information about context names, tags, and completion functions used when completing at the current cursor position |

[2019-06-16 08:08] remkop commented on #727
Another cool idea, thank you!
So basically we want to generate a script very similar to the linked script from a picocli model.

Looking at the linked `rsocket-cli.rb` script, missing items not in the picocli model (so user must provide):
* homepage
* URL (we can generate the sha checksum from the artifact downloaded from this URL)

Anything else?

[2019-06-16 08:35] yschimke commented on #727
That seems about right.  BTW I converted a project from airline to picocli and the experience was great.  Particularly because I want it to work well with graal etc and it seems to rely a lot less on reflection.

https://github.com/rsocket/rsocket-cli/commit/099792ffcca62383e9840b913d3d307709d394af

I've implemented a few CLIs now, so really appreciate the functionality this library provides.  Som

[2019-06-16 08:39] yschimke opened #728 "Feature Suggestion: exec method"
This method seems like a useful default to provide within the library.  Covers help, shell completion hooks, error handling etc.

https://github.com/rsocket/rsocket-cli/blob/master/src/main/kotlin/io/rsocket/cli/Main.kt#L363

[code]

[2019-06-16 08:44] yschimke opened #729 "Feature Suggestion: Output Handler"
Some code from my own libraries that could be useful if you want richer terminal integration.

Launching preview apps

https://github.com/yschimke/oksocial-output/blob/master/src/main/kotlin/com/baulsupp/oksocial/output/OsxOutputHandler.kt

Json pretty printing

https://github.com/yschimke/oksocial-output/blob/master/src/main/kotlin/com/baulsupp/oksocial/output/ConsoleHandler.kt

Image support (e.

[2019-06-16 08:48] yschimke commented on #729
I'm mainly suggesting this as this is code I've built myself but used in multiple apps.  Definitely one to close if it's not useful, but for various CLIs being able to have an API to show output to users and use the highest fidelity representation.

[2019-06-16 08:51] yschimke commented on #729
Example output in iTerm

`src/test/kotlin/commands/tweetsearch.kts Pusheen`

<img width="804" alt="image" src="https://user-images.githubusercontent.com/231923/59561791-44d7fb00-901c-11e9-8d28-b3cf53edb3f6.png">

[2019-06-16 08:54] yschimke commented on #729
`src/test/kotlin/commands/uberprices.kts Buckingham Palace`

<img width="490" alt="image" src="https://user-images.githubusercontent.com/231923/59561840-c596f700-901c-11e9-8235-f1c2f9171cb6.png">

[2019-06-16 08:56] yschimke commented on #729
<img width="533" alt="image" src="https://user-images.githubusercontent.com/231923/59561872-13abfa80-901d-11e9-92df-e33675c45970.png">

[2019-06-16 09:06] yschimke commented on #728
@remkop I might start with a PR for this function.  On the other random suggestions, let me know if you are keen and we can dicsuss on those issues what the APIs could look like and I'll contribute some PRs over time.

[2019-06-16 09:11] yschimke commented on #634
FWIW I've done this with https://github.com/yschimke/oksocial-output/blob/master/src/main/kotlin/com/baulsupp/oksocial/output/ConsoleHandler.kt#L179

I'd love to switch to whatever you come up with particularly if it doesn't require launching commands etc.

[2019-06-16 09:36] yschimke opened #730 "Question: Java 8 support"
I'm curious about the Java 5 support, it seems limiting for the API.  Java 5 was released 2004, vs 2014 for Java 8. Any plans to bump this?

[2019-06-16 09:38] yschimke commented on #728
Just found CommandLine.execute()

[2019-06-16 09:38] #728 closed

[2019-06-16 09:48] remkop commented on #728
Oh, I see, I was looking at https://github.com/rsocket/rsocket-cli/commit/099792ffcca62383e9840b913d3d307709d394af and wondering if there was a problem with `CommandLine.execute()` that you needed to work around. :worried:
Mystery solved! :smile:

[2019-06-16 10:00] remkop commented on #725
Yes that looks straightforward.

I need to look a bit further to see how subcommands (and nested sub-subcommands) are handled, and whether there's a facility for completing options that don't look like POSIX short options or GNU long options (like `java -version`), but the above looks promising.

[2019-06-16 10:03] remkop commented on #634
Thanks for the link, just saw that. (Wasn't aware of the `-f` vs `-F` difference for MacOS, that's a good catch!)
I am working on this right now, once I get it to work I'm planning to release 4.0.0-beta-2.

My current approach is similar to what you did in ConsoleHandler, but still experimenting with various approaches to find something that also works in Cygwin. What the Lantern project is doing

[2019-06-16 10:14] yschimke commented on #728
It would be useful to have some of the value adds supported without additional main entry points e.g. generating the completion file. Would make installations simpler as they could call the app on the fly. But nope, all good. Just missed it.

[2019-06-16 10:14] remkop commented on #726
Can you expand a bit on the "inside App"?

One idea is to have a command that generates the completion script (https://github.com/remkop/picocli/issues/456).
Another idea is to let the Bash completion script call the app itself to get completion candidates (https://github.com/remkop/picocli/issues/506) - this requires the Bash completion script to be able to invoke the command, so path, classpath

[2019-06-16 10:15] yschimke commented on #728
Is it mentioned in the getting started docs? It’s a useful first approach.

[2019-06-16 10:19] yschimke commented on #726
#506 is exactly it. I think it’s a safe assumption if you can output as part of usage help a command name, that at completion time you can call that command and it should work. You can see how I do it for fish in the other issue I raised.

[2019-06-16 10:19] #726 closed

[2019-06-16 10:29] remkop commented on #729
All of these look very cool!
I need some time to look into this in more detail.
(Reminds me a bit of Windows Terminal, that also opens some exciting possibilities.)
Definitely interested in providing tight integration with advanced shells.

[2019-06-16 10:31] remkop commented on #730
At the moment I don't miss it. I put some of my thoughts down on the topic here: https://github.com/remkop/picocli/wiki/FAQ

Basically I want to serve as many users as possible.

[2019-06-16 10:34] juddgaddie commented on #548
Is this theoretically resolved now with the annotation processor implementation?

[2019-06-16 10:45] #730 closed

[2019-06-16 11:00] yschimke commented on #506
I'd suggest some approach for allowing hidden options e.g. --pico_complete="" or --pico_completion_script instead of additional main methods

[2019-06-16 11:29] remkop opened #731 "Add Zero Bugs Commitment"
See https://github.com/classgraph/classgraph/blob/master/Zero-Bugs-Commitment.md

[2019-06-16 12:26] remkop commented on #548
@juddgaddie You may be right. The nice thing about the annotation processor is that it works for plain javac as well as Gradle and Maven.

That said, some more work is required for Groovy and Kotlin.
I need to take another look at using the Micronaut visitor API for this: https://github.com/micronaut-projects/micronaut-core/issues/739#issuecomment-430608376

[2019-06-16 12:32] remkop commented on #728
The `execute` API is relatively new (previously there were `run` and `call` static methods, but these didn’t have exit code support).

I added a new section to the user manual. Maybe I should add additional pointers.
Where would be a good place? The readme?

[2019-06-16 12:40] yschimke commented on #728
I think as the first item for any user facing docs. The minimal example should be that method and a main class runnable with a few options.

[2019-06-16 13:25] #731 closed

[2019-06-16 13:27] remkop commented on #718
Closing this ticket, I think there is no more work left.
Feedback welcome!

[2019-06-16 13:27] #718 closed

[2019-06-16 13:51] remkop commented on #728
Makes sense. I updated the README, will also update the javadoc for CommandLine and any other place I find.

[2019-06-16 14:51] adamsmd commented on #694
Awesome! Looks good!

[2019-06-16 15:48] adamsmd opened #732 "Support unambiguous abbreviations"
Some programs allow subcommands to be abbreviated with any unambiguous abbreviation of the subcommand name.  I would like to request the ability to allow this in picocli.

The key here is that these are not explicitly listed abbreviations, but rather any unambiguous abbreviation of the command name or possibly even its aliases.

For example, in Mercurial, `hg showconfig` can be run with `hg showc`

[2019-06-16 16:05] remkop commented on #732
This is a duplicate of #10, but your description is much better, so I’ll keep both tickets open.

Contributions (code snippets, PRs, tests, etc) welcome!

[2019-06-16 16:12] remkop commented on #702
FYI, The upcoming picocli 4.0.0-beta-2 will add better support for passing parameters to a 3rd party command. See https://github.com/remkop/picocli/issues/718

[2019-06-16 16:14] rednoah commented on #718
Sure thing. I'll do some testing when time allows this week.

[2019-06-18 07:23] remkop opened #733 "Improve error message for unmatched arguments"
If a command is defined with only named parameters and no positional parameters, and this command is invoked with an empty string as a parameter, the error message is unclear:

[code]

Actual result:

[code]

Expected result:
[code]

Breaking Test:
[code]

[2019-06-18 10:14] remkop commented on #480
From 4.0, custom code to accomplish this would look something like this:

[code]

[2019-06-18 13:30] raducotescu opened #734 "Make the picocli jar OSGi friendly"
I would like to use the picocli in an OSGi environment for a module of the Apache Sling project - see [0]. Currently, I've embedded the source code, but that makes our Sonar checks fail. Would it be possible to provide an OSGi-friendly jar? The effort should be minimal IMO and would really help us out, without any other implications for other consumers.

[0] - https://github.com/apache/sling-org-a

[2019-06-18 14:12] remkop commented on #734
I’d be happy to help.
Can you clarify what concrete changes you need for the picocli jar to be an OSGi-friendly jar?

[2019-06-18 14:16] raducotescu commented on #734
We just need to add some headers to the jar's manifest file. This is easily achievable with the `bnd-maven-plugin` [1]. In Sling we work with the `bnd.bnd` file, since it makes OSGi instructions easier to define and maintain. Should I come up with a PR for you?

[1] - https://github.com/bndtools/bnd/tree/master/maven/bnd-maven-plugin

[2019-06-18 14:20] remkop commented on #734
Yes please, a PR would be great!

[2019-06-18 14:21] remkop commented on #734
Note that picocli uses Gradle to build though. The `pom.xml` is for GitHub bookkeeping.

[2019-06-18 17:28] #734 closed

[2019-06-18 17:37] remkop commented on #734
Merged into master. Please verify.
This will be included in the 4.0.0-beta-2 release later this week.
Many thanks for the PR!

[2019-06-18 21:13] akoscz opened #736 "Runtime control of hidden options"
Is there a way to control the `hidden` attribute of a command line option at runtime?  The use case I'm working with requires that an option should only be available to the user when executing the application on a specific operating system.  For example:
[code]
The above example would be ideal, although the compiler complains that the value for the `hidden` attribute must be a constant expression.

[2019-06-19 03:27] remkop commented on #736
Changing the model is currently not easy.
I’m looking into whether it’s possible to change the rendering of the usage help message so that hidden options are shown. I’ll post a recipe when I have something.

[2019-06-19 05:03] remkop commented on #736
I had a look and I need to make some changes to the `CommandLine.Help` class and its components to facilitate this. Your timing is good: this will require some API changes, so it's good to do this in a major release like the upcoming version 4.0.

My goal is to change things so that you can customize like this:

[code]

I hope to have something for you later this week.

[2019-06-19 10:56] #634 closed

[2019-06-19 11:33] remkop opened #737 "Deprecate the `parse` method in favor of `parseArgs`"
Clarify to users that the `parseArgs` method should be used instead of the `parse` method.

[2019-06-19 12:42] #737 closed

[2019-06-19 13:21] #733 closed

[2019-06-19 16:31] remkop commented on #734
FYI, 4.0.0-beta-2 has been released. It may take a few hours for Maven mirrors to update.
Thanks again for the PR!

[2019-06-19 16:33] remkop commented on #723
FYI, 4.0.0-beta-2 has been released. It may take a few hours for Maven mirrors to update.
Thanks again for the bug report!

[2019-06-19 16:33] remkop commented on #722
FYI, 4.0.0-beta-2 has been released. It may take a few hours for Maven mirrors to update.
Thanks again for the bug report!

[2019-06-19 16:33] remkop commented on #717
FYI, 4.0.0-beta-2 has been released with the fix for this issue. It may take a few hours for Maven mirrors to update.

[2019-06-19 16:34] remkop commented on #625
FYI, 4.0.0-beta-2 has been released with support for `synopsisSubcommandLabel`. It may take a few hours for Maven mirrors to update.
Thanks again for raising this!

[2019-06-19 16:40] remkop commented on #280
@pditommaso, @jesselong, @marinier
picocli 4.0.0-beta-2 has been released :tada: with support for the `fallbackValue` attribute for options with an optional parameter.

Sorry it took so long. :sweat:

[2019-06-19 20:14] juddgaddie opened #738 "setTrimQuotes does not trim quotes"
[code]

[code]

[2019-06-19 21:39] thefang12 opened #739 "Bug: command name of 72 characters creates infinite loop"
When you try to set the command name that is *72 characters* in length (both programmatically and by annotation) `CommandLine` initialization goes into an infinite loop.

ps: Not sure if the command name character limit is by design but when the name is longer than 72 characters the following exception is thrown:
[code]

[2019-06-20 00:18] remkop commented on #739
This is not by design: there should be no limit. I simply overlooked this possibility.
Thank you for the bug report!

[2019-06-20 00:20] remkop commented on #738
That looks like a bug, I will take a look as soon as I can.
Thanks for the detailed report!

[2019-06-20 02:12] remkop commented on #738
The cause is that picocli currently only strips quotes from option parameters and positional parameters, not from option names.

I will fix that so that quotes are stripped from all arguments as they are processed.

Just out of interest, can I ask why the option names are quoted in your use case?

[2019-06-20 02:40] remkop opened #740 "Update user manual: replace `parse` examples with `parseArgs`"
Update user manual: replace `parse` examples with `parseArgs`.
This is especially relevant now that `parse` is deprecated since #737 in 4.0.0-beta-2.

[2019-06-20 07:06] juddgaddie commented on #738
I was migrating from JCommander and noticed the break. There is no reason that I'm aware of to quote the options so I've removed it to solve my problem, however the behaviour was very unexpected.

[2019-06-20 07:41] remkop commented on #738
Agreed that it is inconsistent to not strip quotes from named options, :grin: I will fix this before the 4.0 release. Thanks for raising this! :pray:

I'm actually quite interested in use cases involving quotes. Usually the shell removes quotes before passing parameters to the application, so I was wondering how these quotes came to be there.  :thinking:  Any background is useful to know.

[2019-06-20 07:46] remkop commented on #738
I am also interested in general feedback on the experience migrating from JCommander. (If you have time)

[2019-06-20 07:49] rednoah commented on #718
Here's the solution I came up with:
https://gist.github.com/rednoah/9eae301e3ace6067807f1c58bb97b12c

[2019-06-20 08:01] remkop commented on #718
Nice! That looks pretty clean. :tada:  Let me know if you need anything else to migrate filebot to picocli.

FYI [picocli 4.0.0-beta-2](https://github.com/remkop/picocli/releases/tag/v4.0.0-beta-2) has been released with [this feature](https://picocli.info/#_custom_parameter_processing).

[2019-06-20 08:07] remkop commented on #734
@raducotescu Quick question: I notice that the `Bundle-SymbolicName` header is set to `picocli`. What are the conventions for the symbolic name? Should this be the "group name" of the artifact Maven coordinates (that is,`info.picocli`) instead? - Just wondering.

[2019-06-20 08:24] juddgaddie commented on #738
We are executing the process from Runtime.getRuntime().exec() and were quoting all the arguments, there may have been a historical reason for this but it works now in our CI environment.

Generally migrating was simple, it was a drop in replacement, the only issue was the quoting.

[2019-06-20 08:31] rednoah commented on #718
Nice, the new docs are simple and to the point.

[2019-06-20 09:29] raducotescu commented on #734
I've used the default the plugin sets, which is the name of the folder
where the `bnd.bnd` file is. It's just a name and doesn't really have much
importance in the OSGi world but if you prefer you can change it to
`<groupId>.<artifactName>` for the final release. Or it could stay like it
is, since it's anyways the name of the artifact, right?

On Thu, 20 Jun 2019 at 10:07, Remko Popma <notificatio

[2019-06-20 10:42] charphi commented on #634
FYI, here are two other ways to get the console width:
- Powershell: `powershell -command (Get-Host).ui.rawui.windowsize.width`
- MingwXterm: `tput cols`

[2019-06-20 11:56] remkop commented on #634
@charphi picocli 4.0.0-beta-2 should work (be able to detect the terminal width) with Powershell and MINGW. Is this not working correctly?

[2019-06-20 11:58] charphi commented on #634
I've not tested it yet.
My comment was just alternatives in case of problem.

[2019-06-20 12:06] remkop commented on #634
I see! That’s good. :-)
I tested MINGW so that should be fine.
I think that the command for Windows will work from Powershell too but I didn’t test.

[2019-06-20 15:30] deining opened #742 "Repeating Composite Argument Groups: false error message"
I came across the following issue when using picocli 4.0.0-beta-2:

[code]
Executing the minimum working example above, I'm getting an error (which is incorrect IMHO):

[code]

As soon as I'm removing `defaultValue = "e"` from the annotation of the option aString, the program doesn't raise any error and exits normally.

If I'm removing both `required = true` and `defaultValue = "e"` from the annot

[2019-06-20 16:35] juddgaddie commented on #738
Another difference with JCommander is Lists are automatically created from a comma separated list of args where picocli requires splitter ","

[2019-06-21 01:06] remkop commented on #742
That looks like a bug. Thanks for raising this!

[2019-06-21 06:08] rain-on opened #743 "Subcommand help not displayed if parent command has unfulfilled required params"
I have a parent command with a required parameter, there also exists a subcommand.
I would like to be able to show the subcommand's help text with:
parentCommand subcommand --help

However, a missing parameter exception is thrown (as the required param is not displayed).
I have tried tagging the subcommand with "isHelpCommand", however, this just removes the required check all together, such that

[2019-06-21 06:13] rain-on commented on #743
As an aside (with isHelpCommand disabled):

If "collectErrors" is enabled on the parser, then the help from the parentCommand is displayed, without the "missing parameters" message.

[2019-06-21 06:25] rain-on commented on #743
This can probably be closed - the 'right' way to do this is:
parentCommand help subcommand ....

[2019-06-21 09:05] remkop commented on #743
Thanks for raising this. I had not thought of this possibility.
It seems a bit inconsistent that `parentCommand help subcommand` works,
while `parentcommand subcommand --help` complains about the missing required option...

I need to think about this a bit. Reopening this ticket so I won't forget about it.
I added this test to reproduce the issue:
https://github.com/remkop/picocli/blob/master/src/

[2019-06-21 09:41] remkop commented on #696
Reopening: will close after updating the release notes.

[2019-06-21 09:47] #696 closed

[2019-06-21 12:09] deining opened #744 "Composite Argument Groups: more informative error messages"
I'm using the following code to ilustrate the issue:

[code]

**Issue 1:** If I'm running the code above with one argument only ("-v"), I'm getting an error message:

[code]
In general, the message is fine, however, there is still room for improvement: it's the group ('-v') that needs to be specified at least two times, currently, the message tells that you have to give `(-v) (-v) [-v]` three time

[2019-06-21 13:22] deining opened #745 "Picocli should disallow `split` regex for single-value type options (was: Argument groups: false error message when using split regex)"
I'm running the minimum working example below:

[code]

IMHO, the program should exit gracefully, however, an error message is thrown:

[code]

Is this the intended behaviour?

[2019-06-21 13:49] deining opened #746 "Argument groups: default value is disregarded"
I'm running the code below (assertions enabled):

[code]

Since `x  = 0`, I'm getting:

[code]

Is this the intended behaviour?

[2019-06-21 18:05] byteit101 commented on #294
It's *super* hacky,  and only supports the bare minimum needed for one-level descriptions on my specific app, but I made a first attempt at this on https://github.com/byteit101/picocli/commit/7f9d1cfd5e48fa3729adb3e36098f2bf1e32cdd0

I do plan on eventually getting around to cleaning it up to make it into an integrateable PR, but unfortunately I'm rather busy with other things for the next month o

[2019-06-21 23:24] remkop commented on #744
This is great feedback, thank you!
I agree, the current error message is confusing.

[2019-06-21 23:47] remkop commented on #745
In this case, I think the behaviour is as expected.

Picocli first looks at the type of the option (`int` in this example), and proceeds to process the parameter as a single value. The `split` attribute is ignored for single values. This behaviour is the same for simple commands without argument groups. This is documented in the [javadoc](https://picocli.info/apidocs/picocli/CommandLine.Option.htm

[2019-06-22 00:01] remkop commented on #746
This looks like a bug. Thank you for raising this!

[2019-06-22 00:02] remkop commented on #294
@byteit101 Thank you! I need a bit more time to look in detail, but this seems like a good start!

[2019-06-22 05:46] remkop commented on #745
Another idea to improve this is to generate an error or warning when the `split` attribute is used with a single-value type:

* Throw `InitializationException` from the `CommandLine` constructor
* Add validation to the annotation processor to generate a compile-time error

A drawback is that throwing a runtime exception may make some applications fail that used to work (and used to silently ignore

[2019-06-22 07:50] deining commented on #745
Thanks for the clarification.

I like this idea, for me, this seems to be the best approach to tackle this.

I think we have to see this from the user perspective. There is are clear usage instruction:

[code]

The user follows this instructions and is confronted with an error (because the application author erroneously specified a type (int) instead of a multi-value type (int[])). This fact is mo

[2019-06-22 08:05] remkop commented on #745
Agreed. This is fairly straightforward to implement and will be useful for application authors who have the annotation processor configured.

I’m most concerned with projects that don’t have the annotation processor configured.
Your argument makes me think that it’s probably a good idea to additionally throw a (runtime) exception at initialization time for this.

As you pointed out, it’s currently

[2019-06-22 08:41] deining opened #747 "CommandLine.execute: whitespace handling"
Minimum woking example, picocli 4.0.0-beta-2:

[code]

I'm running this code, command line argument `-foo 78`. Result:

[code]

Now I'm replacing the code line `cmd.execute(args);` with `cmd.execute("-foo 78");`. Since I'm using exactly the same string, I expect to see the same result as above. However, an error message is presented:

[code]

I know I can get the desired result with `cmd.execute("

[2019-06-22 11:02] deining commented on #745
You wrote:

I fully agree. We shouldn't propagate the misconfiguration to the user and throw an exception here. It's more than justified.

[2019-06-22 11:02] remkop commented on #747
In my tests I sometimes write

[code]

Would this meet your needs?

[2019-06-23 09:34] deining commented on #747
Yes, that's very useful input, I didn't think of this.
This is sufficient here, closing this ticket.

[2019-06-23 09:34] #747 closed

[2019-06-24 01:53] remkop commented on #702
From 4.0.0-beta-2, the user manual has a section on using [custom parameter parsing](https://picocli.info/#_custom_parameter_processing) to pass parameters to a 3rd party command.

Does this feature meet your needs, or should this ticket remain open?

[2019-06-24 03:02] remkop opened #748 "provide API to use a custom Layout in usage help message"
The current `Help` implementation does not make it easy for applications to provide a custom `Layout` implementation.

There is a public method `Help.createDefaultLayout()`, but this is not used.
The method that is actually used internally: `Help.createLayout(int)` is private and cannot be overridden by Help subclasses.

One way to fix this is to change the implementation of `Help.createDefaultLay

[2019-06-24 04:54] remkop commented on #736
Sorry for the delay.
I took a stab at implementing this in the `Help` API but I started to have doubts that this is really the right way to go.

Allowing applications to change the model is a more general and more powerful solution.

At the moment `OptionSpec` instances are immutable, and I would like to keep it that way, but the CommandSpec is not immutable. So, I am thinking to add the ability t

[2019-06-25 11:37] remkop opened #749 "Invoke IDefaultProvider only if needed"
@mkarg opened an interesting [issue](https://github.com/cbeust/jcommander/issues/470) in the JCommander issue tracker:

This makes sense and picocli currently has a similar issue in that it is invoked _before_ parsing for all options and positional parameters (but it is slightly better in that it is only invoked once per option/positional parameter instance, not once per name).

[2019-06-25 13:43] agentgt opened #750 "Generate dynamic proxies with code generation."
(this is not a bug but request for enhancement and some discussion).

The recent work on APT is awesome. I contemplated just manually doing are own command line parsing but with all this work on compile time generation I can avoid doing that in new projects!  We are aiming to use less and less reflection in all of our projects (for both GraalVM and just in general lowering memory).

That being sai

[2019-06-25 14:23] remkop commented on #750
Thank you for the positive feedback and the link to the Hickory project!

Interesting idea to generate source or byte code for dynamic proxies and use the ServiceLoader to load the generated class.

I’m still a bit unclear on what the trade offs (benefits and drawbacks) would be of this approach, need to think about this more.

[2019-06-25 14:56] agentgt commented on #750
This is sort of likewise for me as well. It was more or less if you are going to generate code for the other stuff might as well generate the proxies however argument parsing of interface methods can be significantly painful (e.g. Micronaut has an enormous amount of code that does just that).

While I do know there is a speed improvement in regular Java VM (and most definitely in Android) from som

[2019-06-25 15:18] remkop commented on #750
This is all good to know! My current focus is to get the 4.0-GA release out the door, after that I will take a look at what the next milestone(s) should look like.

There is a [plan](https://github.com/remkop/picocli/issues/539) to use the annotation processor to generate code so that a picocli-based application can be run without reflection, and perhaps this ticket can be part of that effort for

[2019-06-25 15:53] #746 closed

[2019-06-25 16:06] agentgt commented on #750
They generate a meta data class that basically has all the reflection information in it as statics. That generated class extends or implements an interface. I believe it's called BeanDefinition or something. Those classes are then loaded with the ServiceLoader.

For Java they use ASM.  Instead of generating code they generate directly to bytecode. Honestly I am impressed they were able to do this.

[2019-06-25 16:11] remkop commented on #746
Thanks again for raising this; this clarified the semantics for default values in argument groups quite a bit.

I made some improvements, but it may not behave the way you expect in your example use case (because your example has a static field). Picocli will assign default values in the following cases:

* before parsing the arguments, any `@ArgGroup`-annotated field _that has been initialized in

[2019-06-25 16:28] remkop commented on #750
Thanks for that! :heart_eyes_cat: Impressive! :muscle:
Did you learn all that from reading the Micronaut source code, or is there some online resource to look at?  :eyes:

[2019-06-25 17:17] agentgt commented on #750
I had to look at the code as noted here: https://github.com/micronaut-projects/micronaut-core/issues/445

@graemerocher Might add some documentation someday. The code is well written its just inherently complicated as there 3-4 APIs dealing with types and code generation at play.

It would be awesome someday if more of the Micronaut core code generation was separated as its own library particularl

[2019-06-26 01:45] remkop opened #751 "Make build more portable"
Allow build to run even when `biz.aQute.bnd.builder` plugin is not available.

[code]

[2019-06-26 11:09] #751 closed

[2019-06-26 20:38] feinstein commented on #236
Are there any implementations of this for Gradle and Maven that we can just use?

[2019-06-26 22:08] remkop commented on #236
Yes, take a look at https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/VersionProviderDemo2.java

You probably need to modify `isApplicableManifest` to find the right manifest from the right jar for your project.

An alternative approach is to declare a constant with a version number in your code, and reference that in the annotation, like this:

[code]

[2019-06-26 22:11] feinstein commented on #236
thanks and congratulations on the amazing project.

[2019-06-26 22:13] remkop commented on #236
Glad you like it! Please star the project if you like it :grin:

[2019-06-26 22:31] feinstein opened #753 "How to pass multiple values to a Map?"
I have a `Map<String, Object>` object that's supposed to hold variables such as `"role","admin"`, `"level","10"`, `"enabled","true"`.

I tried to define it like:

[code]

And call it like this in cli:

[code]

But this results in a map of: `"role"` -> `"admin,level=10,enabled=true"`

What's the correct way to call it in the cli to get the full map of values?

[2019-06-26 22:48] remkop commented on #753
Looks like you need to add `split = ","` to the option annotation.

[2019-06-26 22:51] feinstein commented on #753
Shouldn't this be the default for a `Map`?

[2019-06-26 23:43] remkop commented on #753
Picking good defaults is always tricky.

I’m aware that JCommander splits automatically, and this may trip up people migrating from JCommander to picocli. That would be an argument for splitting by default. (Were you using JCommander previously?)

Currently picocli doesn’t split unless you tell it to. The drawback is somewhat more verbosity, the benefit is self-documentation: it’s clear which opti

[2019-06-26 23:53] feinstein commented on #753
I wasn't in JCommander, I was just expecting a `Map` to be automatically populated as the docs imply it would. Actually the docs don't cover this particular case so it gets open to interpretation.

[2019-06-27 00:12] remkop commented on #753
I see, yes, the [map](https://picocli.info/#_arrays_collections_maps) docs don't have an example that uses a split regex. Let's improve that.

Do you think you'll be able to provide a patch or pull request?

[2019-06-27 00:14] feinstein commented on #753
I don't think I can because I am not familiar with all the docs references that can be impacted by this issue, so I am afraid I might leave one out.

[2019-06-27 00:20] remkop commented on #753
I was thinking to just add an example to the section on Maps (from line 614 in https://github.com/remkop/picocli/blob/master/docs/index.adoc). I don't think there are any references.

The HTML is generated from that AsciiDoc file (run `gradlew ascii` to generate `build/docs/html5/index.html`).

[2019-06-27 00:23] remkop commented on #753
Alternatively, you can help by providing the text/example code in a comment here, and I will take care of integrating it into the user manual.

[2019-06-27 00:35] feinstein commented on #753
This is easier for me now. I would add something like this at the end of the map section:

Be aware that if you wish to parse a multi-valued `Map` in a single input, a `split` character will be required. That is, if you expect to receive something like:

<command> -m role=admin,level=10,enabled=true

You have to define your @Options configurations as:

[code]

Which will be converted to a `Map` co

[2019-06-27 00:59] remkop commented on #753
Cool, thank you! I'll update here after I merged this in (hopefully tonight).

[2019-06-27 10:56] #753 closed

[2019-06-27 11:05] remkop commented on #753
I decided to improve the example in the [Split Regex](https://picocli.info/#_split_regex) section of the user manual, and point to that section from the [Maps](https://picocli.info/#_maps) section (and also from the [Arrays and Collections](https://picocli.info/#_arrays_and_collections) section).

Thanks for calling this out!   :+1:
The [release notes](https://github.com/remkop/picocli/blob/master

[2019-06-27 11:49] adamsmd opened #754 "Allow boolean options to get value from fallback instead of defaultProvider (Was: Negatable options interact badly with default providers)"
I think I have discovered a problem with the design of negatable options.  Specifically, there is a problem when there is a default provider that dynamically calculates the default (e.g., it gets its values from a configuration file or environment variable).

For example consider a negatable option `foo`.  If the configuration file sets the default to `false`, then `--foo` sets the option to `true

[2019-06-27 12:17] adamsmd opened #755 "Option-specific overwritten options"
Whether options can be overwritten is currently global to a `ParserSpec` and is specified by calling the `setOverwrittenOptionsAllowed`.  Would it be reasonable to support specifying this as an argument to a specific `@Option` or `@Command`?  For example, it might be useful to allow particular negatable options to be used multiple times, but not allowing this for other options.

[2019-06-27 12:18] remkop commented on #754
I am not sure I understand the problem.

Negatable options are [defined](https://picocli.info/#_negatable_options) to set the option to its default value. Based on the research I did for https://github.com/remkop/picocli/issues/694, this is consistent with the semantics of negatable options in other languages.

Isn't it up to the application to use this feature in a way that is as intuitive as pos

[2019-06-27 12:26] remkop commented on #755
Yes, it may be a good idea to allow specific options to be overwritten multiple times while other options should be specified only once.

That said, the todo list for [4.0](https://github.com/remkop/picocli/milestone/40) and [4.1](https://github.com/remkop/picocli/milestone/38) is already quite large, so I don't know when I will get to this. You can speed things up by providing a patch or pull req

[2019-06-27 12:40] remkop opened #756 "Make synopsis indent for multi-line synopsis configurable"
Currently, for commands with a multi-line synopsis, the 2nd line and subsequent lines are indented such that the options are aligned with the end of the command name.

When the command name length plus the synopsis heading length equals or exceeds the usage help message width, there is not enough space to align options to the end of the command name (#739).

In such cases, the 2nd line and subsequ

[2019-06-27 12:42] #739 closed

[2019-06-27 12:42] #756 closed

[2019-06-27 12:59] remkop commented on #754
I am not sure I understand the problem, or rather, I am not sure that picocli can solve this problem.

Negatable options are [defined](https://picocli.info/#_negatable_options) to set the option to its default value. Based on the research I did for https://github.com/remkop/picocli/issues/694, this is consistent with the semantics of negatable options in other languages.

Isn't it up to the applic

[2019-06-27 13:12] feinstein commented on #753
Thank you, it was my pleasure :)

[2019-06-27 14:35] aadrian opened #757 "How to get the version automatically from Gradle or Maven?"
How to get the version automatically? (from Gradle and Maven)?
[code]
This version information is already defined in any Gradle or Maven build file in the `version` property.

Would be really helpful if this property would be available in the annotation, to be able to have something like e.g.:
[code]

Thank you

[2019-06-27 14:56] remkop commented on #757
Would this meet your needs: https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/VersionProviderDemo1.java

This is a `IVersionProvider` implementation that returns version information from a `version.txt` file in the classpath. It also contains a Gradle snippet that updates the content of this file with the project version, name and build time. Together th

[2019-06-27 15:29] aadrian commented on #757
@remkop Thank you for your help!

This solution looks interesting. We are using something similar with GIT commit details too, for webapps where this info also needs to be displayed on pages.

Would it be possible to skip the entire `version.txt` file completely? and have directly as static final field(s) created at compile/built time? With Groovy AST Transform at compile time, this might seems po

[2019-06-27 15:37] remkop commented on #757
@aadrian That may be possible but not sure how. If you find a way, please share it so that the whole picocli community can benefit!

[2019-06-27 16:29] #740 closed

[2019-06-27 16:33] adamsmd commented on #754
Given the current design, I don't think there is a way an application could use these two features together in an intuitive way.

For example, consider the `--status` and `--no-status` flags of `git commit` (see `man git-commit`) and the `commit.status` variable of the `.git/config` configuration file (see `man git-commit`). They behave as follows (which I consider intuitive).

- If `commit.status

[2019-06-27 19:47] deining opened #758 "Duplicate name exception: better / more concise error message"
I'm using the following code to ilustrate the issue:

[code]

**Issue 1:** If I'm running the code above, an exception is thrown:

[code]

Concerning the error message, there is still room for improvement IMHO: currently, the message tells that an option cannot be in multiple groups. This is misleading since in my example, I do have one argument group only. Is it really the argument group you are

[2019-06-28 02:46] remkop commented on #754
@adamsmd  Okay, I understand better now. Thanks for the clarification!

Looks like this is a bigger topic than just negatable options: it holds for all boolean options, regardless of whether they are negatable. Let's try to find a solution that makes the common use case easy and your specific use case possible.

First, I believe that the "common use case" is that explicitly specifying a boolean op

[2019-06-28 04:52] remkop commented on #742
I started to work on this ticket and I found that the problem is not just the error message.

Without the default value, I can see this when I switch on INFO-level tracing. Note that when the second `-g` argument is encountered, the parser creates a new `GroupMatch`:

[code]

When the option has a default value, the parser does not recognize that it is "done" with that group and that it should cre

[2019-06-28 10:13] #742 closed

[2019-06-28 10:18] remkop commented on #742
It turned out that the default value interfered with the parsing logic. This is now fixed.

[code]

Thank you very much for digging deep and trying various corner cases. Really helpful!

[2019-06-28 13:09] remkop opened #759 "Incorrect tracing of end-of-options delimiter"
When the end-of-options delimiter is matched on the command line, the DEBUG level trace message is incorrect: it mentions the hard-coded string `--` instead of the configured end-of-options value.

[2019-06-28 14:12] adamsmd commented on #754
Yes, that would address my concerns, and it seems like a good design.

(By the way, thank you for all the work you do on this project. Both using the library and my interactions with you have been very positive experiences.)

[2019-06-28 15:07] #759 closed

[2019-06-28 15:58] remkop commented on #754
Glad we found a good solution.

And thank _you_ right back! Your ideas and feedback have helped make picocli a better library! :+1:
(That said, I will happily take all the  GitHub stars you can scrounge up... :wink:)

[2019-06-30 00:20] remkop commented on #738
I have finally made some progress with this issue. The parser will now be able to correctly handle cases like this:

* `"-x" "abc"`  -> recognises value `abc` for option `-x`
* `"a,b","x,y"` -> correctly splits into 2 values (not 4): `a,b` and `x,y`
* `"-x" a,b,"c,d,e",f` -> correctly finds 4 values for option `-x`: first is `a`, second is `b`, third is `c,d,e` and last is `f`

I also updated the

[2019-06-30 00:30] remkop opened #760 "Consider deprecating `CommandLine.setSplitQuotedStrings`"
The example in #738 made me realize that the  `CommandLine.setSplitQuotedStrings` functionality should not be advertised as prominently as it is currently. This function may not do what many users think it does!

Essentially, `setSplitQuotedStrings` is mostly for backwards compatibility, for applications that want the pre-3.7 behaviour of **_simply splitting regardless of quotes_**. When this sett

[2019-06-30 00:33] remkop commented on #738
@juddgaddie Your example uses `setSplitQuotedStrings`. That made me realize that the documentation for this backwards-compatibility switch was hugely inadequate. I have updated the [user manual](https://github.com/remkop/picocli/blob/master/docs/index.adoc#9102-splitting-quoted-parameters) and javadocs, but I am considering deprecating this method. Can you take a look at https://github.com/remkop/

[2019-06-30 09:34] juddgaddie commented on #760
Unless I was familiar with the pre3.7 behaviour, I would not expect anyone would imagine that
CommandLine.setSplitQuotedStrings would work as you have shown above.

I would agree with deprecating it.

[2019-06-30 20:53] juddgaddie commented on #738
The cases I would expect the parser to handle for this are:
As above:
"-x" "abc" -> recognises value abc for option -x
"a,b","x,y" -> correctly splits into 2 values (not 4): a,b and x,y

For
"-x" "a,b,c" -> to convert to 3 values for option -x?

For the other cases I would not expect the behaviour to be defined, if it is great..

[2019-06-30 21:23] remkop commented on #738
Thanks for the update. I was able to find a solution that handles nested quotes if they are escaped correctly.  Now writing docs.

[2019-06-30 21:45] garretwilson commented on #647
Sorry, I haven't had time to come back to this with so many projects and deadlines. I won't get a chance to look at it for a couple of months at least.

[2019-06-30 23:49] remkop commented on #647
No worries.
Closing for now; I don’t think there’s any immediate tasks left.
Feel free to open another ticket any time.

[2019-06-30 23:49] #647 closed

[2019-07-01 00:36] remkop commented on #595
Adding this ticket to the 4.0 roadmap:

As part of the work for #738, picocli 4.0 will fully support nested backslash-escaped _double_ quotes. Single quotes will not have any special meaning.

[2019-07-02 18:25] adamsmd opened #761 "Preserving order between separate options (e.g., `--include` and `--exclude)"
Is there a way to define `rsync`-style `--include` and `--exclude` commands where the order of these commands relative to each other is important?  In `rsync` the first `--include` or `--exclude` in the command line that a file matches determines whether the file is included or not.

For example, consider `rsync --include=pattern1 --exclude=pattern2 --include=pattern3 --exclude=pattern4`.

- If a

[2019-07-02 22:02] remkop commented on #761
Makes sense. I thought that this was already supported in the `ParseResult` class, but it is not (yet).

The API will probably look something like this:

[code]

[2019-07-03 01:11] adamsmd commented on #761
By that do you mean, `matchedArgs()` would be the addition to the API?  And to get the actual values you could use either `stringValues()` or `typedValues()` (or counting as you go along the `includes` and `excludes` lists)?

[2019-07-03 01:57] remkop commented on #761
Correct, I plan to add a `matchedArgs()` method that returns all matched options and positional parameters in the order they were matched on the command line.

And, yes, at the moment I’m thinking that applications can get the values via `ArgSpec.stringValues()` or `ArgSpec.typedValues()`. Let me know if you have suggestions for alternatives.

Note that the current `matchedOptions()` and `matchedP

[2019-07-03 14:00] #595 closed

[2019-07-03 14:00] #738 closed

[2019-07-03 14:05] remkop commented on #761
This has been implemented and pushed to master.
See [this test](https://github.com/remkop/picocli/blob/master/src/test/java/picocli/OrderedOptionsTest.java) for example usage.

Please verify.

[2019-07-03 14:05] #761 closed

[2019-07-03 14:22] #760 closed

[2019-07-03 22:11] remkop commented on #754
Initial implementation pushed to master. Added a [simple test](https://github.com/remkop/picocli/blob/master/src/test/java/picocli/NegatableOptionTest.java#L280).
Todo: documentation.

[2019-07-04 07:34] jbduncan commented on #750
I'm pretty sure that Dagger 2 also takes Micronaut's approach in that it generates code for dependency injection at compile time, so if investigating Micronaut leads to a dead end, then looking at Dagger 2 could be another option. :)

[2019-07-04 07:40] jbduncan commented on #750
That being said, IIRC, the way Dagger 2 generates code at compile time is by generating Java source files rather than bytecode. It's unclear to me at this stage which of the two approaches would be better for picocli. :thinking:

[2019-07-04 15:03] f-renout opened #762 "JFile3 autocomplete file path"
Is it possible to have an file path autocomplete using picocli in an interactive shell  with JLine3 (or another component)

For example let say I've a command
@Command
public void myCommand(@Parameter File myFile){
 out.println(myFile.getAbsolutePath());
}

when I try to use picocli and JFile3 I get autocompletion for "myCommand" but I haven't any for filling the parameter path
so

but for example

[2019-07-04 15:58] #754 closed

[2019-07-04 15:59] remkop commented on #754
Final changes pushed to master.
I added a new section [Boolean Options](https://github.com/remkop/picocli/blob/master/docs/index.adoc#boolean-options) to the user manual.

[2019-07-04 16:00] remkop commented on #754
Final changes pushed to master.
I added a new section [Boolean Options](https://github.com/remkop/picocli/blob/master/docs/index.adoc#boolean-options) to the user manual.

Please verify.

[2019-07-04 16:18] remkop commented on #762
I haven't tried this myself, but have you experimented with the [completionCandidates](https://picocli.info/apidocs/picocli/CommandLine.Parameters.html#completionCandidates--) attribute of the `@Parameters` annotation?

For example:

[code]

This does not take into account the (partial) value that the user specified, so it may not be that useful. I wonder if JLine3 has some example file completers

[2019-07-04 19:56] deining opened #763 "PatternSyntaxException when using '\' as split regex"
I'm running the minimum working example below (latest snapshot picocli-4.0.0-rc-1):

[code]

This results in

[code]

[2019-07-04 23:25] remkop commented on #763
It's fantastic that you keep finding edge cases! Please keep it up!

In this case, I think the `split` regex needs another backslash: to specify a literal backslash `\` regex, it needs to be escaped, so we need to specify `\\`.  In Java code, each of these backslashes needs to be escaped again, so the `split` regex for the option should be `@Option(split = "\\\\")`.

I made this test to verify, an

[2019-07-04 23:28] remkop commented on #763
I'll close this ticket but feel free to reopen if I missed something.
Thanks again for helping to make picocli a better library!

[2019-07-04 23:28] #763 closed

[2019-07-04 23:56] remkop commented on #750
With regards to generating bytecode vs source code, it's a bit too early to tell. I don't know much about generating bytecode, so there would be more of a learning curve for me than with generating source code, that is one factor. Generating Java source may be easier to follow and easier to debug, a bit less "magical" than generating bytecode. In the [Micronaut ticket](https://github.com/micronaut

[2019-07-05 01:40] remkop commented on #758
I've started to work on this.

[2019-07-05 05:03] dkelkhoff opened #764 "helpCommand attribute causes deeply-nested sub-command to behave differently than expected"
The sample classes given below demonstrate the issue.  As the code below is written now, it works as expected, when I run a nested-subcommand with options:
[code]

However, if I add `helpCommand = true` to the `@Command` annotation on the `NestingTop` class, then I get this unexpected behavior from the same command-line run
[code]

Now, I agree it was wrong of me to use `helpCommand` where I did,

[2019-07-05 06:06] remkop commented on #764
Thanks for raising this!

One idea to deal with this is to introduce a rule that _commands with `helpCommand = true` should not have subcommands_.

(Can anyone think of other situations that should be prevented in a similar way? It would be good if we can formulate rules in a similar way to prevent such situations.)

The `CommandLine` constructor can throw an InitializationException if it detects

[2019-07-05 06:09] f-renout commented on #762
Hi,
Indeed JLine3 has multiple file completers (https://github.com/jline/jline3/wiki/Completion)

 I manage to archieve quite a good compromise by using JFile3 composer :
            LineReader reader = LineReaderBuilder.builder()
                .terminal(terminal)
                .completer(new AggregateCompleter(new PicocliJLineCompleter(cmd.getCommandSpec()), new Completers.FileNameCompleter()

[2019-07-05 06:31] remkop commented on #762
Nice work!

Yes, it may be a good idea to enhance the PicocliCompleter to allow better integration.

The main logic currently lives in [AutoComplete.java](https://github.com/remkop/picocli/blob/master/src/main/java/picocli/AutoComplete.java#L612) from line 612, and especially line 755 and [line 760](https://github.com/remkop/picocli/blob/master/src/main/java/picocli/AutoComplete.java#L760).

The l

[2019-07-05 12:48] #758 closed

[2019-07-05 12:54] deining opened #765 "split regexp with escaped chars: usage help"
I couldn't reopen #763, so I'm creating a new issue here:
Thanks for helping me out. There is still a minor issue when using split regex:

[code]

This results in

[code]

IMHO, the backslash shouldn't appear in the usage message since it might confuse the user.

[2019-07-05 13:17] #744 closed

[2019-07-07 22:01] remkop commented on #765
I agree. I was aware of this but you're right, it should be fixed.

[2019-07-09 11:25] remkop commented on #765
I started to look at this again. I remember now why I didn't do anything about this earlier, it's actually quite tricky. Taking a look at the [spec](https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html), you'll see that there are escaped characters that have special meaning and should not be "unescaped":

Regex|Meaning
-- | --
\d | A digit: [0-9]
\D | A non-digit: [^0-9]
\s | A w

[2019-07-09 12:13] #748 closed

[2019-07-09 13:38] deining commented on #765
This is tricky, indeed.

What about adding 'usageSplit' to the annotation?

@Option(names = "x", split = "\\|", usageSplit="|" )

Then the user has full control over the text used.
If usageSplit is not specified, the currently implemented usage text is printed.

Just an idea, WDYT?

[2019-07-09 15:15] remkop commented on #745
Initial implementation pushed to master: runtime initialization exception from the `CommandLine` constructor and compile-time error by the annotation processor.
Still need to check and make changes to the documentation.

[2019-07-09 15:23] remkop commented on #765
Interesting! That is a better idea than what I was able to come up with.
I need to think about this a bit further.

[2019-07-10 05:58] remkop opened #766 "Spring Boot autoconfiguration"
Working with the new `picocli-spring-boot-autoconfigure` module, I seem to have a problem getting the Spring Boot autoconfiguration to work for `PicocliSpringFactory`.

I expect this configuration to be able to produce the auto-configured factory:

[code]

What actually happens is that the application fails to start because the `IFactory` bean cannot be found in the application context. What am I

[2019-07-10 06:01] remkop commented on #658
@dupirefr, making good progress on the Spring support now, but struggling a bit with Spring Boot auto-configuration. I wonder if you would be able to give any advice on this issue: https://github.com/remkop/picocli/issues/766

[2019-07-10 10:57] remkop commented on #766
The answer turned out to be simple: add the `@EnableAutoConfiguration` to the configuration...

[code]

[2019-07-10 10:57] #766 closed

[2019-07-10 13:14] remkop commented on #658
@dupirefr The `picocli-spring-boot-starter` module contains a `PicocliSpringFactory` and an auto-configuration class for much improved Spring integration.

I believe this fixes the issue reported in this ticket. Can you verify?

This will be included in the upcoming picocli 4.0 release.

[2019-07-10 13:14] #658 closed

[2019-07-10 13:17] remkop commented on #496
Update: this has been implemented and pushed to master.
Remaining task: documentation.

[2019-07-10 15:13] #745 closed

[2019-07-10 15:14] remkop commented on #745
Done and pushed to master. Please verify.

[2019-07-10 15:37] #496 closed

[2019-07-11 13:39] #736 closed

[2019-07-11 13:43] remkop commented on #736
I added a `CommandSpec.remove(ArgSpec)` method that makes it possible to do thing like in the above example: remove option, make a copy with a different attribute, then add the copy back.

See also [this test](https://github.com/remkop/picocli/blob/master/src/test/java/picocli/CommandLineModelTest.java#L1581).
Can you verify?

[2019-07-12 20:18] lpar commented on #372
Hmm, maybe this worked at the time, but it doesn't work now:

`fun main(args: Array<String>) = CommandLine(MyApp()).execute(*args)`

Because `execute` returns an int, Kotlin deduces that main returns an int, so you get a warning saying that `main` should return `Unit`. If you ignore that you get a run-time error:

define the main method as:

So I think it should be

[code]

[2019-07-13 03:44] remkop commented on #372
@Ipar, thanks for catching that!
My bad, I didn’t verify the Kotlin example with the new `execute` API.
I’ll fix this as soon as possible.

[2019-07-13 07:46] remkop commented on #372
@lpar Thanks again for the bug report!
I fixed the user manual.

[2019-07-16 01:27] remkop commented on #713
TODO: fix class-diagram-parsing diagram:

* `IParameterIExceptionHandler` spelling -> IParameterExceptionHandler
* layout of center and right-most box: reorder to `IDefaultValueProvider`, `IVersionProvider`, `ITypeConverter` and reorder on the right to have straight-lined arrows between middle and right box.

[2019-07-17 05:19] #713 closed

[2019-07-17 14:24] querqueq opened #767 "JLine2 interactive option does not handle input interactivly correct"
When using an interactive option in combination with jline2, prompting for the option value does not work correctly. It asks only once for the first character and allows no further input. On a Windows machine (cmd) it asked twice, once for the first character and another time for all following characters. Only the characters input the second time are printed.
Also trying to tab complete the value

[2019-07-17 17:56] chinnaharsha09 opened #768 "How to disable Usage when required Option is not given?"
Hi Team,

I have a question here. I have a command which has 3options, among them 2 are manditory. If i miss any one among the manditory options, by default along with error it shows usageof command like:

Missing parameter *A*
Usage: <main class>
-a description
-b description
-c description.

My requirement is just: if any of required parameter is not given it just has to show specific error.

Wh

[2019-07-18 00:01] remkop commented on #768
Hi! Your question looks similar to this: https://github.com/remkop/picocli/issues/480

The last comment in that ticket shows a custom `IParameterExceptionHandler`. I believe that this code (or something similar) will give you the desired behavior.

This can be configured with `CommandLine.setParameterExceptionHandler`. Can you try and see if that does what you want?

[2019-07-18 02:06] remkop commented on #767
Thank you for the asciinema recording and the code to reproduce the problem.

Looking at the code for jline2 [ConsoleReader](https://github.com/jline/jline2/blob/master/src/main/java/jline/console/ConsoleReader.java), it hooks in a custom signal handler to deal with keyboard interrupts. I guess that this does not interact well with calls to `Console.readPassword`, which may under the hood do somet

[2019-07-18 07:45] chinnaharsha09 commented on #768
Hi,

_Thanks for your quick response._

How to use `IParameterExceptionHandler` for subcommands.

[code]

[2019-07-18 09:13] remkop commented on #768
What I would do is take the code for the `ShortErrorMessageHandler` class from the last comment in #480, and copy it into your project. You can modify (simplify) it if necessary.

Then use it by changing your `main` method to:

[code]

[2019-07-18 11:21] querqueq commented on #767
Thank you! A custom password handler with IParameterConsumer works:

[code]

[2019-07-18 11:32] remkop commented on #767
Great! Glad we were able to solve that.

Would you be interested in helping to improve the documentation so that other users won’t run into this?

I’m thinking along the line of a brief note in the user manual section on interactive options, and an example custom consumer in the readme for the `picocli-shell-jline2/3` module(s).

What do you think?

[2019-07-18 11:33] remkop commented on #767
By the way, picocli 4.0 GA has been released so you may want to upgrade. :-)

[2019-07-18 13:18] querqueq commented on #767
Sure, I'll create a PR with a note and an example for both modules.

[2019-07-18 13:20] MortronMeymo opened #769 "Annotation processor fails on subcommands with mixins (4.0.0)"
The annotation processor fails with a duplicate option exception when a subcommand uses a mixin.
Minimal example:
[code]

Annotation processor output:
[code]

[2019-07-19 00:50] remkop commented on #768
Please let me know if that solved the issue (and this ticket can be closed) or whether you need more information. :smiley:

[2019-07-19 00:53] remkop commented on #769
Thank you for the bug report! Investigating...

[2019-07-19 05:01] remkop commented on #769
I found the cause. Basically, mixins are discovered twice and stored in an internal datastructure twice. There is a de-duplication step missing which results in the mixins being added twice, giving the error you are seeing. I'll fix this as soon as possible.

[2019-07-19 12:15] #769 closed

[2019-07-19 12:15] remkop commented on #769
I pushed a fix for this issue to master.
Please verify.

[2019-07-19 12:46] MortronMeymo commented on #769
Verified. The processor now runs fine on this example as well as my real project.

All I need now is for it to generate Java code and then I'm 100% happy :)

[2019-07-19 13:01] remkop commented on #769
Thanks for the verification!

About code generation: I did some initial work on this, which is currently just used for testing (see the test I added in the commit to fix this bug). One of the goals is to be able to run without reflection (https://github.com/remkop/picocli/issues/539). That will take a while longer. :-)

[2019-07-19 13:19] remkop commented on #769
I released picocli 4.0.1 with the fix for this bug.
Thanks again for the bug report!

[2019-07-19 14:54] remkop commented on #769
...and don’t be shy to star picocli on GitHub and tell your friends if you like the project! :-P

[2019-07-22 11:45] bobtiernay-okta opened #772 "zsh completion script should not assume `complete` command exists"
After recently upgrading my macOs to Mojave, I found out that my Picocli autocomplete script stopped working with the following error:

[code]

To solve the problem I needed to add the following prior to running the script:

[code]

On further inspection, I noticed https://picocli.info/autocomplete.html#_install_completion_script illustrates in passing that [this](https://stackoverflow.com/a/27853

[2019-07-22 11:51] remkop commented on #772
I’m open to any improvements.
Do you think you can provide a pull request?

[2019-07-23 05:40] dupirefr commented on #658
Hi!

Sorry that I didn't get back at you sooner, I was pretty busy. If it's not
too late I'll try to have a look at this in the weekend.

Kind regards,

François DUPIRE
GSM : +32 (0)474/48 55 82

On Wed, 10 Jul 2019 at 15:14, Remko Popma <notifications@github.com> wrote:

[2019-07-23 08:35] aadrian commented on #757
@remkop This https://picocli.info/#_dynamic_version_information looks interesting, especially the Meta-Inf https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/VersionProviderDemo2.java  example, since a correctly configured application will always generate that file with the version number.

Unfortunately that example just picks the first Meta-Inf that has

[2019-07-23 13:20] remkop commented on #757
No, that statement is incorrect. The example loops over all manifests in the classpath, until it finds (see the `isApplicableManifest` method on [line 69](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/VersionProviderDemo2.java#L69)) a manifest that has `"picocli"` as its implementation title, then prints attributes from that particular manifest.

An

[2019-07-23 13:37] aadrian commented on #757
Yes, but the `Implementation-Title` property of many JARs is not correct, so the first one in the classpath wins.

Indeed, that's a good workaround.

A "marker" property different than `Implementation-Title` could ensure uniqueness since the manifest specs seem to allow custom property names.

[2019-07-24 04:24] remkop commented on #658
@dupirefr Thank you! Since the 4.0 release, I expect that picocli offers much better Spring support, but it would be great if you could confirm that my assessment is correct.

Of course, suggestions for improvements are always very welcome!

[2019-07-26 11:42] triceo opened #773 "IntelliJ IDEA fails to compile project w/ annotation processor"
The IDE's compiler says:

    Error:java: Bad service configuration file, or exception thrown while constructing Processor object: javax.annotation.processing.Processor: picocli.codegen.aot.graalvm.processor.NativeImageConfigGeneratorProcessor Unable to get public no-arg constructor

This can be worked around by disabling annotation processing in the IDE, but that setting then switches itself back

[2019-07-26 12:10] remkop commented on #773
Thanks for the report. I’ll take a look ASAP.

[2019-07-26 12:13] remkop commented on #773
What’s your Intelli/J version?

[2019-07-26 13:08] triceo commented on #773
![About my IDE.](https://user-images.githubusercontent.com/247403/61953657-44396980-afb7-11e9-99ef-29509c94bd78.png)

[2019-07-26 23:15] remkop commented on #757
I see what you’re saying now: Could picocli not include a version provider implementation that looks for a custom property in the manifest and prints version information from the first jar in the classpath that has a manifest with that custom property?

Perhaps I was focused too much on the built-in attributes like `Implementation-Version` or `Specification-Version`.

Actually all my questions can

[2019-07-27 10:30] dupirefr commented on #658
Hi @remkop ,

I just tested the feature, it works like a charm! Thanks a lot for fixing that problem :-).

Cheers!

François

[2019-07-27 11:47] remkop commented on #658
Great! Thanks for the confirmation.

[2019-07-27 19:33] rome-legacy commented on #766
Hi @remkop,

i'm also having this problem, but proposed solution does not work (also because i use `@SpringBootApplication` annotation like proposed in documentation)
i'm using spring boot starter 2.1.6 and picocli 4.0.1

[code]

[2019-07-28 02:07] remkop opened #774 "Allow long options to be left-aligned in usage help"
The checkstyle team are not happy (see https://github.com/checkstyle/checkstyle/pull/6924) with the option layout where short options are in a separate column from long options. They prefer a layout where long options appear left-aligned.

[2019-07-28 02:11] remkop commented on #774
Note that this is already configurable and I will provide an example of how to accomplish this with the current version of picocli.

[2019-07-28 05:27] remkop commented on #766
@rome-legacy It’s hard to tell what could be the problem. Can you share your code?

[2019-07-28 12:43] rome-legacy commented on #766
Hi @remkop ,
i could fix the problem. i was missing the `picocli-spring-boot-starter` module in my pom. maybe you add this detail to https://picocli.info/#_spring_boot_example.
or maybe it is just me, i was using the https://github.com/kakawait/picocli-spring-boot-starter before and was following his repository.

anyway, after adding the right dependency (https://github.com/remkop/picocli/tree/mas

[2019-07-29 02:13] remkop commented on #768
@chinnaharsha09 Can this ticket be closed?

[2019-07-29 07:48] remkop commented on #767
Thank you for the PR in https://github.com/remkop/picocli/pull/775!
I went ahead and merged it.

However, looking at your example above, I actually like the inner class a bit better, because it is smaller and does not require a custom factory.

The main purpose of the example in the shell-jline2 README is to illustrate how JLine 2 and picocli can be used together in general, and specifically how t

[2019-07-29 14:21] teoincontatto opened #776 "Argument groups ignored in mixins (was: Heading section ignored when used inside mixins)"
I am not sure if this is expected behaviour or a bug but here it goes.

When I declare some heading section to show in the help using a mixin those sections does not appear:

* Test code

[code]

* Output

[code]

Removing the mixin and defining the options directly in the command has the expected result:

* Test code

[code]
* Output:

[code]

[2019-07-29 22:28] remkop commented on #766
@rome-legacy Great to hear the problem was resolved.

I updated the user manual to mention the dependency: https://picocli.info/#_spring_boot_example
Thanks for the suggestion!

[2019-07-29 22:29] remkop commented on #776
Thank you for the bug report and for the code to reproduce the issue.
I'm looking into this now.

[2019-07-29 22:42] remkop commented on #773
I was unable to reproduce the issue with my version of IntelliJ (2019.1.1). I will try to upgrade next.

Meanwhile, the `picocli-examples` module has 2 example Maven projects, and this is what I did to try to reproduce the issue:

* check out the picocli project
* in IntelliJ, do File > New > Project from Existing Sources...
* specify the full path to `picocli-examples/annotation-processing/exampl

[2019-07-30 00:19] remkop commented on #776
Update: the problem is bigger than just the headers: it turns out that the logic for importing mixin elements does not take argument groups into account at all. Only the options and positional parameters are mixed in, but the argument group information is ignored.

This is an oversight, not by design. I'm looking now at how to address this.

----

_Side note:_

picocli does not add a newline after

[2019-07-30 10:06] remkop commented on #774
The example below demonstrates how to left-align long options in the usage help.

It currently is quite a bit of code. In future versions of picocli it would be nice to provide some API so that applications can accomplish this more easily.

[code]

This produces the following usage help message. Note that the `--large-option` option is left-aligned:

[code]

[2019-07-30 10:57] remkop commented on #767
I'm a bit surprised that you did not encounter problems with jline3. Note that jline3 by default gives a `dumb` terminal. To get "advanced capabilities" you need to have either Jansi or JNA library in your classpath along with the `jline-terminal-jansi` or `jline-terminal-jna` jar.

Is that what you tested?

[2019-07-30 12:58] triceo commented on #773
Interesting. I wasn't able to reproduce using that approach.

Can you check out my project?
https://github.com/RoboZonky/robozonky

To get the compiler error, you shouldn't need to do anything else but
Build > Rebuild Project

[2019-07-30 13:41] eomeara opened #777 "Codegen fails when command contains field with argGroup annotation (4.0.1)"
Sample argGroup code in documentation causes codegen to fail during gradle build.
Also don't know why warning is present.
Sample project attached.

**build.gradle.kts**
[code]

**MutuallyExclusiveOptionsDemo.java**
[code]
**Gradle console output**
[code]
[args-bug.zip](https://github.com/remkop/picocli/files/3446878/args-bug.zip)

[2019-07-30 14:05] remkop commented on #777
Thanks for reporting this!
This looks like a bug in the annotation processor. I’ll take a look.

[2019-07-30 18:57] triceo commented on #773
(I should also note that I am seeing this issue ever since I upgraded to IntelliJ 2019.2. I was not seeing it on your 2019.1.)

[2019-07-30 22:19] remkop commented on #776
@teoincontatto Thank you again for raising this!
I'm planning to add some more tests but I believe I found a fix that addresses the issue you reported and the bigger problem that `@ArgGroup`s in mixins were ignored altogether.
I pushed a fix to master. Can you verify?

[2019-07-30 23:13] remkop commented on #773
I am now trying to compile the robozonky project in IntelliJ 2019.1.1, but I am having trouble with the Java version. What is the required Java version for the project?

[2019-07-31 06:06] triceo commented on #773
It requires Java 11 or later.

[2019-07-31 21:36] teoincontatto commented on #776
Hi @remkop, glad to help picocli to get better with my 2 cents. Sorry for not being able to test the master branch with my code base. I'll try it out this monday hopefully.

Regards

[2019-07-31 23:29] remkop commented on #776
Great! The easiest way to do this is to check out the project in git, then run `gradlew publishToMavenLocal` on the command line.

After that you can use the `picocli-4.0.2-SNAPSHOT` dependency in your project.

[2019-08-01 05:51] remkop commented on #777
I was able to reproduce the problem. There are several issues with argument groups in the annotation processor. I am looking at how to address this.

About the warning: The picocli annotation processor is compiled with Java 6, and by default has a supported source version of RELEASE_6. Looking at [this StackOverflow](https://stackoverflow.com/questions/23044511/supported-source-version-release-6-f

[2019-08-01 13:28] querqueq commented on #767
You right about the example being to bloated. I'll put it in its own section in the README but I think the test classes should also reflect what's in the README.

I tried it with the dumb terminal in eclipse and in linux bash without any problems. I will also see if it works in Windows' cmd.

[2019-08-01 22:23] remkop commented on #767
I wasn't sure if the dumb terminal would intercept interrupts and have this problem. I took a brief look at the code for jline3 and I'm still not sure but I suspect that even the dumb terminal intercepts interrupts. Still, if you could check on Windows that would be great.

Thank you very much!

Makes sense.

[2019-08-01 23:02] remkop commented on #773
Thanks, made some progress but now bumped into a different error:
Error:(64, 49) java: cannot find symbol
  symbol:   class NaturalLanguageStrategyParser
  location: class com.github.robozonky.strategy.natural.SideEffectFreeParser

I will check again later.

[2019-08-02 08:15] triceo commented on #773
Yeah, that's a problem I have not yet resolved. :-(

If you `mvn clean install` from the command line in the `robozonky-strategy-natural` module, it will generate the parser and from that moment, IDEA project building will succeed.

[2019-08-02 08:20] remkop commented on #773
Cool, let me try that.

[2019-08-04 22:16] remkop commented on #777
It took a while, but I pushed a fix for this issue to master.
It would be great if you can confirm.

I will add some more tests and hope to do a 4.0.2 release with this fix later this week.

[2019-08-05 05:18] remkop commented on #768
Closing this ticket. Feel free to reopen or create another one if there is more work to be done on this.

[2019-08-05 05:18] #768 closed

[2019-08-05 07:41] remkop commented on #774
Many commands do left-align long options, but an example of a command whose usage help shows the long options in a separate column is `man --help`:

[code]

[2019-08-06 08:11] teoincontatto commented on #776
I was able to pass the simple test using the 4.0.2-SNAPSHOT version. Now I am facing a `DuplicateOptionAnnotationsException` in a more complex use case. I managed to generate a simple test case that reproduce the new issue:

[code]

Since this seem to be unrelated to the original issue let me know if you want me to open a new one.

[2019-08-06 08:28] teoincontatto commented on #776
If I do not use mixin then the result (with version 4.0.1 and 4.0.2-SNAPSHOT) is not trowing exception but it prints the nested options outside of the section in the help:

* Test code:

[code]

* Output:

[code]

[2019-08-06 09:06] remkop commented on #776
@teoincontatto Thanks a lot for finding more issues in this area!
It may be good to open a separate ticket for this, if you don't mind.
I will start investigating.

[2019-08-06 09:10] remkop commented on #776
Something strange:
In your last comment, the Output mentions an option `-tc1, --test-c1=<testC1>`, but I don't see a definition for that option in either the `Test` class or the `TestWithoutMixin` class...

[2019-08-06 10:53] teoincontatto commented on #776
You right, I've mixed code and output with another test I did, I correct the output with the real one in the previous message.

In any case I'll open separates issues with corrected source and output.

[2019-08-06 10:56] teoincontatto opened #778 "Nested group outside of the section in the help"
Using version 4.0.1 and 4.0.2-SNAPSHOT when a nested group is present inside another one the nested group's options are printed outside of the section in the help:

* Test code:

[code]

* Output:

[code]

_Originally posted by @teoincontatto in https://github.com/remkop/picocli/issues/776#issuecomment-518567155_

[2019-08-06 10:59] teoincontatto opened #779 "DuplicateOptionAnnotationsException when a nested group is defined inside a mixin"
With version 4.0.2-SNAPSHOT I am facing a `DuplicateOptionAnnotationsException` in a particular use case. The mixin is using a nested group inside of a group. I managed to generate a simple test case that reproduce the issue:

* Test code:

[code]

* Output:

[code]

_Originally posted by @teoincontatto in https://github.com/remkop/picocli/issues/776#issuecomment-518560566_

[2019-08-06 11:27] #777 closed

[2019-08-06 11:31] remkop commented on #777
Fixed in master.
@eomeara  It would be great if you could confirm. The easiest way to do this is to check out the project in git, then run `gradlew publishToMavenLocal` on the command line. (Or `gradlew  -x check publishToMavenLocal` to skip the tests.)

After that you can use the `picocli-4.0.2-SNAPSHOT` dependency in your project.

[2019-08-06 11:42] remkop commented on #779
Thank you again for raising this!
I think I know what the issue is and will commit a fix shortly.

[2019-08-06 12:00] #779 closed

[2019-08-06 12:01] remkop commented on #779
Fixed in master.
Can you verify?

I plan to do a picocli-4.0.2 release that includes this fix later this week.

[2019-08-06 12:08] remkop commented on #778
Hmm, yes, but is there really is a problem? The `A1` group itself does not have any options. The `-ta1` and `-ta2` options are in the `NestedA1` nested subgroup, but that subgroup does not have a heading. If we give the nested subgroup a heading, like this:

[code]

Then the resulting usage message looks like this:
[code]

I believe this is reasonable. Do you think it should behave differently?

[2019-08-06 12:12] remkop commented on #776
@teoincontatto Thank you for raising separate tickets for the new issues. I have fixed (hopefully) #779, and provided some feedback on #778. Let's continue the discussion on the respective tickets.

About the original problem here (Argument groups ignored in mixins), I think that has also been fixed. Are you okay to close this ticket?

[2019-08-06 12:28] teoincontatto commented on #776
Yes seems resolved.

[2019-08-06 12:28] #776 closed

[2019-08-06 12:36] teoincontatto commented on #778
I see. Actually, this does not fit my use case. What I was trying to achieve was a section in the help to specify parameters to connect to a database (like host, port and so forth) and I have some parameters that are exclusive to indicate the connection mode (ssl, ssl with full cert validation, no ssl) that should appear in the same section.

[2019-08-06 12:52] remkop commented on #773
I was able to successfully build the project in IntelliJ IDEA 2019.1.1. The problem does not manifest with that version.

After upgrading to IntelliJ IDEA 2019.2, I also see the error:

Investigating....

[2019-08-06 13:08] remkop commented on #778
What would you like the usage help to look like for your use case?

[2019-08-06 13:13] eomeara commented on #777
Will try to check this evening. Was on bank holiday weekend Saturday to Monday.

[2019-08-06 13:51] teoincontatto commented on #778
Well, actually if I could include an excluded group inside of a section with other parameters that would fit the use case. As an example the output I would expect referred to the initial test of this issue would be:

[code]

[2019-08-06 14:58] remkop commented on #778
Not sure that I follow...
In the example, the `A1` class doesn’t seem to serve any purpose. It could be removed, and a heading could be added to the `NestedA1` group, with the same parsing behavior and the desired usage help message.

If your actual use case is different it may be more productive to discuss the actual use case instead of an artificial example. Would that be possible?

[2019-08-06 15:11] teoincontatto commented on #778
I'll prefer to get stuck to artificial example. In order to resemble better my use case I'll try to adapt the example with my use case:

* Code:

[code]

* Actual output:

[code]

* Expected output:

[code]

[2019-08-06 15:19] remkop commented on #778
Thank you for the clarification. I need some time to think about this.

[2019-08-06 16:03] teoincontatto commented on #779
Confirmed!

[2019-08-06 22:17] remkop commented on #773
I added a public no-arg constructor to `NativeImageConfigGeneratorProcessor`, but it did not make a difference...

I tested by running `gradlew -x check pubToMavenLocal` in the picocli project, then change the robozonky project pom.xml to `<version.info.picocli>4.0.2-SNAPSHOT</version.info.picocli>`, re-import Maven config, I confirmed that IDEA picked up the changes (dependencies in project view

[2019-08-06 23:09] remkop commented on #776
Thanks for the confirmation!

[2019-08-06 23:23] remkop commented on #779
Thanks for the confirmation!

[2019-08-06 23:47] remkop commented on #778
I found a way to accomplish this with the current version of picocli:
you can specify the `order` attribute on the `@ArgGroup` annotation to manually control the ordering. This attribute only works for argument groups with a non-null `heading`, but you can specify an empty string for the heading. For example:

[code]

Would that work for you?

We should probably improve the documentation in this a

[2019-08-06 23:53] remkop commented on #778
Looking closer, the javadoc for [ArgGroup.order](https://picocli.info/apidocs/picocli/CommandLine.ArgGroup.html#order--) is wrong: it does not matter whether `@Command(sortOptions=true)`.
What matters is that the `@ArgGroup` has a non-`null` heading: if that is the case, the option in the argument group are grouped together in the usage help. Otherwise they are mixed in with the other options in t

[2019-08-07 07:28] teoincontatto commented on #778
The option you mention of using the order inside `@ArgGroup` would totally work for me. Thanks for the hint and for your time helping me out, I really appreciated! :smiley:

[2019-08-07 09:52] eomeara commented on #777
My build now succeeds and all tests pass. In future I intend to move my code to GraalVM, though not yet.
Using the annotation processor is my first step.
P.S. Thanks for a great library.

[2019-08-07 10:14] remkop commented on #777
Thank you for the confirmation!

[2019-08-08 14:01] #778 closed

[2019-08-08 21:38] remkop commented on #778
I updated the user manual (this is live already) and the javadoc (for the next release).

[2019-08-08 22:22] remkop opened #781 "Mixin options not added in source order when running on Java 12+"
When testing `AutoCompletionTest` with Java 12 or Java 13, the standard help mixin options are added to the command in reverse order (not in source order):

[code]

[2019-08-08 23:32] remkop commented on #781
This is a regression caused by the fix for #776.

[2019-08-09 11:49] #781 closed

[2019-08-09 20:59] Rubyjunk opened #782 "Minecraft Forge - Passing in dependencies & 'DIY' command execution with subcommands"
I'm trying to use this library with Minecraft Forge. Unfortunately, to send messages in Minecraft I need to call `ICommandSender#sendMessage`, and not `System.out` or any `OutputStream`. I might also need to pass in some other objects/dependencies to the command logic as well. Does this library support a usecase such as this?

[2019-08-09 23:47] remkop commented on #782
Yes that should all be possible.
Picocli will instantiate subcommands and things like type converters and default providers, but the application can control what objects are created (and can pass in other dependencies) by specifying a custom [factory](https://picocli.info/#_custom_factory) to the CommandLine constructor.

For messages you will need to wrap the `ICommandSender` stuff in an adapter

[2019-08-11 01:38] Rubyjunk commented on #782
Hi, thanks for the info. I tried writing a wrapper class for PrintWriter but I was just wondering if there was a better way. I'll take a look later today, but it seems like using something other than CommandLine#execute becomes unnecessarily complicated when using subcommands because the logic for subcommands is not handled for you, that's correct?

[2019-08-11 16:52] Rubyjunk commented on #782
I've gotten it working. For anyone else trying to use these libraries together, here's the PrintWriter wrapper class that worked for me

[code]

And the custom factory works flawlessly. Amazing library!

[2019-08-11 16:52] #782 closed

[2019-08-12 07:08] meshiruff opened #783 "Passing option of one command to the next one"
After inserting an option and running a command, and then running another command, the option of the first command is overwritten. is it possible to save the first option i enter and pass it to the next command?

Thanks.

[2019-08-12 07:31] remkop commented on #783
As you mentioned, picocli will ensure all options and positional parameters are set to either their default value or the value specified on the command line. This is to ensure that applications can reuse a `CommandLine` instance for multiple invocations _without_ seeing the result of a previous invocation.

One idea is to create a new `CommandLine` instance for each invocation, and pass the previo

[2019-08-12 07:46] remkop commented on #782
@Rubyjunk sorry for the late reply, I was climbing a mountain. :-)

Glad to hear you got it working and glad to hear you like picocli. Please star the library on GitHub and spread the word! :wink:

I'm always looking for ways to improve the library, and I'm still thinking about your comment that "using something other than CommandLine#execute becomes unnecessarily complicated when using subcommand

[2019-08-13 05:29] remkop commented on #773
I added constructors to all annotation processors: the `NativeImageConfigGeneratorProcessor` constructor is public, its superclass constructors are protected.

I released picocli 4.0.2 with these changes. Can you verify with this version?

If the problem still exists there may be an issue in Intelli/J IDEA, or perhaps there’s another issue in picocli than the error message indicates. Either way we

[2019-08-13 06:44] triceo commented on #773
Upgraded to 4.0.2, didn't help. :-(
Filed a bug with Jetbrains: https://youtrack.jetbrains.net/issue/IDEA-220545

[2019-08-13 23:02] nicobrevin commented on #299
As a first step, I'd be happy to just have a utility that can take an unparsed command line and generate mardown etc - doing this at compile time would be nice, but that's a whole new level of complexity.  Most projects are CLIs, and so should be able to support a `my-app --help --as-markdown` options to produce the help?

[2019-08-13 23:44] remkop commented on #299
One way to make progress on this would be to add a utility class to the `picocli-codegen` module. Given a `CommandSpec` object, this utility would return a String with the usage help in either AsciiDoc or MarkDown (these formats are very similar).

@nicobrevin Do you think you’ll be able to provide a pull request for this?

[2019-08-14 00:28] bobtiernay-okta opened #784 "Custom `Factory` fails to create collection for `@Option`s"
Right now, for the following command method option:

[code]

I'm getting the following exception:
[code]

My `Factory` is pretty simple, which simply delegates to Guice. But since I don't have a component created for options, it fails. This behavior seems to have changed between 3.x and 4.x, but I'm not sure how to resolve for command methods. I was able to fix it for fields by supplying a default

[2019-08-14 01:52] remkop commented on #784
You are right.

The recommended way to fix this is to delegate to the picocli default factory if the requested bean cannot be found in the configuration. This is what the built-in [PicocliSpringFactory](https://github.com/remkop/picocli/blob/master/picocli-spring-boot-starter/src/main/java/picocli/spring/PicocliSpringFactory.java#L26) does.

Something like this:

[code]

I tried to track down when

[2019-08-14 01:55] remkop commented on #783
@meshiruff Don't hesitate to let me know if you have more questions.

[2019-08-14 02:00] remkop commented on #702
@viliam-durina Have you had a chance to look at [custom parameter parsing](https://picocli.info/#_custom_parameter_processing) as a way to pass parameters to a 3rd party command?

Is there any work remaining on this ticket or can it be closed?

[2019-08-14 06:38] meshiruff commented on #783
Hi,
I want to save the values of the command and pass it to the others, but i cant find the object that contains the values of the options, just the originalArgs list.

can you help me with that?
thanks

[2019-08-14 06:54] remkop commented on #783
Okay, my suggestions below may not work for your use case (I have no idea what your application looks like), but let me give it a try.

Suppose you have a command class with some options, like in this (very simple) example:

[code]

Now, in your application you parse the user input, let's assume that the user input has already been tokenized into an array of `String`s:

[code]

[2019-08-14 08:23] meshiruff commented on #783
I use parseWithHandlers for excuting the command, and i want to add to the parseResult the options that was there before

[2019-08-14 08:44] remkop commented on #783
`parseWithHandlers` has been superceded by `CommandLine.execute` in 4.0 (`execute` does the same as `parseWithHandlers` but gives more flexiblity, see https://picocli.info/#_migration).

Do you have a custom `IParseResultHandler2` or are you using one of the built-in ones (e.g. RunLast)?

How would your `Runnable` or `Callable` commands get those previous values from the `ParseResult`?
Wouldn't it

[2019-08-14 11:46] bobtiernay-okta commented on #784
That works, thanks a lot!

[2019-08-14 18:34] daggerok opened #785 "picocli migration guide: 3.x -> 4.x"
Hello,

Please let me know if there are some migration guides available from picocli 3 to picocli 4?
I upgraded my cli app 3.9.6 -> 4.0.2 and found quite a lot of braking changes, it would be good, if you already have some common list of most asking question I could read to do all needed changes.

Thanks!

---
Regards, Maksim

[2019-08-14 22:18] remkop commented on #785
Hi,

The [4.0 release notes](https://github.com/remkop/picocli/releases#4.0.0) has a section on [potentially breaking changes](https://github.com/remkop/picocli/releases#4.0.0-breaking-changes).

Also, the user manual has a [section on migrating](https://picocli.info/#_migration) to the new `execute` API.

Let me know if there’s other issues not covered and I’ll update the documentation.

[2019-08-14 23:33] daggerok commented on #785
Hello @remkop
Thanks for your feedback. I will check and come back with updates in case if anything else

[2019-08-15 00:26] remkop commented on #785
Note:  I will add something about custom factories to the breaking changes section:

From 4.0, picocli instantiates all `Collection`s via the factory. It is recommended that custom factories should fall back to the default factory.

See https://github.com/remkop/picocli/issues/784 for details.

[2019-08-15 01:40] remkop commented on #280
@pditommaso [picocli 4.0 GA](https://github.com/remkop/picocli/releases/tag/v4.0.0) was released in July with support for this feature:
Options can have a `fallbackValue` attribute that is used when the option is specified on the command line without a value. The user manual has an [example](https://picocli.info/#fallbackValue-annotation).

There's also a bunch of other new features in picocli 4.0

[2019-08-16 15:48] remkop commented on #784
User manual updated, and added entry to the 4.0 release notes under breaking changes.
Thanks for pointing this out!

[2019-08-16 15:48] #784 closed

[2019-08-16 15:54] remkop commented on #785
Documentation regarding factories updated.

Can you explain about the breaking changes you found?

[2019-08-17 00:58] remkop opened #787 "StackOverflowError when subcommand is subclass"
As reported by @petermr on the picocli mailing list, when a subcommand subclasses its parent command, a `StackOverflowError` is thrown during initialization.

To reproduce:

[code]

Example stack trace (differs per invocation):

[code]

[2019-08-18 02:16] remkop commented on #787
I believe this is simply a consequence of how reuse works in picocli:
When a command B subclasses another command A, it will get all attributes (and subcommands) of A.
If one of these subcommands is actually command B, then B becomes a subcommand of itself. This is not supported.

I improved things by throwing a more friendly `InitializationException` when such an eternal loop is detected.

Exampl

[2019-08-18 12:03] #787 closed

[2019-08-18 22:44] remkop opened #788 "Add link to GitHub examples in user manual Mixins section"
As per discussion with @petermr in the mailing list, add link to GitHub examples in user manual Mixins section.

Text:

Location: at the end of 17.2.2. `@Mixin` Annotation

[2019-08-18 22:52] #788 closed

[2019-08-19 04:44] remkop opened #789 "Doc: improve negatable options user manual section"
Add this usage help message:

[code]

[2019-08-19 10:00] remkop opened #790 "JEP 293 (Guidelines for JDK Command-Line Tool Options) compliance"
Enhancements to allow picocli-based CLI apps to be [JEP 293: Guidelines for JDK Command-Line Tool Options](https://openjdk.java.net/jeps/293)-compliant:

* Make ellipsis (`...`) configurable (JEP 293 mentions the help should "use * for repetition" in complex structured values. Note that I haven't found a single utility in JDK 12 that actually does this; all tools use `...`)
* Make option parameter

[2019-08-19 10:43] pditommaso commented on #280
Hi Remko, thanks for keeping me updated on this. I'll explore these new features at my earliest convenience.

[2019-08-20 00:11] remkop commented on #783
@meshiruff Did that answer your question?

[2019-08-22 10:58] gitfineon opened #791 "Imperative mood for default messages"
For many tools the title and description of commands and options are in imperative mood.
How about changing the default messages like "<del>Displays</del> Display help information about ..."

[2019-08-22 10:58] gitfineon opened #792 "Imperative mood for default messages"
For many tools the title and description of commands and options are in imperative mood.
How about changing the default messages like "<del>Displays</del> Display help information about ..."

[2019-08-22 10:59] #792 closed

[2019-08-23 05:45] remkop commented on #791
Thanks for looking into this. I believe picocli already uses imperative language; the standard help options look like this:

[code]

The above two options are added when you define a command with [mixinStandardHelpOptions](https://picocli.info/#_mixin_standard_help_options):
[code]

Am I missing something?

[2019-08-23 16:49] mikehearn opened #793 "Exclusive argument groups disappear when using native-image"
I have the following code:

[code]

This works as expected on HotSpot. When using the annotation processor and native-imaeg, the -e and -d options vanish from the help output and trying to access mode throws an NPE. It's like PicoCLI just forgets all about the mode parameter entirely, but the other params are still there!

I checked the generated JSON files and they look reasonable. Mode and the o

[2019-08-23 22:40] remkop commented on #793
Thanks for raising this!
Can you share the results of running the native image with `-Dpicocli.trace=DEBUG`?

[2019-08-24 03:27] remkop commented on #793
I've been able to reproduce the problem.
I believe the generated reflection-info JSON is missing the group field, still investigating.

[2019-08-24 07:12] remkop commented on #793
The problem was that the generated reflect-config.json was missing the `@ArgGroup`-annotated fields.

I've pushed a fix to master, and will do a release for this soon.

[2019-08-24 13:05] mikehearn commented on #793
Thanks! Amazingly fast work!

[2019-08-25 01:35] remkop opened #794 "Annotation processor gives FATAL ERROR: picocli.CommandLine$InitializationException: ArgGroup has no options or positional parameters, and no subgroups"
(Related to https://github.com/remkop/picocli/issues/793) The annotation processor occasionally gives this error for composite groups:

[code]

This is not easy to reproduce but may happen when building from Gradle or when an arg group is used as both a field and as a parameter in a `@Command`-annotated method.

The cause is likely that the annotation processor depends on the `javac` compiler to p

[2019-08-25 01:54] remkop opened #795 "Show `@filename` in options list"
End users may not be aware that they can provide options and positional parameters in  `@`-argument files. If this functionality is enabled, it may make sense to show this in the usage help message in the options list.

For example, `javac`:

[code]

Javadoc shows this in the synopsis:

[code]

In java 10, the `java` executable:

[code]

[2019-08-26 08:54] gitfineon commented on #791
You are right, didn't found any other then #796.
This showed up on including the HelpCommand.class as subcommand.

[2019-08-26 11:22] remkop commented on #791
PR merged. Thank you for the contribution!

[2019-08-26 12:10] #794 closed

[2019-08-26 12:12] remkop opened #797 "Topological sort in annotation processor results in different synopsis than reflection"
Related to https://github.com/remkop/picocli/issues/794:

The topological sorting introduced in #794 results in a different sorting of subgroups within a parent group, so the model created at compile time by the annotation processor has a different synopsis than the model created at runtime via reflection.

[2019-08-26 12:19] #793 closed

[2019-08-26 12:19] #789 closed

[2019-08-26 12:38] remkop commented on #791
I reverted this commit for now:
it broke some of the tests that assert the previous HelpCommand header.
This is to be expected, but I want to avoid making breaking changes in patch releases like 4.0.3.

I will re-apply this change in a later release (likely 4.1).

[2019-08-26 15:54] remkop commented on #793
Picocli 4.0.3 which includes a fix for this issue has been released and should be available from Maven Central in a few hours.

Thanks again for the bug report!

[2019-08-28 01:26] remkop commented on #793
@mikehearn It would be great if you could confirm that picocli 4.0.3 fixes the issue.

[2019-08-28 01:27] remkop opened #798 "DOC update user manual to clarify how to execute a command with subcommands"
Update user manual to clarify how to execute a command with subcommands.
The current section on subcommands only mentions the `parseArgs` method.

[2019-08-28 09:45] mikehearn commented on #793
It works! Thanks again.

[2019-08-28 09:52] remkop commented on #793
Excellent!
Please star picocli on GitHub if you like the project and tell your friends!

[2019-08-28 10:11] remkop opened #799 "DOC update adoption in readme"
https://www.schemacrawler.com/images/schemacrawler_logo.svg
https://avatars1.githubusercontent.com/u/541152?s=200&v=4 https://cloud.githubusercontent.com/assets/370176/26518284/38b680da-4262-11e7-8d27-2b9e849fb55f.png
https://avatars1.githubusercontent.com/u/22600631?s=200&v=4
https://fisco-bcos-documentation.readthedocs.io/en/latest/_static/images/FISCO_BCOS_Logo.svg
https://avatars0.githubuserco

[2019-08-28 18:22] talmdal opened #800 "Howto: Prompt for required option if not provided."
Hi.

I just started using picocli(V 4.0.2) and I apologize in advance if this question has been asked before and I missed it in my search.

I have created an option that I have flagged as required and interactive:
[code]
When i run the command and just specify the parameter **./cmd -u** everything works and I will get prompted for the user. If I omit the -u option, I get an error "Missing required

[2019-08-29 00:33] remkop commented on #800
Hi, this can be achieved in the application as follows:

[code]

(FYI, 4.0.3 was just released with some GraalVM-related bugfixes.)

Enjoy! :-)

[2019-08-29 15:34] talmdal commented on #800
Thanks for the quick response, That is certainly a loot easier than my current approach... adding some processing at the end of processArguments to do this:

[code]

[2019-08-29 15:34] #800 closed

[2019-08-30 01:11] remkop commented on #800
Glad to hear that!
If you like picocli please star the project on GitHub and tell your friends! :-)

[2019-09-02 09:22] prd-fox opened #801 "Retrieve execution result when only a single execution occurred"
Hi,

I wondered if it was possible, or if it could be added, to be able to fetch an execution result of a sub-command from the top level `CommandLine.getExecutionResult()`?

I followed the instructions in section `9.6.4` to follow the execution tree down and get the result, but feel as though this shouldn't be needed if only a single execution occurred.

This would only apply if a single execution

[2019-09-02 09:43] remkop commented on #801
Hi @prd-fox,

My thinking was that following the command tree down to the command that executed and retrieving the result from that command has the advantage that the application knows which command was actually executed, which gives some context that may be necessary to process the result. The current API also caters for IExecutionStrategies like `RunAll` which may return multiple results.

I can

[2019-09-02 10:32] prd-fox commented on #801
Adding a different method is good, actually I would agree that it's the preferable option.

I haven't thought through other edge cases (like `RunAll`), but I imagine a "fail-fast" approach would be the easiest - of course, that is up to you.

[2019-09-02 10:53] prd-fox commented on #801
I certainly agree with this, by the way, and I think it may be how I view the `CommandLine` object. Even though it is the `<main class>` command, I view it as the co-ordinator of execution, with the `<main class` being the first command it checks.

[2019-09-02 12:31] remkop commented on #801
Do you think you’ll be able to provide a pull request for this with unit tests and documentation?

[2019-09-02 12:40] prd-fox commented on #801
Definitely.

I don't really have a timeline for when, but I'll try and give it a go either this weekend or next.

[2019-09-05 17:43] gitfineon commented on #791
Of course, np, ... was able to overwrite it with the i18n properties file

[2019-09-05 18:51] portus84 opened #802 "Allow interactive options that echo to the console"
Hi, now interactive mode hide text digitized by user. There is a mode to use interactive mode which show text that user insert during write on console?

[2019-09-05 20:59] byteit101 opened #803 "Custom IParameterConsumer causes native-image to fail"
Using a file with a custom parameter consumer:
[code]

[code]

The issue seems to be that the `LocalPC` class is not put into the reflection output by the `ReflectionConfigGenerator`, and manually putting it in I get it to build and show help successfully

[2019-09-06 00:01] remkop commented on #803
Thank you for raising this issue and for the pull request!
I merged the PR but it would be good to add a test for this in [picocli-annotation-processing-tests](https://github.com/remkop/picocli/tree/master/picocli-annotation-processing-tests). Do you think you’ll be able to provide this?

[2019-09-06 07:28] remkop commented on #802
Currently the picocli library does not provide this functionality, but I think it would be a good feature to have.

Perhaps we should add an `echo` attribute, that allows applications to control whether the user input is echo-ed to the console or not. I'm also thinking to add a `prompt` attribute so that applications can customize the text displayed to the end user for an interactive option. For e

[2019-09-06 07:32] remkop commented on #802
Note that you can work around this in the application, by calling `Console.readLine`:

[code]

[2019-09-06 18:42] byteit101 commented on #803
I added a commit to my branch that should, in theory, test for this fix, but I can't seem to get it to work, and I'm not sure if it's my weak gradle skills, or what.

[2019-09-06 22:40] remkop commented on #803
@byteit101, it could be because I already merged that PR. Maybe create another branch?

[2019-09-06 23:13] remkop commented on #803
I might have misread. Did you mean you have trouble getting the test to work? If you can share the code we can look at it together...

[2019-09-06 23:33] byteit101 commented on #803
Yes, the latter. I can't seem to get them to work. Works fine when I do a command line generation, but through gradle test it fails. Code is https://github.com/byteit101/picocli/commit/1e7b2f573dc802e9a1ab8f69269dc23e74b26cbf and I'm kinda stuck. Looks to me like it should work, but I'm clearly missing something, either in gradle (gradle n00b here), or in your test framework, or something else.

[2019-09-07 01:00] remkop commented on #803
Code looks fine to me too. Can you put it in a pull request?

[2019-09-07 10:54] #799 closed

[2019-09-08 10:52] cranphin opened #807 "ArgGroup validate ignored (4.0.3)"
With Java 11, Picocli 4.0.3:
I would expect this code to accept '-s -v' as arguments, since validate is set to false:
[code]

Instead I get:
[code]

[2019-09-08 10:54] remkop opened #808 "Option-specific converter class is not included in generated reflect-config.json"
Similar to #803, the annotation processor should generate class information for option-specific `converter` in  `@Option(converter = X.class) or `@Parameters(converter = X.class)`. It currently does not.

[2019-09-08 10:56] remkop commented on #807
Thank you for raising this! This certainly looks like a bug. I will take a look.

[2019-09-08 11:08] #808 closed

[2019-09-08 21:38] #807 closed

[2019-09-08 21:39] remkop commented on #807
Thanks again for the bug report!
I pushed a fix to master.
Can you verify?

[2019-09-08 23:20] remkop commented on #803
I went ahead and released picocli 4.0.4 with your PR and the additional changes to the annotation processor to correctly handle `parameterConsumer` attribute in the `@Option` or `@Parameters` annotations.

Please verify that this solves the issue.
Thanks again for the contribution!

[2019-09-08 23:20] #803 closed

[2019-09-08 23:23] remkop commented on #807
I went ahead and included the fix in the picocli 4.0.4 release that I just published to Maven.
Please let me know if there are still any issues.
Thanks again for raising this!

[2019-09-09 15:25] gastaldi opened #809 "Output completion script as a subcommand in an existing command"
It would be nice if there was an option to output the bash or zsh script for a given command through a Subcommand.

eg.
`checksum completion zsh` outputs the ZSH script in the standard out, making it possible to do something like:

[code]

[2019-09-09 15:33] deining opened #810 "ArgGroup validation: inconsistent behaviour (4.0.4, #807)"
To me, it looks like there is still an issue concerning #807:

[code]

When running this code, the programs exits silently, as expected.

Now I'm settings required = true for the second option -v:

[code]

When running the program after this code change, an error message is printed:

[code]

Is this the intended behaviour?

[2019-09-09 16:02] cranphin commented on #807
It certainly solves my use case, awesome! :)

[2019-09-09 21:04] remkop commented on #807
Great! If you like the project please star it on GitHub and tell your friends! ;-)

[2019-09-09 22:21] remkop commented on #809
That is a good idea! You can already accomplish this with the building blocks that the library provides (see example below), but it may be good to add something to the documentation, perhaps show this example in the [TAB Autocomplete](https://picocli.info/#_tab_autocomplete) section of the user manual (`docs/index.adoc`). Would you be able to provide a pull request to update the doc? Feel free to

[2019-09-10 04:59] remkop commented on #810
Thank you for raising this! I am still looking at this...

One additional problem I found with the example you raised is that if `-v` and `-s` are `exclusive` and both `required`, and the end user specifies `-s -v` on the command line, then the `GlobalOptions` instance gets created twice: once when the `-s` argument is matched, and another time when `-v` is matched. The application would not see b

[2019-09-13 00:01] remkop opened #812 "Document how to test a picocli spring-boot application"
Add the following dependency to your build.gradle:

[code]

A test can look like this:

[code]

[2019-09-16 15:14] YannRobert opened #813 "Negatable boolean @Option with default value "true" is not negated as expected"
Hi

I have a boolean `Option` that I want to be `true` by default.
I also want the user to be able to set this option to `false`.

I want the `Option` name to be explicit enough to be self-documenting (actual code provides a description though)
The ```--(no-)option``` modifier seems like a perfect fit at first. Even if ```--option``` is redundant with default value.

In order to do this, I use the

[2019-09-16 22:41] remkop commented on #813
You raise a good point. Double negatives are always a source of confusion...

If your option is called `--no-demote-first`, then its "negated form" is `--demote-first`. The negated form sets the default value. The original form (`--no-demote-first`) sets the opposite of the default value.

Inspired by your feedback, I updated the user manual: https://picocli.info/#_negatable_options
Can you take a

[2019-09-17 03:10] remkop opened #814 "Document how a CLI app can be packaged for distribution"
== Packaging Your Application

Subsections below discuss some options you have for packaging your application for distribution.

=== Build Tool Plugins

Both https://www.mojohaus.org/appassembler/[Application Assembler Maven Plugin] and https://docs.gradle.org/current/userguide/application_plugin.html[Gradle Application plugin] create a distribution zip or tar file with launcher scripts. Both requ

[2019-09-17 10:55] #814 closed

[2019-09-17 22:17] remkop commented on #813
@YannRobert Sorry if I wasn't clear.

You can still make the option negatable, even if you give it the name `--no-demote-first`:

[code]

When the user specifies `--no-demote-first`, the value is set to `false` (the opposite of the default). When the user specifies the negated form `--demote-first`, the value is set to `true` (the default).

I believe this is how it should work. The key is to name

[2019-09-18 01:35] kacchi opened #815 "Unexpected match in @ArgGroup multiplicity="1" with multiple values @Option"
Java=11, picocli=4.0.4

I need ArgGroup at least one option required command.
But ArgGroup contains multiple values option (without `arity="1..*"`),
parser looks like cannot match force by `multiplicity`.

[code]

I think, input command argument looks satisfy printed usage condition.
[code]

Is this a bug?

[2019-09-18 04:47] remkop commented on #815
Currently the parser does not greedily continue to add values to the multi-value `--id` option. Instead, it starts a new group instance as soon as the minimum number of elements is matched.

I need to look at this in more detail.

[2019-09-18 12:05] remkop opened #816 "Update manual for IHelpCommandInitializable2"
https://picocli.info/#_custom_help_subcommands still mentions the deprecated `picocli.CommandLine.IHelpCommandInitializable` interface.

This section should be updated for the new [`IHelpCommandInitializable2`](https://picocli.info/apidocs/picocli/CommandLine.IHelpCommandInitializable2.html) interface.

[2019-09-18 12:34] remkop opened #817 "Update manual Subcommands section for execute API"
The https://picocli.info/#_subcommands section should prominently mention the `execute` API instead of the `parseArgs` method.

[2019-09-18 12:35] remkop opened #818 "Update usage help API section to point to picocli-examples"
The https://picocli.info/#_usage_help_api should refer to the examples in `picocli-examples`.

[2019-09-18 12:39] remkop opened #819 "Update manual on variable interpolation: better crosslinking"
Update first example in https://picocli.info/#_variable_interpolation to use this:

[code]

Also, link to the Variable Interpolation section from this section: https://picocli.info/#_show_default_values

[2019-09-18 12:42] remkop opened #820 "Update manual section on ANSI supported platforms: WSL"
Update the user manual https://picocli.info/#_supported_platforms section:

mention Windows Subsystem for Linux (WSL): https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2019-09-18 12:54] remkop commented on #783
Closing this ticket. Feel free to open another one if you have more questions.

[2019-09-18 12:54] #783 closed

[2019-09-18 16:10] #820 closed

[2019-09-18 16:21] #819 closed

[2019-09-18 16:35] #818 closed

[2019-09-18 16:43] #816 closed

[2019-09-18 17:27] #817 closed

[2019-09-19 02:22] #456 closed

[2019-09-19 02:24] remkop commented on #456
@jvassev Thanks again for raising this!

Your suggestion is now part of the documentation: https://picocli.info/autocomplete.html#_distribution

[2019-09-19 02:25] remkop commented on #809
@gastaldi  Thanks again for raising this!

Your suggestion is now part of the documentation: https://picocli.info/autocomplete.html#_distribution

[2019-09-19 06:27] remkop commented on #813
@YannRobert I added this test. I believe it is working as expected.

[code]

Is this useful to help resolve the issue?

[2019-09-19 09:06] YannRobert commented on #813
Hi @remkop

I think your addition to the documentation is helping very much.

Also you additional test is helping,

but I would complete the test like this, maybe :

[code]

[2019-09-19 09:21] remkop commented on #813
@YannRobert  Excellent, glad to hear that!
I will add your suggested tests when I get a chance.

If you like picocli, please star the project on GitHub and tell your friends! :sweat_smile:

[2019-09-19 09:21] #813 closed

[2019-09-19 09:25] remkop commented on #813
P.S. Your contribution is mentioned in the [release notes](https://github.com/remkop/picocli/blob/master/RELEASE-NOTES.md#-picocli-405-unreleased) for picocli 4.0.5.

[2019-09-19 10:01] remkop opened #821 "Consider adding `picocli-cdi` module"
Consider adding a `picocli-cdi` module, similar to the `picocli-spring-boot-starter` module, to provide integration with Contexts and Dependency Injection (CDI) containers.

Essentially a `picocli.CommandLine.IFactory` implementation that uses classes in the [`javax.enterprise.inject.spi`](https://docs.jboss.org/cdi/api/2.0/javax/enterprise/inject/spi/package-summary.html) package.

Implementation

[2019-09-19 10:24] remkop opened #822 "Let CommandLine implement Closeable"
Let `picocli.CommandLine` implement [`java.io.Closeable`](https://docs.oracle.com/javase/8/docs/api/index.html?java/io/Closeable.html) to help integration with dependency injection containers whose bean manager (or application context) has a life cycle and needs to be destroyed before the application exits.

The implementation of the `close` method would check if the `IFactory` implements `Closeab

[2019-09-19 13:36] YannRobert commented on #813
Thanks 👍

[2019-09-20 06:44] decebals opened #823 "[Question] Run commands over Rest web service"
First of all congratulations, it's nice piece of software.
I am new to picocli, so maybe my question is not so smart 😄.

My application is an web application built with [Pippo](http://www.pippo.ro) (micro web framework) and [PF4J](https://pf4j.org) (plugin system).
The idea is that you can extend the comand list of application via plugins and you can call each plugin in a standard mode using a gen

[2019-09-20 09:46] remkop commented on #823
@decebals Glad you like picocli! Let me try to answer your questions.

Let's analyze the input and output.

Input from the web client will be a single String (`cmd`), but picocli expects an array of String arguments. So the incoming `cmd` String needs to be tokenized.
You can implement this yourself with `java.io.StreamTokenizer`,

or use JLine3's `DefaultParser` (see [this example](https://github

[2019-09-24 04:47] remkop commented on #815
As a workaround, you can define the `id` field with a `split` regex like this:

[code]

That way, users can specify `<cmd> --id=123,abc` and the `id` list will get values `"123"` and `"abc"`.

[2019-09-24 08:36] martinpaljak opened #825 "Picocli clashes with auto-service"
If I use both picocli and auto-service in the same Maven build, it fails with a cryptic "unknown compilation error" exception and as much information in the trace.

What helps is adding the picocli annotation processor and specifying both picocli and google auto-service as annotation processors:
[code]

[2019-09-24 08:55] remkop commented on #825
Can you provide more details on the configuration where the error occurred so I can try to reproduce?

[2019-09-24 09:51] martinpaljak commented on #825
Here you go: https://github.com/martinpaljak/picocli-issue. Just having two dependencies without configuring preprocessor will make the mvn build fail with:
[code]

[2019-09-24 10:28] remkop commented on #825
I suspect that it’s the `com.google.auto.service:auto-service` dependency rather than picocli.

Picocli’s annotation processor is in a separate module, `picocli-codegen`, whereas in the `auto-service` case there’s one module that’s both a dependency and an annotation processor.

You can try by removing the  `picocli-codegen` configuration from the annotation processor  config section (and only lea

[2019-09-24 10:36] martinpaljak commented on #825
Would be nice if I should not be required to change anything, as both dependencies work as expected separately, but no when used together. Is this a bug for auto-service instead?

[2019-09-24 21:46] remkop commented on #825
With my version of Maven, I see this warning:

[code]

Version info:
[code]

[2019-09-24 22:05] remkop commented on #825
I think the problem may have been this compiler arg, which disallows any warnings:

[code]

The below configuration now works for me:

[code]

You can optionally un-comment any of the annotation processors, or both, and the build will not fail.

[2019-09-26 06:35] decebals commented on #823
@remkop
Thanks for your detailed explanation.

[2019-09-26 06:35] #823 closed

[2019-09-26 07:04] martinpaljak commented on #825
Compiling with `-Werror` is a perfectly sane thing and I'll not remove that. I did not see any visual warnings? Is there a silent exit code swallowing or something similar taking place? Who emits the warning? This seems like a bug or missing assumption/documentation, but where exactly... maven compiler plugin? auto-service? picocli? As there is no sensible indication of failure, could be maven com

[2019-09-26 09:40] remkop opened #826 "Suppress compiler warning "Supported source version 'RELEASE_6' from annotation processor... less than -source..." in picocli-codegen"
picocli-codegen generates an (unnecessary) compiler warning that the annotation processor may not be forwards compatible with the version of Java that it is running on:

TODO: suppress this by adding this:

[code]

[2019-09-26 09:48] remkop commented on #825
I don't see compiler warnings on the command line with Maven, but there may be an option to show them. When building in the IDE I see these warnings:

* Warning:Output path C:\Users\remko\IdeaProjects\picocli-issue825\target\generated-sources\annotations intersects with a source root. Only files that were created by build will be cleaned.
* Warning:java: Supported source version 'RELEASE_6' from a

[2019-09-26 10:08] martinpaljak commented on #825
Indeed, adding `<arg>-Xlint:-processing</arg>` makes things work and I think will be for now my preferred solution. I think this is a bug for Maven to give sensible errors (as the behavior is here with v3.6.2). Their Jira seems so ...  inaccessible to normal folks, unfortunately, and contains a bunch of issues related to annotation processing.

[2019-09-26 10:13] remkop commented on #825
The compilation warnings themselves are probably generated by javac, but the fact that they are not printed to the console by default with Maven makes it difficult to understand what is going on...

[2019-09-27 04:58] martinpaljak commented on #825
Filed an issue with maven-compiler-plugin as well. https://issues.apache.org/jira/browse/MCOMPILER-401

Will see if #826 changes anything before closing this one.

Thanks!

[2019-09-27 06:46] remkop commented on #825
#826 will make only one of the three warnings go away, so by itself is not enough to allow `-Werror`.
You will still need `-Xlint:-processing` even after #826.

Thanks for raising the Maven Compiler [issue](https://issues.apache.org/jira/browse/MCOMPILER-401) to not suppress warning details.

Can this ticket be closed, or is there any work remaining?

[2019-09-27 07:07] martinpaljak commented on #825
A note https://picocli.info/#_getting_started would be great! Other than that, I think the issue is in fact with Maven and this here can be closed.

[2019-09-27 07:57] remkop commented on #825
That’s great to hear!

[2019-09-27 08:19] zlxie opened #827 "How to suggest options and sub-command at the same time?"
Hi,
I have command line like "icmd -v -h -o sub1 sub2", and sub1 and sub2 are sub commands. I tried to use picocli(version is 4.0.4) to generate auto completion script, and it only works as below:
->icmd TAB TAB
sub1 sub2
->icmd -TAB
-v -h -o
But actually I want to show all options and sub-command as below. How should I do? Thanks.
->icmd <tab>
-v -h -o sub1 sub2

[2019-09-27 08:32] #825 closed

[2019-09-27 08:45] remkop commented on #827
Hi, that was done to allow default bash completions.
This can get quite complex. See the discussion in https://github.com/remkop/picocli/issues/461

My understanding is that the current picocli completion behaviour is consistent with [bash-completion](https://github.com/scop/bash-completion). I am open to improvements though.

[2019-10-02 09:36] martinpaljak opened #828 "Subcommand gets parsed as option"
I'm building something that will execute commands dynamically, basically an app launcher that resolves app names during runtime. The command itself also has a set of options.

I have
[code]

and
[code]

Also, I'd like the "run" subcommand be the default, so when I type "mycmd app arg1 arg2" the above would be triggered from the generic `call()`:

[code]

I'd like to use "mycmd -r run app arg1 arg2

[2019-10-02 22:23] remkop commented on #798
Fixed in #817

[2019-10-02 22:23] #798 closed

[2019-10-02 22:40] remkop commented on #828
Thanks for raising this.
Picocli has logic to prevent other options from being assigned to the `--reader` option, but as of 4.0.4, it does not check for subcommands. I agree that it should check for subcommands as well.

I've pushed a fix for this to master. Can you verify?

[2019-10-02 23:54] remkop commented on #828
I’m still looking at further improvements so that end users can use quoted arguments to prevent the value being interpreted as a subcommand. For example:

[code]

The above works when parser setting `trimQuotes == false` (the default), but currently not when `trimQuotes == true`, because the quotes are trimmed before the value is interpreted.  I am thinking about changing this, but still consideri

[2019-10-03 03:01] a2geek opened #829 "@ArgGroup with @Option methods fail with NullPointerException"
What I'm trying to do: I have an existing API that has multiple values for list formats and I would like to switch them on with a flag type mechanism. They are mutually exclusive -- you can't have a short and a long list format, for instance.

This seems to be a great chance to use `@ArgGroup(exclusive = true)` and `@Option(...)` on a method in the exclusive options. The method simply sets the cor

[2019-10-03 04:41] remkop commented on #829
Thanks for raising this.
Looking at it...

[2019-10-03 10:15] remkop commented on #829
I’ve only been able to spend a little bit of time investigating, but I suspect that this only happens in subcommands. All my tests for argument groups are with top-level commands. Definitely some problem in the initialization.
Still need to look further...

[2019-10-03 12:31] a2geek commented on #829
Thanks for the quick confirmation! I was uncertain if I was missing something or not. I'll go with the alternative mechanism for now then. :-)

[2019-10-08 11:21] remkop commented on #829
Note to self:

[code]

test:

[code]

[2019-10-08 11:41] remkop commented on #828
I'm going to leave the quoting logic alone for now.
The reported issue is fixed on master, we can look at further improving options with optional values later.

[2019-10-08 12:42] remkop commented on #815
One idea is to introduce a parser configuration option `greedyMatchMultiValueArgsInGroup`.
It might make sense to make the default `true`.
Then, the following change would make the test pass:

[code]

Perhaps a better solution would be to introduce `multiplicity` on `@Option` and `@Parameters`. The difference with `arity` is that `multiplicity` specifies the min-max range of the total number of va

[2019-10-08 22:26] #829 closed

[2019-10-08 22:26] remkop commented on #829
Fixed in master. Thanks again for raising this!

[2019-10-08 22:32] #826 closed

[2019-10-08 22:32] remkop commented on #826
Fixed in master.

[2019-10-09 19:04] Rubydesic opened #831 "Runtime autocompletion"
I've been using this library for writing a Minecraft mod. Tab-autocompletion with Minecraft Forge is evaluated at runtime. For example, if a user types the command

`/command auto<tab>`

I have to return a `List<String>` of things that they might've been looking for, like `[autocomplete, automobile]`.

Frankly, I get very confused trying to understand the code to generate bash autocompletion scrip

[2019-10-09 22:32] remkop commented on #831
I agree that the bash autocompletion script stuff is not applicable.

However, the `AutoComplete` class also has a public static `complete` method that can generate completions into a list (the `candidates` parameter is an out-parameter: generated completions are added to this list).

You can see how it is used in the [PicocliJLineCompleter](https://github.com/remkop/picocli/blob/master/picocli-sh

[2019-10-10 00:15] remkop opened #832 "Add multiplicity attribute to @Option"
During analysis on #815, the idea came up to introduce `multiplicity` on `@Option` and `@Parameters`.

Multiplicity would allow applications to control exactly what number of values (minimum and maximum) is valid for a multi-value option or positional parameter. Currently there is no way to control the max number of values captured.

## Example

[code]

## Multiplicity vs `arity`

The difference w

[2019-10-10 00:34] remkop commented on #815
Fixed in master.

I decided to keep it simple. The fix should work for your use case.
I raised #832 as a future enhancement.

[2019-10-10 00:34] #815 closed

[2019-10-10 15:01] remkop opened #833 "ArgGroups with validate=false should be non-exclusive"
(Related to #810)

If an Argument Group is defined as `@ArgGroup(validate = false)`, it should automatically be set to `exclusive = false`.

This prevents issues where a new group instance is created for each option in the group. This is not necessary for non-validating groups.

For example:

[code]

When the user specifies `-a -b`, the application expects to be able to inspect the `group` and see

[2019-10-10 15:08] remkop commented on #810
Thanks again for raising this!

I finally got around to fixing this. I fixed both the validation, and also created and implemented #833 to enforce that ArgGroups with validate=false are automatically changed to be non-exclusive.

[2019-10-10 17:44] bootstraponline opened #834 "Only multi-value options should have a split regex"
I'm updating picocli for Flank and am getting these long stack traces:

- [Main.kt](https://github.com/TestArmada/flank/blob/master/test_runner/src/main/kotlin/ftl/Main.kt)

It's not obvious where the problem is or what the suggested fix is.

[code]

[2019-10-10 17:52] bootstraponline commented on #834
[code]

This looks like a recent check? The CLI is crashing now due to the warning.

[2019-10-10 21:05] bootstraponline commented on #834
The issue ended up being `split = ",",` was used on an option that took only one value. Searching for all instances of split in the codebase helped me track down the offending options.

[code]

[2019-10-10 21:05] #834 closed

[2019-10-11 00:32] remkop opened #835 "Document how to create ANSI colored output in an application"
Document how to create ANSI colored output in an application.
See [javadoc](https://picocli.info/apidocs/picocli/CommandLine.Help.Ansi.html#string-java.lang.String-).

Essentially:

[code]

[2019-10-11 03:02] remkop commented on #660
I haven't heard any feedback, so closing this ticket.
Feel free to comment here or open another one to discuss further.

[2019-10-11 03:02] #660 closed

[2019-10-11 03:19] remkop commented on #642
@soenkeliebau I believe what you asked for may be possible with the new [custom parameter consumer](https://picocli.info/#_custom_parameter_processing) feature introduced in picocli 4.0.

Something like this:

[code]

[2019-10-11 03:56] remkop opened #836 "Add convenience method Help.fullSynopsis()"
Add convenience method `Help.fullSynopsis()` as follows:

[code]

That would make this easier: https://github.com/remkop/picocli/issues/480

Also, add `CommandLine.getHelp()`:

[code]

[2019-10-11 12:29] #836 closed

[2019-10-11 12:51] #480 closed

[2019-10-12 06:28] Rubydesic commented on #831
Thanks so much! The following code works for me for anyone else who may have this use-case:

[code]

[2019-10-12 06:28] #831 closed

[2019-10-12 06:51] kacchi commented on #815
That's great!

We could get expected result with current HEAD.
Thanks!

[2019-10-12 07:07] remkop commented on #815
Glad to hear that! I will try to do a release for this in a week or so.

[2019-10-12 07:52] Rubydesic opened #837 "Dynamically generate completion candidates at runtime"
Is it possible to generate completion candidates for an option at runtime? I was thinking perhaps `ITypeConverter` would provide a completions candidate generating method, but it doesn't.

[2019-10-12 08:14] remkop commented on #837
Yes, see https://picocli.info/apidocs/picocli/CommandLine.Model.ArgSpec.html#completionCandidates--

The user manual has an example: https://picocli.info/#__code_completion_candidates_code_variable

(Lenient parsing mode: may also be useful: https://picocli.info/#_lenient_mode_incubating )

[2019-10-12 08:44] remkop commented on #831
Glad to hear that!

I started to look a bit at Minecraft Forge and custom commands. If picocli is useful to create custom commands, would it be interesting to do a write-up to show others how to do this? Or even publish the picocli-based implementation of `ICommand` as a library? Would this be interesting?

[2019-10-12 18:27] Rubydesic commented on #837
The issue with that approach is values that may be changing (e.g. say I want to tab-complete a player name -- if the player leaves the game, they should be removed from the completion candidates as well).

So, if I want to use this approach, I think I have to programatically edit the CommandSpec's ArgSpecs to have the current player list as completion candidates, unless I'm misunderstanding someth

[2019-10-12 18:35] Rubydesic commented on #831
Yea, definitely. Most Minecraft mods have very ugly homebrew command handling systems and this library is very helpful. I don't mind doing a write-up at all, I'm just sort of testing everything out and finding out how to implement it best.

My current implementation is in [Valkyrien Skies](https://github.com/ValkyrienSkies/Valkyrien-Skies/blob/5783ab7e7a38b64c16c37450096646b3475c61be/src/main/java

[2019-10-12 22:36] remkop commented on #837
You could wire things together via a static field. For example:

[code]

The usage help for this command prints the completion candidates:

[code]

Using a static field is not pretty, I agree. Perhaps the `PlayerDatabase` class can initialize itself, I don't know the Minecraft API at all so I just showed the simplest thing I could think of.

The alternative is to programmatically create a `Positio

[2019-10-12 22:51] remkop commented on #831
Cool! For the factory, you may want to fall back to the `CommandLine.defaultFactory()` if your factory runs into an exception. For example:

[code]

[2019-10-12 23:44] Rubydesic commented on #837
Thanks, that helps a lot.

I still think it would be very helpful to have a `public Iterable<String> getCompletionCandidates(String)` on the `ITypeConverter` interface, for autocompleting specific types. Do you think that would be out of place in this library?

[2019-10-13 00:04] remkop commented on #837
Completions can be different for different options, even if they have the same type. So I'm not in favor of adding this to the `ITypeConverter` interface. :-)

Also, `ITypeConverter` is now a single abstract method, so applications can use lambdas to register a converter:

[code]

[2019-10-13 08:07] sgoeschl opened #838 "No issues at all - an amazing piece of software :-)"
Hi Remko ,

just wanted to state the obvious - "picocli" is an amazing piece of software. So I added a big "thank you" here instead of the usual issues / bugs :-)

Siegfried Goeschl

[2019-10-13 10:31] remkop commented on #838
Haha!
Thank you!
Should I resolve this as “won’t fix”? :-)

[2019-10-13 16:13] prd-fox commented on #801
I (finally) got around to taking a look at implementing this, and came across the `ParseResult#asCommandLineList` method. This takes care of a large amount of the heavy lifting, as at that point it is just looping over the list and seeing which of the the commands give a non-`null` execution result.

I'm no longer convinced implementing my request above gives any major benefit, especially as how i

[2019-10-13 22:16] #785 closed

[2019-10-13 22:25] daggerok commented on #785
sorry, wasn't able to collect problem list -- busy with different taskd and migration is postponed now^ but I plan to look ob #784 and if needed let you know. Thanks for support

[2019-10-14 00:29] remkop commented on #785
No worries, that’s fine!
Enjoy picocli!

[2019-10-14 21:54] remkop commented on #801
Thanks for pointing that out.

At the time, I was introducing the `ParseResult` class and I was thinking to eventually deprecate the `asCommandList` method. However, we are now 18 months later, it is still used internally and I find it convenient to use as well. There is no need to remove it.

I clarified the javadoc.

[2019-10-15 04:45] remkop commented on #822
I am having second thoughts about having a `CommandLine.close()`.

It may be surprising for users that the `CommandLine.close()` method only closes the factory and not any of the user objects. The factory is important but is it important enough to warrant this method?

It makes sense for a custom factory to implement `Closeable` or `AutoCloseable`. In that case, applications in dependency injectio

[2019-10-15 22:21] #835 closed

[2019-10-16 02:29] remkop commented on #629
Fresh idea: why not leave the current `IVersionProvider` API unchanged, and provide the desired context by injecting the `CommandSpec`?

Picocli [already does this](https://picocli.info/#__code_spec_code_annotation) for `@Command`-annotated classes.

For `IVersionProvider` implementations, picocli could inject the correct `CommandSpec` value immediately before calling `getVersion`. An implementati

[2019-10-17 21:24] galaxyrise opened #839 "ArgGroup options default value is null in usage help message"
I'm organizing my code using multiple '@ArgGroup (validate = false, heading = "BlahBlah")' sections.  Unfortunately, Options inside ArgGroups with '(default: ${DEFAULT-VALUE})' in the description always report the default as null.

_EDIT: Note to future readers, ignore the rest of this message, I simply did not understand the formatting convention_

Also, I have a more minor issue with 'help' text

[2019-10-17 22:30] remkop commented on #839
The usage help message has separate columns for posix short options and for long options. A posix short option has a single hyphen followed by a single character. Anything else is considered a long option. This is consistent with how most Unix utilities work.

About the problem with the default value, can you give an example to reproduce the issue? I’ll take a look when I get to my pc.

[2019-10-17 22:40] remkop commented on #839
And thanks for raising this issue! :-)

[2019-10-17 23:00] galaxyrise commented on #839
Thanks.  Here is the requested sample code to reproduce the default value issue:

[code]

Here is the resulting output:

[code]

[2019-10-18 02:36] remkop commented on #702
I'm closing this ticket since picocli 4.0 added support for [custom parameter parsing](https://picocli.info/#_custom_parameter_processing) in order to pass params to a 3rd party command. Feel free to reopen or open another ticket if there is any issue.

[2019-10-18 02:36] #702 closed

[2019-10-18 03:40] remkop commented on #839
Thanks for the example code; it illustrates the inconsistency very well.

You can work around this by specifying the default value in the annotation instead of in the field initial value. That will correctly show the default value in the usage help message. For example:

[code]

I'm still thinking about how to solve this.

The reason why this is happening is that picocli does not create an instanc

[2019-10-18 03:59] galaxyrise commented on #839
Many thanks, the workaround will be just fine for my needs.

[2019-10-18 04:02] remkop commented on #839
Glad to hear that!
If you like picocli, please star the project on GitHub and tell your friends! :-)

[2019-10-18 09:28] bdshadow opened #840 "Interactive parameter asks for value to be entered at once"
I have the following Main class with subcommands:
[code]
and the `BCryptPasswordCommand`:
[code]
WHAT I DO:
i run `java -jar myTools.jar  encodePwd`
CURRENT BEHAVIOR:
i'm not offered to enter password, the code just runs with  null password.
EXPECTED:
i'm offered to enter password

It's interesting that when i do `java -jar myTools.jar  encodePwd blabla`, i'm offered to enter the password interact

[2019-10-18 11:35] remkop commented on #840
Thank you for raising this!
I’ll take a look when I get to my pc.

[2019-10-18 13:01] remkop commented on #840
I suspect that it may be difficult to make positional parameters work well interactively.

I suggest changing the encrypt command to call `Console.readPassword` in its `call` method directly.

[2019-10-18 20:19] galaxyrise commented on #839
Sorry, one other related request.  Is there a way to force instantiation ArgGroup static classes?  Otherwise their utility is greatly diminished as one always has to check for nulls and has no access to default values.

[2019-10-18 23:01] remkop commented on #839
Yes, the application can assign an instance to the `@ArgGroup`-annotated field:

[code]

About your other question, "required = true" in an ArgGroup means that the option is required _within the ArgGroup_.  To make the group _itself_ required, use `multiplicity`. For example:

[code]

This defines a group of options that are mutually dependent (they must co-occur). The group is defined with `multi

[2019-10-18 23:06] remkop commented on #839
By the way, feel free to open separate tickets for different questions.  That makes it easier to track for me if the question results in some follow-up action for me. :-)

[2019-10-18 23:49] remkop commented on #840
So, something like this:

[code]

[2019-10-19 00:17] galaxyrise commented on #839
Thanks again, and apologies for my confusion!

[2019-10-19 01:18] remkop commented on #839
NO problem at all. Enjoy picocli!

[2019-10-19 13:33] bdshadow commented on #840
@remkop thank you very much for your reply.
Yes, i know that it can be achieved this way. But then the question is what is `interactive` option in `@CommandLine.Parameters` for? Plus [the docs](https://picocli.info/#_interactive_password_options) say "Picocli 3.5 introduced password support: for options and **positional parameters marked as interactive**, the user is prompted to enter a value on t

[2019-10-19 23:47] remkop commented on #840
Yes, you are right. It was certainly my intention for this to work for both options and positional parameters, and I have some tests that verify this, but the current parser logic doesn’t cover your use case. It basically only works if there’s something following the interactive positional parameter on the command line. This limits the usefulness of this feature...

[2019-10-20 05:33] remkop commented on #840
I added a cautionary note to the user manual: https://picocli.info/#_interactive_password_options

[2019-10-20 10:33] remkop opened #841 "Add jni-config generator"
Add jni-config generator:
First use case is to generate `jni-config.json` for the [jansi](https://github.com/fusesource/jansi) library's [CLibrary](https://github.com/fusesource/jansi-native/blob/master/src/main/java/org/fusesource/jansi/internal/CLibrary.java) and [Kernel32](https://github.com/fusesource/jansi-native/blob/master/src/main/java/org/fusesource/jansi/internal/Kernel32.java) classes.

[2019-10-20 10:39] #841 closed

[2019-10-21 07:29] bdshadow commented on #840
thank you for help!

[2019-10-21 07:29] #840 closed

[2019-10-21 14:52] remkop commented on #840
If you like picocli, please star the project on GitHub and tell your friends. :-)

[2019-10-22 11:02] prd-fox commented on #801
Thanks @remkop. As I said, I don't think this is worth the extra complexity is understanding its use cases, since it is limited and users may use it being unaware. If you still think it is worth adding, please leave the issue open, otherwise close it - I won't be making the change unless some other compelling reason presents itself.

[2019-10-22 22:16] remkop commented on #801
All good. Closing this ticket.

[2019-10-22 22:16] #801 closed

[2019-10-23 02:41] habanoz opened #842 "Formatting Problem"
Formatting is broken when of incorrect arguments are given. This is not happening if connection is local, it happens if connection is to a remote system.

https://drive.google.com/file/d/1WQdLIhZLsENweSSV1xjaE6_vTvJjMJV_/view?usp=sharing

What might be the reason behind this? Any suggestion to fix ?

Thanks

[2019-10-23 04:19] remkop commented on #842
Can you provide some more information?

* What version of picocli are you using?
* Does the application [specify the width](https://picocli.info/#_usage_width) of the usage help message? (Either in the annotations with `@Command(usageHelpWidth = 80)` or programmatically.)

You mentioned a "connection to a remote system". Can you give more information about this connection? For example,

* what pro

[2019-10-24 04:17] mitamr commented on #661
Was this released? I am still facing this bug

[2019-10-24 05:10] remkop commented on #661
@mitamr Yes the fix for the above issue was included in picocli-4.0.0-alpha-2 and all following releases. I just tried the above example with picocli 4.0.4 and it works fine: no StackOverflowError.

If you are still seeing this with picocli 4.0.4 you found a new similar issue. Can you please raise a new ticket with an example of how to reproduce the issue?

[2019-10-24 05:18] habanoz commented on #842
My local system is windows 10.

Using  version 4.0.4.  "usageHelpWidth" is not used.

 Picocli and apache sshd used together to create  a ssh interface. If I run the application locally in my windows system and connect to ssh interface output is well formatted.

If I run the application in a remote system and connect to that remote system using ssh command then connecting to the applications ssh i

[2019-10-24 05:18] #842 closed

[2019-10-24 05:42] remkop commented on #842
Sounds like an interesting app. Good luck, and let me know if there's anything that needs to change on the picocli side.

[2019-10-24 09:40] gitseti opened #843 "Do not print usage help when exception is thrown inside a custom converter"
Hi 👋

I'm using picocli for a project and I'm really happy with it and think it is a truly amazing library! :)

Still, I have a **question** regarding the **ITypeConverter** class.
Is there a way to not print the whole usage help message but just the message of the exception with which the conversion failed?

E. g:

### My option
[code]

### My converter

[code]

### Output of command
[code]

###

[2019-10-24 11:05] remkop commented on #843
Hi, yes this is possible. You can register a custom `IParameterExceptionHandler`:

[code]

Where the IParameterExceptionHandler implementation could be something like this:

[code]

[2019-10-25 07:40] gitseti commented on #843
Awesome, exactly what I needed!
Thanks :)

[2019-10-25 07:42] remkop commented on #843
This will be added to the documentation in the next release.

[2019-10-28 08:52] AdrienDS72 opened #844 "No defaultValue if @ArgGroup"
When using `@ArgGroup`, we can't use `defaultValue`

[code]

Output is :

[2019-10-28 10:03] remkop commented on #844
Thank you for raising this. I could reproduce your result, thanks for providing the example program.

Picocli does not instantiate an `@ArgGroup`-annotated field until it matches one of the options in that group on the command line. So the `groups` field is `null` unless the end user specifies the `-nameGrp` option on the command line.

The `multiplicity = "1"` of the group is not satisfied by any

[2019-10-28 14:59] #843 closed

[2019-10-31 01:28] remkop opened #845 "Use ANSI colors and styles in error handlers"
Use ANSI colors and styles in error handlers. For example:

* show invalid usage error messages in bold and red by default
* TBD what style to use for the stack trace printed for execution exceptions and unhandled exceptions

It may make sense to update the `CommandLine.Help.ColorScheme` class to make these configurable.

[2019-10-31 07:02] remkop opened #846 "Allow value `tty` for system property `picocli.ansi`"
Currently users can force picocli to emit ANSI escape characters by setting system property `picocli.ansi` to `true` (or `false` to never emit ANSI escape chars).

This does not take into account whether the end user is using an interactive console.

If the application output is redirected, the application should _not_ emit ANSI escape characters.

This ticket proposes that picocli should interpre

[2019-10-31 07:25] remkop opened #847 "Improve documentation for ANSI colors in Windows"
Improve documentation for ANSI colors in Windows

[2019-10-31 07:28] #847 closed

[2019-10-31 11:04] remkop commented on #844
I updated the user manual to clarify when `@ArgGroup`-annotated fields are initialized.

Can you take a look and see if this is sufficient?

[2019-11-01 01:07] remkop commented on #839
I added a new section [Default Values in Argument Groups](https://picocli.info/#_default_values_in_argument_groups) to the user manual and clarified that the `defaultValue` annotation is the preferred way to [define defaults](https://picocli.info/#_default_values).

[2019-11-01 01:13] remkop commented on #844
@AdrienDS72 I also added a new section [Default Values in Argument Groups](https://picocli.info/#_default_values_in_argument_groups) to the user manual and furthermore made the `defaultValue` annotation the preferred way to [define defaults](https://picocli.info/#_default_values) (you are already doing this in your example, this is related to another issue #839).

Could you take a look at the docs

[2019-11-01 02:01] remkop opened #848 "ANSI colors don't show for Windows native image in WSL"
When compiling the checksum example to a native image for Windows, and executing this on WSL (Windows Subsystem for Linux), the output does not show ANSI colors, even though picocli detects that it should output ANSI escape codes.

[code]

[2019-11-01 02:30] remkop opened #849 "Limited ANSI colors in PowerShell"
When running the `checksum` example, either as a Java process or as a native image, in PowerShell, only the command name **checksum** is highlighted in the usage help message. The rest of the message does not seem to use any of the ANSI colors and styles:

[code]

[2019-11-01 06:27] ngeor opened #850 "GraalVM Native Image does not include MixIn options"
I'm very new in both picocli (fantastic tool!) and GraalVM. I'm using a Mixin to reuse options across multiple sub-commands. This works as expected when running the app with Java. When packaging the app with GraalVM native image, the Mixin options are missing.

- Expected result: my CLI app should offer the same options, regardless of whether the app is run via Java or packaged via GraalVM

- Actu

[2019-11-01 06:33] remkop commented on #850
Thanks for raising this and the many details!That doesn’t sound good. I’ll look at this as soon as I get to my PC.

[2019-11-01 06:40] ngeor commented on #850
Thank you for the fast reply! The code is available here https://github.com/ngeor/instarepo/tree/java-gradle-rewrite if you want to have a look (work in progress).

[2019-11-01 11:36] dkirrane commented on #812
Hi @remkop, I've tried this out but the test never runs? It just always prints usage details. Never gets to first line of test even. Looks like `MySpringApp` loads up and then exists with usage details.

[2019-11-01 11:57] dkirrane commented on #812
Nevermind I see the issue. I had this in the `@SpringBootApplication` run method
[code]

[2019-11-01 11:58] remkop commented on #812
@dkirrane Can you show some more detail on the program output? Did you use the example above exactly, including the `picocli.spring.boot.autoconfigure.sample.MyCommand` and `MySpringApp` from the [picocli-spring-boot-starter tests](https://github.com/remkop/picocli/tree/master/picocli-spring-boot-starter/src/test/java/picocli/spring/boot/autoconfigure/sample)?

[2019-11-01 11:58] remkop commented on #812
Ah, our messages got crossed. Glad you solved it!

[2019-11-01 14:47] remkop commented on #850
@ngeor Thanks again for raising this. I was able to reproduce it and it was a real bug.
I've pushed a fix to master. Can you verify?

Please clone the project, and build it with `gradlew clean build publishToMavenLocal`.
Then change the dependencies in your project to use version `4.0.5-SNAPSHOT` and build your project.

[2019-11-01 15:17] remkop commented on #812
@dkirrane If you like picocli please star the project on GitHub and tell your friends! :-)

[2019-11-01 15:42] ngeor commented on #850
Hi @remkop ,

I just did it and now the options appear as expected. Great work!

[2019-11-01 17:10] remkop commented on #850
@ngeor Glad to hear that!
Will you be able to make progress with the local snapshot version for a while? I don’t know yet when I’ll be able to do the next release.

[2019-11-01 17:13] ngeor commented on #850
@remkop oh don't worry about it at all. I'm totally new to GraalVM. After this fix you provided I got further exceptions originating either in okhttp or my local openJDK and I gave up with GraalVM for now :D

[2019-11-01 17:26] remkop commented on #850
I see. Hopefully picocli is still useful to you even without GraalVM. :-)

[2019-11-01 22:51] remkop commented on #850
Actually I’m writing an article on the feasibility of using picocli + GraalVM for writing native CLI apps and I’m interested in the difficulties you encountered. Could you share some details? Can I reproduce them with your project?

[2019-11-02 00:48] remkop commented on #850
@ngeor Something I noticed yesterday while I looked at your project: you might be interested in using the `@Command(name = "...", mixinStandardHelpOptions = true,
version = "...")` annotation to give your commands `--help` and `--version` options with minimal fuss.

See the [mixinStandardHelpOptions docs](https://picocli.info/#_mixin_standard_help_options) and [version docs](https://picocli.info/#

[2019-11-02 07:27] ngeor commented on #850
So I think picocli works fine, my code crashes further down where it tries to use okhttp to make a call to GitHub's REST API.

As soon as I run into an error, I google about it and apply whatever workaround I find.

The first problem was that the latest okhttp (v4) didn't work because (according to the [internets](https://github.com/oracle/graal/issues/1521)) it's in Kotlin. I downgraded to versio

[2019-11-02 08:44] ngeor commented on #850
Ok... with the help of [this article](https://blog.taylorwood.io/2018/10/04/graalvm-https.html) I was able to solve the TLS issue:

- add `option "--enable-https"` to the configuration of the graal-gradle plugin
- copy the `libsunec.so` from the GraalVM distribution into my app (which means my app is no longer a single executable, but it needs this shared library as well)

[2019-11-02 10:31] triceo commented on #773
It seems fixed in IntelliJ 2019.2.4.

[2019-11-02 10:31] #773 closed

[2019-11-02 20:28] remkop commented on #850
Nice! Any reason you're not using the [latest](https://www.graalvm.org/downloads/) version of GraalVM (19.2.1)?

[2019-11-02 20:30] remkop commented on #773
That's great. They did not give much feedback on that ticket, but glad it's fixed!

[2019-11-03 07:06] ngeor commented on #850
I missed that one, thanks :-) I tried it and it works the same.

[2019-11-03 07:58] remkop commented on #850
FYI: There is some discussion [here](https://github.com/oracle/graal/issues/951) and [here](https://github.com/oracle/graal/issues/1336) on how to avoid shipping libsunec.so with your native image and still have SSL support.

[2019-11-04 07:29] Kishanthan opened #851 "Quoted command line args with spaces"
Issue:

We are using @CommandLine.Parameters to parse command line arguments as below. The version we are using is 4.0.1.

[code]

We also want to support quoted string arguments with spaces as below for example.

```<CMD> "this is a space"```

But the above quoted string is parsed as four different string arguments [this, is, a, space] in "argList" variable. I think the quotes are getting removed

[2019-11-04 09:33] remkop commented on #851
Can you execute the command with tracing switched on (specify system property -Dpicocli.trace=DEBUG` on the command line) and post the output for both MacOS and Linux?

[2019-11-04 22:14] remkop commented on #851
@Kishanthan  It looks like the quotes are stripped off by the shell: by the time the java's `main` method is called, the `String[] args` does not have the quotes any more.

However, I could not reproduce the issue: in my test the quoted string with embedded spaces is treated correctly as a single argument.

I created the following test case to try to reproduce the issue, can you try to run this pr

[2019-11-04 22:19] remkop commented on #850
I'm closing this ticket because there is no more work remaining for the "Mixins on GraalVM" problem, but we can continue to discuss further here or on a new ticket if you like.

[2019-11-04 22:19] #850 closed

[2019-11-04 22:26] remkop commented on #839
I'll close this issue, I don't think there is any work remaining on this now.
Feel free to re-open or open a new ticket if there is any problem.

[2019-11-04 22:26] #839 closed

[2019-11-04 22:37] remkop commented on #844
@AdrienDS72, can you give feedback on whether this meets your needs?

[2019-11-05 06:25] Kishanthan commented on #851
@remkop, please find the debug logs on Linux and Mac below.

**Linux**
[code]

**Mac**
[code]

[2019-11-05 07:04] Kishanthan commented on #851
@remkop , I think this issue is from our side where the bash/shell script may be causing this issue. Sorry for the noise on this. I will verify this from our end close it.

[2019-11-05 07:21] ngeor commented on #850
Awesome, thank you for fixing this!

[2019-11-05 07:51] remkop commented on #851
@Kishanthan that makes sense. Understood, no problem! Please let us know your findings.

[2019-11-05 08:31] AdrienDS72 commented on #844
Yes it's clearer to me
In order to properly handle the environment variables I had to instantiate the option object.
Here is an example :

import picocli.CommandLine;
import picocli.CommandLine.ArgGroup;
import picocli.CommandLine.Command;
import picocli.CommandLine.Option;

@Command()
public class Cmd {

    @ArgGroup()
    Groups groups = new Groups();

    static class Groups {
        @Option(

[2019-11-05 08:31] #844 closed

[2019-11-05 09:45] remkop commented on #844
Hmm, yes the duplication there does not look ideal.
I've been thinking a bit on how to let picocli instantiate the `Groups` object and give its options default values like when the group is matched on the command line.

Thinking out loud:

One idea is to make this possible programmatically, maybe by making the `ArgGroupSpec.initUserObject` method public. Your code would then look like this:

[code

[2019-11-05 10:15] yohanakh opened #852 "Autocomplete for a File provided by @Parameters"
I have a command with File that is retrieved by @Parameters.
I see if a parameter is retrieved via @Option and the type if file then the autocomplete works but not with @Parameters.
Is there a way to make it work? Is it planned to be supported in next versions?

[2019-11-05 10:35] remkop commented on #852
Hi, there was some work in progress on improving bash completion for positional parameters (https://github.com/remkop/picocli/issues/468, there was even a pull request https://github.com/remkop/picocli/pull/505) but the last time I looked at it it still had issues.

I’d be happy to improve this area but I currently don’t have time to work on it myself, so I’d need help.

Would you be able to revie

[2019-11-05 11:45] Kishanthan commented on #851
This issue is in our end. We fixed our bash script. Thanks @remkop for taking time to look into this.

[2019-11-05 11:45] #851 closed

[2019-11-05 22:32] juliofalbo opened #853 "Hide the default Spring Boot logs"
Hi, good evening.

I'm using Picocli with the [picocli-spring-boot-starter](https://picocli.info/#_spring_boot_example), but when I run `java -jar target/my-cli-0.0.1-SNAPSHOT.jar mycommand -h` I'm getting this logs:

[code]

Is it possible to hide the default spring logs?

[2019-11-05 22:39] juliofalbo commented on #853
Nevermind, I got the answer:

1 - Add `logging.level.root=OFF` in your `application.properties`
2 - Create a file `banner.txt` in you `resources` directory with some content (you can create a ASCII art to follow the Spring Pattern using [this](http://patorjk.com/software/taag/#p=display&f=Graffiti&t=Type%20Something%20) site

[2019-11-05 22:39] #853 closed

[2019-11-05 22:41] remkop commented on #853
Hi @juliofalbo, thanks for using picocli!

This may be more of a Spring question than a picocli question, but I will do my best.

* [How switch off the Spring banner](https://www.mkyong.com/spring-boot/spring-boot-how-to-disable-the-spring-logo-banner/)
* To switch off console logging: [baeldung (short)](https://www.baeldung.com/spring-boot-disable-console-logging) or [HowToDoInJava (more details)

[2019-11-08 08:57] kunlk opened #854 "Printing help without specify help option"
Hello,

Wonder to know if there is a way to print help without help option. For example, if I input git without option, I can have :

C:\Users\User.Name\git
usage: git [--version] [--help] [-C <path>] [-c name=value]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p | --paginate | --no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--w

[2019-11-08 12:02] remkop commented on #854
I added [this example](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/git/Git.java). Basically, in the `git` command's `run` method, show the usage help message.

[2019-11-08 21:15] remkop commented on #854
@kunlk I added [this example](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/git/Git.java) that shows how to do this. Basically, in the `run` method of the top level command (`git` in our case), call `CommandLine.usage` to show the usage help message.

[2019-11-08 21:30] remkop opened #855 "Consider adding a picocli-minecraft module"
See https://github.com/remkop/picocli/issues/837

For reference: https://github.com/Mojang/brigadier

[2019-11-09 13:04] kunlk commented on #854
@remkop thank you so much ! This is exactly what I want -:)

[2019-11-09 15:57] sdavids opened #856 "Support documentation of Environment variables"
It would be nice if one could also document environment variables.

Something along the lines:

[code]

[2019-11-09 22:30] remkop commented on #854
Glad to hear that! Enjoy using picocli!

[2019-11-09 22:30] #854 closed

[2019-11-09 23:09] remkop commented on #856
@sdavids This can be done with a [custom help section](file:///C:/Users/remko/IdeaProjects/picocli3/build/docs/html5/index.html#_reordering_sections).

I added [an EnvironmentVariablesSection example](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/customhelp/EnvironmentVariablesSection.java) to show the details.

[2019-11-10 07:19] sanqingshan opened #857 "how to use with Multiple top commands"
examle:

java -cp app.jar AppMainClass  create --config install.yaml
java -cp app.jar AppMainClass  delete --config uninstall.yaml
java -cp app.jar AppMainClass  get pods -A

[2019-11-10 07:49] sanqingshan commented on #857
i has do it like this:

[code]

[2019-11-10 10:01] remkop commented on #857
The trick is to to make `AppMainClass` a command, with `create`, `delete` and `get` as subcommands.
That way you can make picocli do all the parsing work, and all you need to do is implement the business logic.

For example:

[code]

[2019-11-10 13:05] sdavids commented on #856
Thanks, please close ...

[2019-11-10 13:05] #856 closed

[2019-11-10 21:42] remkop commented on #856
@sdavids If you like the project, please star picocli on GitHub and tell your friends! :wink:

[2019-11-11 05:48] akamanocha opened #858 "Create Architecture (Internal?) Docs"
This is in reference to Micronaut at large. And is an enhancement request not a bug.

Reference to this issue
https://github.com/micronaut-projects/micronaut-core/issues/445

@graeme suggested that there could be separate issue raised for creating architecture docs.

The rationale for the same could be:

- It will give more contributors to the project, may be?, cause the consumers of this would be

[2019-11-11 06:41] remkop commented on #858
@akamanocha I think your intention was to raise this ticket in the Micronaut project instead of the picocli project. You may want to raise a new ticket in the Micronaut project.

It sounds like an interesting effort. Graeme’s recent presentation may be useful.

Slides: https://www.slideshare.net/graemerocher/micronaut-deep-dive-devoxx-belgium-2019

Video: https://www.youtube.com/watch?v=S5yfTfPeue

[2019-11-11 06:55] remkop commented on #857
@sanqingshan I updated the example to show how commands can also implement `java.util.concurrent.Callable` instead of `Runnable`, to return an exit code (and let picocli do the exception handling).

See the `AppMainClass.main` method for how this is used to call `System.exit` eventually.

[2019-11-11 08:39] akamanocha commented on #858
Oh yes! such a bad start to week. Awful Monday morning. But many thanks! I will correct the mistake.

[2019-11-11 08:41] kunlk opened #859 "use different options base on parent option input"
Hello,

Is there a way to implement something like sub-options. The term sub-options may not appropriate, so let me explain my requirement:

Like I have a CTL name as myctl and one command 'config'.  There is an option '-t' that represent different type.  If I input -t A, I would like have options A1 and A2, if I input -t B, I would like have options B1 and B2.

myctl config -t type

if(type.equal

[2019-11-11 08:42] #858 closed

[2019-11-11 10:05] remkop commented on #858
@akamanocha No problem at all. Please try picocli in your projects, you may like it! :wink:

[2019-11-11 10:34] remkop commented on #859
Do you mean validation? So, if the user specified `-t=A -B1`, you want to show an error message?

Picocli cannot do that, so you would need to code this validation logic in your application:

[code]

[2019-11-11 11:28] sanqingshan commented on #857
thanks very much, i will try it

[2019-11-11 23:58] kunlk commented on #859
@remkop sorry I may not describe the things clearly, the question is if I input the command
myctl config -t A
How could the Picocli prompt the  option A1 and A2 are missing ?

[2019-11-12 00:11] kunlk commented on #859
And yes, I can code that logic in application, such as if the user input myctl config -t A and enter ,

public Integer call() {
        if (myType == MyType.A && (a1 == null || a2 == null)) {
            System.err.println("Options -A1 or -A2 are missing be used with --type=A");
            return picocli.CommandLine.ExitCode.USAGE;
        }
    }

But just want to know if there is built-in API t

[2019-11-12 02:03] remkop commented on #859
Understood. Picocli cannot do _conditional_ validation like you describe: options `-A1` and `-A2` are only mandatory if `--type=A` was specified, but are not mandatory with `--type=B`.

If you need that exact behaviour you would need to code it in the application, like in the above example.

However, picocli _does_ have argument groups, which you can use to define [mutually dependent options](http

[2019-11-12 02:06] remkop commented on #857
I will close this issue for now.
Don't hesitate to let me know if there is any issue, or if the documentation is unclear/incomplete.

[2019-11-12 02:06] #857 closed

[2019-11-13 07:48] kunlk commented on #859
@remkop I read the mutually dependent options, but I still prefer to use one generic type options. So I will handle the logic in my app. Thanks again for your quick response and kindly help!

[2019-11-13 08:41] remkop commented on #859
You are welcome! :smiley:
I will close this ticket but feel free to open another one if you have more questions.

[2019-11-13 08:41] #859 closed

[2019-11-13 09:27] kunlk opened #862 "Custom main cmd help"
Hello,

Actually I have two questions here, and I'd like have a help message as below with the bold font.

Q1.  For the Options part, if I define the options in my main cmd, I can have that display. But if all my options have been defined in sub-commands, how could these options can be displayed after only issue the main cmd ?

Q2. Before the footer section, how could I add a customized section li

[2019-11-13 12:15] sormuras opened #863 "Loading CommandLine$DefaultFactory fails on Windows?!"
Hi!

I just created the following issue at https://bugs.openjdk.java.net/browse/JDK-8234076 to determine the underlying cause of a Windows-only fatal error when launching JUnit 5's Console Launcher. That in turn uses Picocli version `4.0.2`, I guess.

Sometimes(!) a run either crashes silently or creates a `hs_err_pid...log` file and the last class that was loaded is:

`[0.278s][info][class,load]

[2019-11-13 12:49] sormuras commented on #863
Using SNAPSHOT version of JUnit Platform Console, which shadows Picocli `4.0.4`, also shows an error like above.

[2019-11-13 13:15] remkop commented on #863
Hi @sormuras that looks nasty. I’ve looked at the JDK ticket but nothing jumped out at me yet. I will try to reproduce this tomorrow.

About your question: I am fairly sure that #794 is not related. The annotation processor only runs at compile time, while the issue you describe happens at runtime.

[2019-11-13 13:53] remkop commented on #862
Ok, interesting.

One way to do this is to add a custom section, but another way is to simply add the text from "Options:..." to the footer. I will show an example below.

The `picocli-examples` module has some examples of custom help sections. Perhaps the [`EnvironmentVariablesSection`](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/customhelp/Enviro

[2019-11-13 20:39] sormuras commented on #863
With required modules located in `lib/`, running

`java --module-path=lib --module=org.junit.platform.console --help`

does provoke the error. Sometimes.

Omitting the `=` characters does **NOT** provoke the error...

`java --module-path lib --module org.junit.platform.console --help`

🤔

[2019-11-13 20:45] sormuras commented on #863
The `=` between `module` and `org.junit.platform.console` causes the error. Having `--module-path=lib` is fine.

[2019-11-13 23:52] kunlk commented on #862
@remkop yeah, put it all in the footer is the easy way to that. Thx for your sample, and sure picocli-examples is wonderful I will check that for custom help sections.

Another quick question,  I currently use System.out.println("Subcommand A execute result"); to print the subcommand execution result directly, for example "subcommand A executed successfully".

Is this the recommend way to print su

[2019-11-13 23:57] kunlk commented on #862
And in some case, my subcommand execution result may not just one statement. For example it print a table to show several servers status. That's why initially I print that in subcommand directly.

[2019-11-14 01:34] remkop commented on #862
I would make all subcommands as independent as possible. That makes testing easy.
So yes, I would let each subcommand take care of its own output.

One thing to consider is whether your commands write to System.out/System.err, or whether you want to use picocli's out/err PrintWriters. By default, picocli's PrintWriters are wrappers around System.out and System.err, but you can change this for test

[2019-11-14 03:22] remkop opened #865 "Add API to facilitate tabular custom Help sections"
Related: https://github.com/remkop/picocli/issues/856

Currently, if a user wants to show some data (for example environment variables) in tabular format, they need to implement `IHelpSectionRenderer` and have custom logic that builds a `TextTable`.

Picocli internally has similar logic to build a `TextTable` for the exit codes section. It makes sense to expose some of the mechanics for this as pu

[2019-11-14 03:31] remkop commented on #856
@sdavids the next version of picocli will have more convenient API for this. See https://github.com/remkop/picocli/issues/865

[2019-11-14 03:44] remkop commented on #863
Nice detective work!

If I clone the project, and run

[code]

I see this:

[code]

[2019-11-14 03:49] sormuras commented on #863
Aye. This is the other way the process fails, sometimes. Repeat the `%JAVA_11_HOME%\bin\java src\build\Build.java` some more times, and eventually a fatal error is logged.

[2019-11-14 03:50] sormuras commented on #863
Or just copy and execute the last command:

[code]

[2019-11-14 03:52] sormuras commented on #863
Or, to limit the players involved:

`%JAVA_11_HOME%\bin\java --module-path=lib --module=org.junit.platform.console --help`

[2019-11-14 04:03] sormuras commented on #863
...btw, I don't know if Picocli is the root cause here. Some thoughts:

- `java` supports the `=` character in long options as its `--help` text suggests at the end -- could be bug in the `java` launcher, though
- Module `org.junit.platform.console` shadows Picocli -- are we doing it right? Missing out some things?
- Why does it work approx. 4 out of 5 times?
- Why is only Windows affected?

[2019-11-14 04:09] sormuras commented on #863
One last comment for the time being:

- Why does the crashing process stop after loading a bunch of `org.junit.platform.console.shadow.picocli.CommandLine$...` types?
- If the process does not crash, the class loaded directly after the "bunch" is: `org.junit.platform.console.shadow.picocli.CommandLine$DefaultFactory`

`java -verbose:class --module-path=lib --module=org.junit.platform.console --hel

[2019-11-14 04:21] sormuras commented on #863
_sigh_

Got a new one, using exactly the command from above:
- Console log excerpt: https://gist.github.com/sormuras/c475f230c61fca0fb75f8efdc78dc4a2
- HotSpot error log: [hs_err_pid452.log](https://github.com/remkop/picocli/files/3844584/hs_err_pid452.log)

Interesting to see, that `--module=org.junit.platform.console` is transformed to `-Djdk.module.main=org.junit.platform.console org.junit.plat

[2019-11-14 04:28] remkop commented on #863
I tried adding these options: "-Xcheck:jni", "-XX:+ShowMessageBoxOnError", "-verbose:jni", "-verbose:class", and the problem stopped occuring. I have not been able to reproduce it any more, even after reverting my changes.

* If the problem is really related to the `=` character in `--module=org.junit.platform.console`, then I agree that suggests a problem in the `java` launcher rather than a prob

[2019-11-14 04:34] remkop commented on #863
Weird: in that last crash, the thread that got the access violation is tid=8: WatcherThread (not the main thread)

[code]

[2019-11-14 04:35] sormuras commented on #863
Added all 4 options

`java -Xcheck:jni -XX:+ShowMessageBoxOnError -verbose:jni -verbose:class --module-path=lib --module=org.junit.platform.console --help`

and got:

![image](https://user-images.githubusercontent.com/2319838/68826961-88ed2b80-06a0-11ea-8eea-436f48149968.png)

[2019-11-14 04:37] sormuras commented on #863
And again, omit the `=` ... and the error doesn't happen anymore. 😕

[2019-11-14 05:26] remkop commented on #863
Ok, I can reproduce that, about once every 10-15 invocations.

[2019-11-14 05:31] sormuras commented on #863
_Smells like a race condition of some kind..._

[2019-11-14 05:55] remkop commented on #863
One of my crashed was in the VM Thread (but the process dump shows the WatcherThread is absent - ??):

[code]

[2019-11-14 10:15] sormuras commented on #863
Further runs are "recorded" here: https://twitter.com/shipilev/status/1194894927915823104

[2019-11-14 14:30] kunlk commented on #862
@remkop I got it, then this issue can be closed, thx agian!

[2019-11-14 14:31] remkop commented on #862
Glad to hear that. Enjoy using picocli!

[2019-11-14 14:31] #862 closed

[2019-11-14 19:02] sormuras commented on #863
Finally managed to create a minimal example that shows the issue.

Project: https://github.com/sormuras/JDK-8234076
CI build log: https://github.com/sormuras/JDK-8234076/runs/303494999

##### `java --module-path=mods --module com.greetings/com.greetings.Main --help`
Using `--module NAME`: `First application arg index: 4` with `argv[4] = --help`

##### `java --module-path=mods --module=com.greeting

[2019-11-16 07:00] Fernal73 opened #867 "Documentation is inconsistent."
https://picocli.info/#_boolean_options

https://picocli.info/#_toggle_boolean_flags

The section Boolean Options must specify clearly that current value toggling is supported in versions prior to 4.0 only. The behaviour becomes clearer only when the section Toggle Boolean Flags is arrived at.

Additionally, deprecated example code needs to be updated.

[2019-11-16 07:27] remkop commented on #867
Thanks for pointing this out. I’ll improve the docs. Can you point me to specific deprecated examples?

[2019-11-16 10:17] remkop commented on #867
I updated the [Boolean Options](https://picocli.info/#_boolean_options) section of the user manual. Is this sufficient? (Also please let me know which deprecated example code needs updating.)

[2019-11-16 11:02] Fernal73 commented on #867
Thank you very much, Remko.
I would have preferred it if you had mentioned that since 4.0, the
behaviour is to toggle the default value as against the current value in
prior versions.

I seem to have been looking at an earlier version of the documentation for
the examples. I had a couple of warnings about using deprecated methods.

With respect to using Graal, what's the best way to do it if I'm u

[2019-11-16 23:41] Fernal73 commented on #542
If tools are not ready, it would help to have documentation mapping JCommander classes to Picocli ones. A migration document would be useful.

[2019-11-17 00:45] remkop commented on #542
I wrote [something like that](https://picocli.info/migrating-from-commons-cli.html) for Commons CLI.

Would you be willing to help write something for JCommander?

[2019-11-17 01:01] Fernal73 commented on #542
I'm afraid that's not possible.

What I could do is transcribe the JCommander examples I've used here to
Picocli.

https://github.com/Fernal73/LearnJava/tree/master/JCommander

I needed to know how difficult or easy it would be. My feeling is that it
isn't that hard since annotations are key in both.

Hence, a mapping.

[2019-11-17 01:16] remkop commented on #542
There may be some difference in dealing with quotes (JCommander used to strip quotes by default, I think that was changed in later versions).

Another difference is that JCommander splits comma-separated option parameters automatically into list elements where picocli requires `split = ","` (this is by design). (Thanks to feedback from @juddgaddie on #738).

JCommander has its own syntax for `@-fi

[2019-11-17 05:55] Fernal73 commented on #542
Thank you very much for your response.
Yes, Picocli now supports JCommander-like @files. I read that part of the documentation.

I'm more interested in whether properties files and overriding via command-line parameters is allowed. JCommander supports properties files but the current implementation does nothing with the values read in.

https://github.com/pmd/pmd/issues/2087

[2019-11-17 07:02] remkop commented on #542
Is this what you are looking for?

https://picocli.info/#_default_provider
(See also the example link at the bottom of that section.)

[2019-11-17 07:33] remkop commented on #542
This wiki page also documents some differences:

https://github.com/remkop/picocli/wiki/picocli-vs-JCommander

[2019-11-17 07:52] Fernal73 commented on #542
Yes, I've found that. I'm yet to test it to check if its values are
overridable via the command line i.e., using CommandLine.parseArgs.

The documentation says nothing about overriding parameter values
specifically single-valued parameters.

[2019-11-17 08:57] remkop commented on #542
Here is how it works: Options and positional parameters are first initialized to their default values,, then if the user specified a value on the command line, it overwrites the default value.

Sorry, I don't understand the question. Expecting the application programmer to do what?

Yes, that is exactly what happens.

Ah hang on, I guess you mean the constructors. Yes, perhaps I should remove the

[2019-11-17 09:29] Fernal73 commented on #542
I understand very well how it bloody damn well works. And I'm not in the mood right now to test whether your tool works as I expect it to work. I expect the annotation to allow me to specify a file path, if I need to change the default. My only concern would be what would happen if I need an additional parameter to specify a different property file from the command line. That would involve jumping

[2019-11-17 10:55] remkop commented on #867
@Fernal73 I updated the [boolean options](https://picocli.info/#_boolean_options) section to clarify further. I hope this is better.

(I did not realize you edited your comment, sorry - I only get email once for the original comment - but regarding your question on the default provider, please see [PropertiesDefaultProvider](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/j

[2019-11-17 10:55] remkop commented on #542
I see. The annotations will only let you specify a class. It is possible to specify a file path programmatically, for example:

[code]

Note that the default provider must be set prior to parsing command line arguments, so if you need a way to set the path to the defaults file from a command line parameter, we would need some kind of two-pass approach, where the first pass just detects the path to

[2019-11-17 13:40] Fernal73 commented on #542
I agree. It's complex.
Once it's coded, however, it will be transparent to the user.

E.g.,
https://metacpan.org/pod/perlcritic#OPTIONS

Perl-critic allows the user to specify a different profile outside of its
default one.

[2019-11-17 22:43] remkop commented on #542
Even if arguments were parsed first and only the unset values were obtained from the provider, that is not sufficient: the library has no way of knowing which of the command line arguments to use to create a default value provider. This still needs to be done in the application.

That said, I took a stab at it and the complexity of a 2-pass approach turns out to be managable.
I uploaded some code

[2019-11-18 00:00] Fernal73 commented on #542
That's great. This is a great workaround.
My approach would have been to annotate the profile file parameter. And work from there. You're right. That would have involved major changes in the API. Thank you for your patience.

[2019-11-18 00:33] remkop commented on #867
@Fernal73 Any further changes needed in the documentation for Boolean Options or elsewhere, or can we close this ticket? (We can always open up another one if something else comes up.)

[2019-11-18 01:45] #867 closed

[2019-11-18 02:30] Fernal73 commented on #867
I've closed the issue. Parenthesising all the 'Prior to 4.0' statements would be best.

[2019-11-18 03:10] remkop commented on #542
I’m considering including `PropertiesDefaultProvider` in picocli 4.1. It just needs to be productionized with tests and documentation.

[2019-11-18 04:21] remkop opened #868 "Consider adding PropertiesDefaultProvider implementation"
Consider including the `PropertiesDefaultProvider`  implementation of the `IDefaultValueProvider` interface in the picocli distribution.

[2019-11-18 08:57] DaitariJena1505 commented on #827
Hi,

I have sping boot + picocli application. I want to implement TAB auto completion feature to show the  params and options in my application. Could you please help me how to do that. I am using  picocli-3.8.2.jar.

Your help is most appriciated.

Thanks
Daitari Jena

[2019-11-18 10:14] remkop commented on #827
Hi @DaitariJena1505, I would always recommend upgrading to the latest version (picocli 4.0.4). Is there anything preventing you from upgrading?

About your question, have you had a chance to read the [autocompletion user manual](https://picocli.info/autocomplete.html)?

[2019-11-18 10:56] DaitariJena1505 commented on #827
No the problem is when i am executing the command  : java -cp "picocli-3.8.2.jar:my.jar" picocli.AutoComplete -n login /BOOT-INF/classes/com.xyz.123.cli.command.LoginCommand , it is showing the error

java.lang.ClassNotFoundException:  /BOOT-INF/classes/com.xyz.123.cli.command.LoginCommand

[2019-11-18 11:18] remkop commented on #827
You need to specify a fully qualified class name. Have you tried without the “ /BOOT-INF/classes/” prefix?

[code]

[2019-11-18 15:40] unixunion opened #869 "spring-boot-starter example uses single hard-wired command"
Hi, I am trying to create a scaffold for a multiple command and subcommand project, and the example for spring-boot-starter very specifically wires only a single command into the run method.

        @Override
	public void run(String... args) throws Exception {
		exitCode = new CommandLine(myCommand, factory).execute(args);
	}

I am at a bit of a loss for how to get this to work for multiple comma

[2019-11-18 22:08] remkop commented on #869
Hi, please take a look at the sample command in the tests: https://github.com/remkop/picocli/blob/master/picocli-spring-boot-starter/src/test/java/picocli/spring/boot/autoconfigure/sample/MyCommand.java

The main command has a subcommand, which itself also has a sub-subcommand.
Would that help?

Note that an application always has one entry point, so there will always be one top-level command that

[2019-11-18 22:21] remkop commented on #869
Perhaps we can make it easier to explain with a concrete example. What is your application called, and what are some of the multiple commands and subcommands called in your project?

[2019-11-19 02:45] wjohnson5 opened #870 "Mixing Required + Non-Required Options in an ArgGroup -- required options not validated"
I have a use case similar to other issues -- options with sub-options. For example:
`cli --group=alpha --opt1=1 --group=bravo --opt2=foo`

I'm trying something like this:
[code]

This *almost* works:
 * `cli --group=alpha --opt1=1 --group=bravo --opt2=foo`
    results in
    `groups = [{name=alpha, opt1=1}, {name=bravo, opt2=foo}]`
 * `cli --opt1=1 --group=alpha --opt2=foo` (weird that --opt1 come

[2019-11-19 03:03] remkop commented on #870
Thank you for raising this. That does look odd. I will take a look when I get to my PC.

[2019-11-19 05:16] wjohnson5 commented on #870
Sorry, should have mentioned I'm using 4.0.4.

[2019-11-19 05:53] DaitariJena1505 commented on #827
Yes, i have tried that one also but same issue.

[2019-11-19 06:05] remkop commented on #827
Surely it cannot be the same; at least the error message should be different...

Is there any way for me to try to reproduce the issue? Could you create a test project?

[2019-11-19 06:17] wjohnson5 commented on #870
Also, to give some context, I'm trying to build a Java equivalent of a CLI previously implemented in python via Click. It uses [command chaining](https://click.palletsprojects.com/en/7.x/commands/#multi-command-chaining) and the command group callback feature to accomplish repeated subcommands. AFAICT, repeated subcommands aren't possible in picocli, but this seems like the closest approach.

[2019-11-19 07:01] remkop commented on #827
Also, can you post the result of `jar -tvf myjar.jar`? I would like to see where the `com.xyz.123.cli.command.LoginCommand` class is located inside the jar.

[2019-11-19 07:32] DaitariJena1505 commented on #827
5372 Mon Nov 18 12:53:26 GMT 2019
BOOT-INF/classes/com/xyz/123/cli/command/LoginCommand.class

[2019-11-19 07:58] remkop commented on #827
Ok that’s the problem. That’s a [Spring executable jar](https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-executable-jar-format.html), not a normal jar.

Your LoginCommand class is not visible on the classpath.

Can you extract your class and run the autocompletion generator again?

[2019-11-19 08:29] DaitariJena1505 commented on #827
After extraction, where i will put the class ?

[2019-11-19 08:39] remkop commented on #827
Just any directory is fine. For example:

[code]

Then, run:

[code]

[2019-11-19 08:44] remkop commented on #827
@DaitariJena1505 By the way, see [AutoCompletion distribution](https://picocli.info/autocomplete.html#_distribution) for an alternative way to distribute autocompletion scripts with your application: the idea is to give your top-level command a subcommand that end-users can use to generate and install the autocompletion script. (Just an idea.)

[2019-11-19 08:49] DaitariJena1505 commented on #827
Sorry to ask again, after extract the LoginCommand.class i have to create folder structure as above and re-build the jar again ?

[2019-11-19 08:50] remkop commented on #870
@wjohnson5  Thanks for that background. A feature like this ("repeatable subcommands" https://github.com/remkop/picocli/issues/454 ) is on the TODO list but has been shelved until a clear use case comes up. On the surface it does not look that hard to implement but I haven't spent the time to analyse in depth. The Click documentation is certainly helpful.

[2019-11-19 08:57] remkop commented on #827
After you have run `java -cp "picocli-4.0.4.jar:classes" picocli.AutoComplete -n login com.xyz.123.cli.command.LoginCommand` you should have a completion script that you can distribute with your application. If the old (Spring executable) jar `myjar.jar` works for you, then just keep using that, I guess. I am not very familiar with Spring executable jars.

[2019-11-19 10:21] remkop commented on #870
I have been able to reproduce the issue and found the cause: a bug in the validation logic.

[2019-11-19 14:53] remkop commented on #870
Fixed in master. Can you confirm?

[code]

Then test your project with picocli-4.0.5-SNAPSHOT. You should get an error for input like `cli --opt1=1`.

[2019-11-19 14:53] #870 closed

[2019-11-19 15:34] #828 closed

[2019-11-19 20:26] sgoeschl commented on #838
Well, either "won't fix" or "done" ...

[2019-11-19 22:11] wjohnson5 commented on #870
Confirmed fixed!
Some other comments:

* Using exclusive = True with both optional and required parameters probably doesn't make sense as it is right now -- if you change the example to have `exclusive = True`, calling `cli --opt1=1` works and gives `[{name=null, opt1=1}]`, and `cli --group=foo --opt1=1` gives `[{name=null, opt1=1},{name=foo}]`. I'd think, either (1) only the required arguments ar

[2019-11-19 23:46] remkop commented on #870
Thanks for confirming the fix and thanks for the kind words!

Thanks also for letting me know about the other issues. Would it be possible to raise separate tickets for them? That makes it easier for me to track.

[2019-11-20 00:03] Fernal73 commented on #542
https://spotbugs.readthedocs.io/en/stable/running.html

"-userPrefs edu.umd.cs.findbugs.core.prefs:
Set the path of the user preferences file to use, which might override some of the options above. Specifying userPrefs as first argument would mean some later options will override them, as last argument would mean they will override some previous options). This rationale behind this option is to re

[2019-11-20 00:26] remkop commented on #542
Thanks for the additional use case.
I raised https://github.com/remkop/picocli/issues/868 for this. It should make it in the next release (4.1).

[2019-11-20 00:49] wjohnson5 commented on #870
Will do. :)

[2019-11-20 05:16] DaitariJena1505 commented on #827
Do you have any sample project for Auto completion ? If you can share it would be a great help for me.

[2019-11-20 06:01] wjohnson5 opened #871 "Mixing multiplicity or required + non-required options in an exclusive ArgGroup gives unexpected results"
Related to #870

Tested with latest master. Using multiplicity="0..*" and `exclusive = true` with an ArgGroup, or `exclusive = true` with an ArgGroup that has both optional and required parameters gives unexpected results.

[code]

1. `cli  --opt=1` results in one group: `{name=null, opt=1}`. Even though no required options are provided, validation passes.

2. `cli  --name=foo --opt=1` gives `Erro

[2019-11-20 06:08] wjohnson5 opened #872 "Clearer error messages for ArgGroups"
See #870.

  *  If `num groups > max(multiplicity)` (whether the args are optional or required), it's currently:

     I like that this shows you the matched groups, but (1) it always says "expected only one match", even if the minimum multiplicity > 1, and (2) it seems unnecessary to repeat the group spec.

      If `num groups < min(multiplicity)`, it's currently:

     For consistency, I think

[2019-11-20 06:09] DaitariJena1505 commented on #827
After generating the completion script, how will i use that script ?

[2019-11-20 06:54] remkop commented on #827
@DaitariJena1505 You [install it](https://picocli.info/autocomplete.html#_install_completion_script) by sourcing the script. Then you can use tab completion for that command in that shell session.

[2019-11-20 06:58] unixunion commented on #869
Thanks, with this I managed to figure it out.

[2019-11-20 06:58] #869 closed

[2019-11-20 07:22] remkop commented on #869
Glad to hear that!
Please star the project on github if you like it and tell your friends! :-)

[2019-11-20 07:53] deining commented on #872
Please note the previous discussion on this topic (#744).

[2019-11-20 08:55] DaitariJena1505 commented on #827
You mean to say i have to run ->  source login_completion
The  run the jar -> java -jar myjar.jar
After that project will ask for login using login command that time tab completion will work ?

[2019-11-20 11:43] remkop commented on #827
No, if you run `java -jar x.jar` it won’t work.
Please look at the [documentation](https://picocli.info/autocomplete.html#_quick_start_tutorial): you need to create a named command in Unix. You can use an alias or a script.

If your command is `login`, create a script with that name that invokes `java -jar x.jar` or something to invoke your java program. This script then becomes the command that e

[2019-11-20 12:55] remkop commented on #871
Thanks again for raising this. I will need some time for this.

[2019-11-20 13:07] wjohnson5 commented on #871
No problem at all, please take your time! Again I really appreciate your work here :)

[2019-11-20 15:52] #868 closed

[2019-11-20 20:01] sormuras commented on #863
FYI: https://mail.openjdk.java.net/pipermail/core-libs-dev/2019-November/063573.html

Closing this issues, as Picocli is not the root of the bug.

[2019-11-20 20:01] #863 closed

[2019-11-20 22:36] remkop commented on #863
Thanks for the update, and again, nice detective work! :-)

[2019-11-21 05:54] DaitariJena1505 commented on #827
Hi,
Just want to clarify the below points.

Step 1 : alias login='java -cp "picocli-3.8.2.jar:myproject.jar" com.test.LoginCommand'

Step 2 : java -cp "picocli-3.8.2.jar:myproject.jar" picocli.AutoComplete -n login com.xyz.123.cli.command.LoginCommand

Step 3: Auto Completion script got created with the name -  login_completion

Step 4 : i have write a script where i have to write the below code.

[2019-11-21 10:22] remkop commented on #827
Looks more or less okay. Some details:

Use full path to the jars in the alias: if the user invokes the `login` command, the shell will try to run `java -cp "picocli-3.8.2.jar:myproject.jar" com.test.LoginCommand`. This may succeed, if those two jars exist in the current directory. It may be better to specify the full path to these jar files in the alias.

In the alias, the class name is `com.test

[2019-11-21 11:41] #846 closed

[2019-11-21 11:41] #865 closed

[2019-11-21 13:53] remkop commented on #809
Reopening since I am considering adding a `GenerateCompletion` subcommand implementation.

[code]

[2019-11-21 17:12] remkop commented on #772
The generated completion script itself now enables bash completion in zsh.

That means it is no longer necessary to run the below commands in ZSH before sourcing the completion script:

[code]

Can you verify?

[2019-11-21 17:12] #772 closed

[2019-11-22 09:17] #809 closed

[2019-11-22 16:42] ddsharpe commented on #838
I *second* that!  Well done! Thank you @remkop

[2019-11-22 17:02] ddsharpe opened #873 "ArgGroup - requiring one of several password types if userid is provided"
This may be user error, but I cannot seem to figure out the right combination (and assuming its a bug, or not implemented yet).

The behavior that I am after:  If the user specifies a userid on the command line (like -u remmy), then password should be required.  This part works with the simple ArgGroup(exclusive = false) where the group options are required.  But when I say that password can be on

[2019-11-22 17:57] ddsharpe commented on #873
After switching to 4.1.0, ArgGroup is working correctly (I think).  The only issue is the interactive password.  Without specifying the "-p" or "--password" on the CLI, the user is not prompted for the password.  My expectation for a required interactive was that the interface would prompt for it when not provided.

[2019-11-23 14:39] deining opened #875 "Release notes: dead internal links"
Hi,

I just read though the release notes of picocli 4.1. Great work, especially the PropertiesDefaultProvider comes in very handy, I will definitely use it!

Reading the release notes,
https://github.com/remkop/picocli/releases
I realized that there are three dead internal links at the very beginning of the document:

[code]

Maybe you can fix this.

Thanks for for continuos work on picocli! Keep

[2019-11-23 16:14] deining opened #876 "PropertiesDefaultProvider fails with static ArgGroup class"
Minimum example:

**Java source file:**

[code]

**Associated properties file** (MyCommand.properties):

[code]

If you comment out line 29 and uncomment line 30, the value from the properties file is picked up.

Is this the intended behaviour?

[2019-11-24 01:30] remkop commented on #873
@ddsharpe Sorry for my late reply.
Picocli currently requires the `-p` option to be specified before it prompts the user for the argument. (see also https://github.com/remkop/picocli/issues/800)
However, I will look into if it is possible to do what you describe.

[2019-11-24 01:56] remkop commented on #876
Thank you for raising this! I’ll investigate when I get to my PC.

[2019-11-24 01:59] deining opened #877 "PropertiesDefaultProvider: multiple positional parameters"
Hi,

I played around with the new PropertiesDefaultProvider implementation, I ended up with some code like:

[code]

If I run this with an empty properties file, I'm getting:

[code]

Now I'm putting a minimal properties file in place:
[code]

Once the parameters are retrived rom the properties file, the output now is:

[code]

Of course I can split up the string programmatically, but this is some

[2019-11-24 10:52] #875 closed

[2019-11-24 11:44] remkop commented on #876
I have only had a chance to look at this for a few minutes, but I’m guessing that this is related to the fact that default values in general are not applied to ArgGroups until at least one option in the group is matched.

https://picocli.info/#_default_values_in_argument_groups

[2019-11-24 17:29] hieberm opened #878 "Using Picocli, how do I require a positional argument and then optional arguments depending on the value of the positional argument"
I have a situation where I need to have three mandatory arguments (field1, field2 and field3. I then want the user to enter a command name (mandatory, values can be create, list, etc). The command name must be entered, and must be singular (only one of them can be entered).

Some of the commands will have arguments, some of them will not. How do I handle that?

I tried the following, but I get an