[2020-05-11 07:26] alexanderKoltman commented on #1039
Hi,

I try it out,
by adding the Mixin Annotation
and by creating a "CommonClass", which includes the Options.

But I always get an exception, also in Stackoverflow, the user seems to have problems with this way.
Basically, its a problem to "access" the attributes in my subclass of the @Mixin CommonClass test;

[2020-05-11 07:31] remkop commented on #1039
Can you show the code that uses mixins so I can reproduce the issue?

[2020-05-11 07:32] remkop commented on #1038
Yes please!

[2020-05-11 07:38] #1039 closed

[2020-05-11 08:25] remkop commented on #1039
@alexanderKoltman was this issue closed by mistake?
I am happy to help investigate your issue, but I need a way to reproduce the problem.

[2020-05-12 06:05] remkop commented on #1006
@FROGbots-4634 I believe you were looking for something like this:

[code]

[2020-05-12 07:41] #1038 closed

[2020-05-12 07:45] remkop commented on #1027
@NewbieOrange I have updated the implementation a bit; specifically, I added a `GroupMatchContainer::canMatchPositionalParam` method that hopefully covers more edge cases.

If you have a chance to poke at it (perhaps with some different edge cases) that would be great.

[2020-05-12 08:19] NewbieOrange commented on #1027
@remkop I noticed you have ignored the test `testPositionalsInGroupAndInCommand`, does that mean the original behaviour is broken or the new behaviour is expected?

Also, are there any new edge-case tests that would fail without the new `canMatchPositionalParam` included in `ArgGroupTest`?

[2020-05-12 08:48] remkop commented on #1027
I think that test used to pass "by accident"; note that there are two similar test cases (testGroupWithOptionsAndPositionals_multiplicity0_1 and testGroupWithOptionsAndPositionals_multiplicity1_2). These did not pass before and with the new logic still do not pass. So it is a bit strange that testMultipleGroupsWithPositional used to pass.

I did not add any new tests for `canMatchPositionalParam`.

[2020-05-12 11:50] remkop commented on #1027
Overall, I think we made very good progress in this area and it is stable enough to do a release.
It may not be perfect but we can enhance in future versions.

I will try to release picocli 4.3 tomorrow morning.

[2020-05-12 12:32] NewbieOrange commented on #1027
Yes, I think the current progress is at least much better than previous versions.

I will post update if I could find any issues, but in most cases it seems fine.

[2020-05-12 23:03] remkop commented on #649
Picocli 4.3 has been [released](https://github.com/remkop/picocli/releases/tag/v4.3.0).

Enjoy!

[2020-05-13 15:14] garretwilson commented on #649
As luck would have it I hit a huge milestone in one of my projects, so today I actually took a day off from my employer, intending to spend the morning in tranquility integrating the new changes. (Right away I ran into a new [Eclipse regression bug](https://bugs.eclipse.org/bugs/show_bug.cgi?id=563130) so I should have known it wouldn't be that easy.)

Here is my original base Picocli application

[2020-05-13 21:28] remkop commented on #649
Away from PC now, will look into this soon.
Would you mind raising a separate ticket?

[2020-05-13 22:35] remkop opened #1042 ""wrong number of arguments" exception when using inherited options with `@Command`-annotated methods"
The inherited options (#649) feature introduced in picocli 4.3 causes an exception when used with `@Command`-annotated methods:

Code to reproduce the problem:

[code]

Output:

[code]

[2020-05-13 22:37] remkop commented on #649
I raised https://github.com/remkop/picocli/issues/1042

This is a bug. Thank you for raising this!

[2020-05-13 23:05] remkop commented on #1042
Thank you @garretwilson for raising this!
I pushed a fix to master that addresses the issue.

Can I ask you a favor: can you take the new version for a spin with your use case(s)? It would be good to find if there are other issues not covered by the picocli tests before I publish a new release...

To verify, check out picocli master locally, and build it with `publishToMavenLocal`. That should pub

[2020-05-14 01:47] remkop commented on #633
Other interesting libraries doing work on interactive consoles:

* https://github.com/beryx/text-io (A library for creating interactive console applications in Java)
* https://github.com/IBM/kui (A hybrid command-line/UI development experience for cloud-native development)
* https://blog.repl.it/clui (https://github.com/replit/clui - CLUI is a collection of JavaScript libraries for building comman

[2020-05-14 01:58] garretwilson commented on #1042
Man, @remkop , today was not my day. One roadblock after another. Eclipse bugs. Picocli bugs. Lots of other things that you weren't responsible for. 😆 Finally I gave up, watched movies, and drank beers. I guess that's what vacations days are for anyway.

I'm sorry but I won't be able to test this out as a `-SNAPSHOT`. I'm really sorry. I know it would be nice for you to get that pre-release feedba

[2020-05-14 06:52] remkop opened #1043 "NPE in DefaultParamLabelRenderer.renderParameterLabel"
When running Groovy CliBuilder tests with picocli 4.3.0, the following error occurs:

* CliBuilderTest.testAnnotationsInterfaceToStringWithName
* CliBuilderTest.testMandatoryParametersDoNotConsumeOtherOptions
* CliBuilderTest.testMultipleOccurrencesSeparateSeparate3
* CliBuilderTest.testLongOptionsRequireDoubleHyphenByDefault
* CliBuilderTest.testAcceptLongOptionsWithSingleHyphen_usage
* CliBuilde

[2020-05-14 09:39] deining opened #1044 "attribute `splitSynopsisLabel`: incorrect usage message"
Picocli 4.3.0 introduced the attribute `splitSynopsisLabel`, which is great.
I encountered a minor issue when trying out the new attribute:

[code]

This now results in a proper usage message:

`Usage: ExecuteTest [x=<parts>[|<parts>...]]...`

Now I remove the attribute `split` from the option while leaving the the attribute `splitSynopsisLabel` in place:

`17      @Option(names = "x", splitSynops

[2020-05-14 10:00] #1043 closed

[2020-05-14 10:01] #1042 closed

[2020-05-14 10:44] remkop commented on #1044
Thank you for raising this!
This is now fixed in master (splitSynopsisLabel is ignored if `split` is missing).

If no other issues are reported I will do a bugfix release tomorrow morning.

[2020-05-14 10:44] #1044 closed

[2020-05-14 21:00] remkop opened #1045 "Picocli should only use Java 5 API"
As part of the work for #765, a call to `String.isEmpty` was introduced in `DefaultParamLabelRenderer.renderParameterLabel`.

The `String.isEmpty` method was introduced in Java 6. Picocli code should call the equivalent internal method instead.

[2020-05-14 21:03] remkop commented on #1045
Fixed in commit d1767537.

[2020-05-14 21:03] #1045 closed

[2020-05-14 21:51] remkop opened #1046 "Link to programmatic API from the user manual"
Link to programmatic API from the user manual

[2020-05-14 21:53] #1046 closed

[2020-05-14 23:19] remkop commented on #1042
@garretwilson picocli 4.3.1 has been released. Enjoy! :-)

[2020-05-14 23:20] remkop commented on #1044
@deining picocli 4.3.1 has been released with this fix. Thanks again for raising this!

[2020-05-14 23:22] remkop commented on #1005
@Zethson How did it go? If you have a link I can point to it from the picocli readme or other docs.

[2020-05-15 00:45] samrocketman commented on #757
This issue gave me some hints for how to store the Gradle version into my application Jar.  Thanks!

Application is a Groovy CLI compiled by gradle and distributed as a java uber jar.

https://github.com/samrocketman/cloneable/commit/2f0bdd7047560dcde97bfcd3a2e93f7375e3c39b

[2020-05-15 03:00] NewbieOrange commented on #10
Hi, any idea or suggestion about how this should be implemented? I saw your code snippet in #732, is that the preferred behaviour of this feature?

[2020-05-15 03:37] remkop commented on #10
Yes, the code in https://github.com/remkop/picocli/issues/732 is a good start for how I think this should work.

Basically, options and commands can be abbreviated at word boundaries:
* `--this-is-some-option` can be abbreviated as `--t-i-s-o`, or `--this-i-s` or `--t`, or (without hyphens) as `--tISO` or `--tIS`, etc.
* `--someCamelCaseOption` can be appreviated as `--sCCO`, or `--sC`, or `--s-c-

[2020-05-15 05:38] NewbieOrange commented on #10
Created a draft PR #1047.

[2020-05-15 08:35] Zethson commented on #1005
Dear @remkop

we were (and are) working a lot on the core code and implemented templates for other languages, but the JVM templates are our next target.
We're currently not quite sure how we should approach them.

We would like to implement the JVM templates as modules and also allow them to be easily packaged and distributed. Moreover, we would like to offer the choice of either Maven or Gradle.

[2020-05-15 11:37] remkop opened #1048 "Cause exception not printed by default execution exception handler"
When an exception occurs in the business logic, this is handled by the execution exception handler. By default, this prints the full stack trace of the exception.

Since 4.3.0, only the stack trace of the "outer" exception is printed. If that exception has any "cause" exceptions, these are incorrectly omitted.

With the work done in #484, #845 and #1008 (colors in exception handler), we no longer

[2020-05-15 13:20] jerrylususu commented on #1048
Sorry for the bug introduced. Working on a permanent fix.

[2020-05-15 13:58] jerrylususu commented on #1048
One easy fix would redirect all the output from ex.printStackTrace() to a string, as proposed in #845. However, doing so may harm the ability to split exception messages from stack traces.

[2020-05-15 14:43] jerrylususu commented on #1048
Seems extend StringWriter to write Style.on() before and Style.off() after is one viable solution. Testing locally.

[2020-05-15 15:21] jerrylususu commented on #1048
Mostly done...
![image](https://user-images.githubusercontent.com/17522475/82067105-d8212100-9702-11ea-9604-2c944e2a3430.png)

[2020-05-16 01:59] deining opened #1050 "Unable to add additional parameter to repeatable ArgGroups with positional parameters"
As of picocli 4.3, repeatable ArgGroups can now define positional parameters. I'm encountering difficulties while using this new feature:

[code]

When running this code, I'm getting:

[code]

Is this the intended behaviour? Is there any way to make this work? I think the last parameter is supposed to be marked with `index=4`. When specifiying `@Parameters(index="4", arity = "1")`, a `ParameterInd

[2020-05-16 02:10] remkop commented on #1050
Yes, there are some `@Ignore`-ed tests in `ArgGroupTest` for cases like this, where positional parameters are defined inside a group as well as outside one. It is [documented](https://picocli.info/#_argument_group_limitations) as one of the limitations of argument groups.

I briefly looked at it but have not spent that much time on it. It may be difficult to get this to work...

The note about the

[2020-05-16 07:16] jerrylususu commented on #1048
By the way, here is a strange table about the compatibility of ANSI style.

![image](https://user-images.githubusercontent.com/17522475/82113371-1a407600-9788-11ea-9adb-2cec5e88fcc0.png)

[2020-05-16 08:04] #1048 closed

[2020-05-16 09:33] remkop commented on #1048
Thanks for the help!
I just released picocli 4.3.2 with this fix.

About the terminals, there is not much we can do about that in the application. The best we can do is select colors and styles that look acceptable in most consoles. (Which I think we did.) :-)

[2020-05-16 09:38] jerrylususu commented on #1048
Sorry for the bug introduced! Hope 4.3.2 will be the last patch version of 4.3, and wish everything goes well!

[2020-05-16 10:27] remkop commented on #1048
No worries!
That’s software!

[2020-05-16 15:17] garretwilson commented on #1042
@remkop that seems to have fixed it. Thank you so much!

[2020-05-16 15:22] garretwilson commented on #649
@remkop I've integrated this into my application, and so far it is everything I dreamed it would be!

Admittedly from the outside it doesn't look like a lot technically: it was just a flag to say "inherit this option to subcommands". But I hope you realize how much nicer it makes my application by simply adding that simple `scope = ScopeType.INHERIT` and have that functionality be turned on for al

[2020-05-16 17:36] yschimke commented on #294
Going to play around with my specific script for now, but this ouwl dbe high impact given it's the default shell in OSX now.

[2020-05-16 20:01] remkop commented on #294
That would be great! PRs are always welcome!

[2020-05-16 20:02] remkop commented on #1042
Great! Make sure to use the latest version (4.3.2).

[2020-05-16 20:59] remkop commented on #649
Thanks for that!
Positive feedback from happy users is what keeps me going. I’m sure it’s the same for other open source maintainers (so drop them a kind word when you get a chance 😉).

What would be really great is if you could do a blog post or article somewhere on how picocli has been useful for you. You’d be surprised how few people know that picocli even exists. Would be good if we could chan

[2020-05-16 21:06] garretwilson commented on #649
I would absolutely love to!

I haven't been producing blog entries for a while because I'm been working feverishly to migrate my entire personal site to a new Cloud-distributed platform.
* But to do that I needed to write the static site generator (which I've been working on for a year and a half). The CLI of this uses Picocli.
* And to do that I needed to upgrade my metadata framework (which I've

[2020-05-17 01:33] remkop commented on #1014
@prt95, did you have a chance to create an issue in the JLine 3 project for this?

I am tempted to close this ticket since there is no change that I can make in picocli to fix this: this requires a change in JLine. Does that make sense, or do you want to keep this ticket open?

[2020-05-17 01:35] remkop commented on #994
@bdemers, did you have a chance to look at this?

[2020-05-17 07:59] Zethson commented on #1005
Actually, you've pointed me into the right direction already and I forgot about that:

https://github.com/remkop/picocli-native-image-demo and https://github.com/remkop/picocli-native-image-maven-demo should be example what I'm looking for.

I will explore these and keep you updated. ETA ~< 4 weeks :)

[2020-05-17 14:26] prt95 commented on #1014
Ok Remko, Please go ahead and close the ticket. I will check with Jline.

On Sun, 17 May 2020, 07:03 Remko Popma, <notifications@github.com> wrote:

[2020-05-17 22:01] #1014 closed

[2020-05-18 12:54] charphi opened #1051 "GenerateCompletion command only works if used as direct subcommand of root"
I'm trying to use it in a sub-subcommand such as `mycommand setup generate-completion`
instead of `mycommand generate-completion`

Unfortunatly, this generates autocompletion for `setup` and not `mycommand`.

[2020-05-18 13:44] charphi opened #1052 "Show/Hide command on specific conditions"
The current way to show/hide a command is to set the parameter at compile time.
Similar to IVersionProvider, it could be useful to show/hide a command if certain conditions are met such as platform, OS, resources, ...

[2020-05-18 21:34] remkop commented on #1052
Yes, this is currently not easy to achieve. There is an API to customize the help: [help section renderers](https://picocli.info/#_usage_help_api), but for fine-grained changes like you describe it would mean re-implementing large pieces of logic in the `Help.listCommands()`, `Help.listOptions()` and `Help.listParameters()` methods.

One reason this is not easy is that these methods currently quer

[2020-05-18 21:38] remkop commented on #1051
Yes, currently the `AutoComplete.GenerateCompletion` command generates completions for its parent. I agree that it would be better if it would generate completions for the root command instead.

Will you be able to provide a pull request (with test) for this?

[2020-05-18 21:59] waacc-gh opened #1053 "NullPointException when using Argument Groups"
When the example in chapter "8.4. Repeating Composite Argument Groups" is call with the options:
-a 1 -b 1 -c 1 -x -z
an NullPointException is thrown. The problem seams to be #that two values (-x and -z) are supplied for "Exclusive ". #

[2020-05-18 21:59] remkop commented on #1051
The implementation for this is fairly straightforward: just replace

[code]

with

[code]

But we do need some tests to verify that this works for your use case (and perhaps another one where the completion command is nested even deeper).

[2020-05-18 22:14] waacc-gh opened #1054 "option-parameter gets lost in Argument Groups"
see: #1055

[code]
called with:
- `-f pattern -d` --> accepted --> ok
- `-f pattern -w text` --> accepted --> ok
- `-f pattern -d -w text` --> error --> ok
- `-d -f pattern -w text` --> error --> ok
- `-f pattern1 -f pattern2 -d` --> accepted --> wrong: `findPattern = "pattern2"`, `"pattern1"` is lost/ignored

[2020-05-18 22:19] remkop commented on #1053
Hi @waacc-gh, thank you for raising this!

With the latest version (picocli 4.3.2) I am unable to reproduce the issue. The following test passes for me:

[code]

I suspect the code you are executing may be slightly different.
Can you show the exact code that reproduces this issue?

[2020-05-18 22:38] waacc-gh opened #1055 "option is treated as option-parameter (was: option is treated as option-parameter in Arguments Groups)"
see: #1054

[code]
called with:
- `-f pattern -w text` --> accepted --> ok
- `-f -f -w text` --> accepted --> wrong: `findPattern = "-f"`, means, the second `-f` is treated as an option-parameter for the first `-f`
- `-f pattern -w -d` --> wrong: `replacement = "-d"`, means `-d` is treated as an option-parameter for `-w`

[2020-05-18 22:47] remkop commented on #1054
@waacc-gh Thank you for raising this!
I have been able to reproduce the issue.
Still investigating the cause...

[2020-05-18 22:50] remkop commented on #1055
@waacc-gh Thank you for raising this!
I am looking into this...

[2020-05-18 22:55] waacc-gh commented on #1053
Sorry, my fault. I've overlooked the hint in the documentation - or more precisely, I was not able to remember the hint when creating a simple test-output-method.

[2020-05-18 22:55] #1053 closed

[2020-05-19 02:00] remkop commented on #1018
Hi @notwhoyouthinkiam, can you try again with picocli 4.3.2? There have been some improvements in this area in [4.3.0](https://github.com/remkop/picocli/releases#4.3.0-fixes), things may be a bit better in the latest version.

[2020-05-19 04:00] remkop commented on #886
My more recent understanding is that it should also be possible to fix this by replacing

[code]

with

[code]

[2020-05-19 04:00] #886 closed

[2020-05-19 04:02] #223 closed

[2020-05-19 06:09] remkop commented on #1055
This behaviour is not limited to Argument Groups but can actually happen with any option that accepts a parameter. For example:

[code]

This prints:

[code]

I will add this to the roadmap for the next release.

There is an [outstanding request](https://github.com/remkop/picocli/issues/639) to improve a similar situation where values "resembling options" are accepted as option parameters.

Still

[2020-05-19 08:40] charphi commented on #1051
The code is simple indeed.

But, there is one thing missing: a pre-defined variable for root name (ROOT-COMMAND-NAME?) so that the command description
`"Generate bash/zsh completion script for ${PARENT-COMMAND-NAME:-the parent command of this command}."`
would become:
`"Generate bash/zsh completion script for ${ROOT-COMMAND-NAME:-the root command of this command}."`

[2020-05-19 08:43] remkop commented on #1051
Yes, it makes sense to add a `${ROOT-COMMAND-NAME` variable.

[2020-05-19 09:14] charphi commented on #1051
I'm coding a PR.

[2020-05-19 10:43] charphi opened #1057 "How to parse argument as system default value"
My use case is to be able to ask for the default charset of the OS (see `Charset.defaultCharset()`) instead of a specific one while keeping the default to `UTF-8`.

My solution would be something like `mycommand --charset=.` with this custom converter:
[code]

How would you do that with picocli? Is there a better way?

[2020-05-19 11:47] remkop commented on #1057
Not sure I understand the question. It looks like you already have the solution. If the question is how to wire this in, you can either use your converter for all `Charset` options with `CommandLine::registerConverter`, or only for a specific option with `@Option(converter = CustomCharsetConverter.class)`.

Does that answer your question?

[2020-05-19 11:57] charphi commented on #1057
It seems my question was not clear.
It is not about how to wire the converter but an open question to get alternatives and/or ideas for improvement.
For example: is dot the right character to use? Is there an existing pattern?

[2020-05-19 12:01] remkop commented on #1057
I see.
My approach would be to simply always do `Charset.forName` on the specified value, without "special" values like a dot. The user can select the default charset by not specifying the `--charset` option at all. (It may be useful for users if the usage help shows the value of the default charset with `${DEFAULT-VALUE}`.)

[2020-05-19 12:44] deining opened #1058 "Synopsis of man page generator: incorrect asciidoctor call"
**Synopsis of man page generator:**

[code]
The asciidoctor command is missing the required parameter `FILE...`, should be:

`asciidoctor --backend=manpage --source-dir=SOURCE_DIR --destination-dir=DESTINATION *.adoc`

I submitted a PR meanwhile (#1059).

**Additional question:**

I do have a localized, picocli based application. Can I use the man page generator to generate *.adoc files in my vari

[2020-05-19 16:03] bdemers commented on #994
Hey @remkop! Sorry about the delay.

I just tested this again, and everything works fine with Maven when using matching versions of picocil and picocli-codegen as well as configuring picocli-codegen in the `annotationProcessorPath`

I just double-checked the docs, and it DOES say this is how the compiler plugin should be configured. I'm going to say this was caused by user error (and assumptions a

[2020-05-19 16:19] #994 closed

[2020-05-19 22:29] #1051 closed

[2020-05-19 23:21] remkop commented on #1058
Thank you for pointing out the problem in the docs and for the PR to fix it!

I haven't actually tried this, but yes, that should be possible. When you invoke the `ManPageGenerator` command, if you set the target locale by specifying the `user.language`, `user.country`, and `user.variant system` properties, the generated usage help should use the resource bundle based on the user locale.

(We shou

[2020-05-20 07:03] deining commented on #1058
I can confirm that this works, indeed.

I try to author a PR later on.

**Additional note:**

Man page generation is a great feature. Currently, it is somehow hidden, however. Can't we make it more accessible by giving an picocli based application the ability to generate its own man page on demand (via subcommand). Something like:

[code]

Can this be implemented? Or does this feature exist alread

[2020-05-20 08:05] remkop commented on #1058
I see. I hadn't thought of that but that is a nice idea.
Currently the logic lives in a private static inner class: `picocli.codegen.docgen.manpage.ManPageGenerator.App`.
One idea is to rename `App` to `Command` and make it public.

[2020-05-20 20:48] remkop commented on #1058
Another idea is to remove the innner `App` class altogether and move the annotations and annotated fields to the `ManPageGenerator` class itself.

[2020-05-20 21:36] deining opened #1061 "Improve synopsis for commands with ArgGroups with positional parameters"
Derived from #1050:

[code]

This results in:

[code]

IMHO, it were appropriate to swap parameters and help + version options:

[code]

[2020-05-20 21:37] remkop opened #1062 "Generate yori completion scripts"
[Yori](https://github.com/malxau/yori) is a CMD replacement shell that supports backquotes, job control, and improves tab completion, file matching, aliases, command history, and more. http://www.malsmith.net/yori/

We can generate yori completion scripts from a `CommandSpec` model, once we [figure out the syntax](https://github.com/malxau/yori/issues/41) for yori completion scripts.

[2020-05-20 22:16] bdemers opened #1063 "ManPageGenerator does not ignore "hidden" options"
I was expecting the ManPageGenerator to ignore "hidden" options the same way that the standard `--help` renderer ignores them, for example:

[code]

This does NOT render when `--help` is used, but it IS rendered to the manpage doc:

[code]

[2020-05-20 22:21] bdemers commented on #1063
NOTE: hidden subcommands are rendered as well

[2020-05-20 22:30] remkop commented on #1063
@bdemers Thank you for reporting this!
This is an oversight and a bug.

[2020-05-21 07:59] rmuller commented on #750
Please check https://mapstruct.org/news/2020-02-03-announcing-gem-tools

[2020-05-21 09:06] remkop commented on #1063
Will you be able to provide a pull request for this?

[2020-05-21 18:02] bdemers commented on #1063
I think I've got it, doing a bit more testing and I'll send a PR

[2020-05-22 15:23] waacc-gh commented on #1055
The reason why I'm raised this issue is, I'm confused. The following examples behave different. Is this intended? (Yes I know, my example above is a little bit different. But I think it's more or less the same problem.)
[code]

[code]

[2020-05-22 16:09] waacc-gh commented on #1055
Yes, you are right, the main problem of this issue is, to guess the intention of the user: is a command line argument starting with `-` (or `--`) always an option or could it be also a parameter.

I'm not sure if additional parser switch(s) really solve this issue.
So, my ideas/thoughts:

Always treating an argument starting with `-` as an option is not an good idea, because maybe a parameter real

[2020-05-22 23:20] remkop commented on #1055
I believe the best way forward it to provide parser options to disallow values that are actual options or are similar to options. When applications need to allow such values they can configure the picocli parser accordingly.

I don't think that a general solution exists for this. Any further validation is the responsibility of the application.

[2020-05-23 04:49] #10 closed

[2020-05-23 04:49] #732 closed

[2020-05-23 16:56] waacc-gh commented on #1055
I also do not think that there is a general solution for every use case. And I've learned, it doesn't matter how many use case are considered, there is always another on. But in my opinion, the parse should act the same way in similar case and not different (like in the two example above).

Escaping the `-` is my best idea till now. I don't know, how is unix/linux dealing with this problem?

[2020-05-23 18:41] kap4lin opened #1065 "With a List<> Option in @ArgGroup, group incorrectly appears twice in the synopsis"
[code]
Shows the following output:
`Usage: MyApp [[-A=N[,N...]] [-A=N[,N...]]...]`

Expected output:
`Usage: MyApp [-A=N[,N...]]...`

Issue initially raised on SO [here](https://stackoverflow.com/questions/61964838/picocli-list-option-used-in-arggroup-duplicated-in-short-usage-string).

[2020-05-24 01:35] remkop commented on #1065
Thank you for raising this.
Looking into it.

[2020-05-24 10:37] remkop commented on #1065
This synopsis stuff can get quite complex... Let's break it down.

Before we go into argument groups, let's first look at simple options. Picocli shows a different synopsis for required and non-required options, and for single-value and multi-value options.

The below table illustrates. Note especially the notation for required multi-value options:

[code]

Now, let's look at groups.  In `exclusiv

[2020-05-24 11:19] remkop commented on #1065
Apologies, I did some refactoring to reduce duplicate code and this appears to have changed the behavior.

The expected synopsis can be achieved in the next release by making the group non-exclusive.

[2020-05-24 11:19] #1065 closed

[2020-05-24 12:00] remkop commented on #1065
I updated my answer above.

[2020-05-24 16:49] deining opened #1066 "Generation of man page via subcommand"
Feature request, extracted from #1058:

Picocli based application should be giben the ability to generate its own man page on demand (via subcommand). Something like:

[code]

**Notes from @remkop:**

Currently the logic lives in a private static inner class: `picocli.codegen.docgen.manpage.ManPageGenerator.App`.
One idea is to rename `App` to `Command` and make it public.
Another idea is to remov

[2020-05-24 16:50] #1058 closed

[2020-05-24 22:00] remkop opened #1067 "Fix ParserSpec::toString and ::initFrom"
`ParserSpec::initFrom` was not copying `useSimplifiedAtFiles`.

Also, update `toString` and `initFrom` for [#10][#732][#1047].

[2020-05-24 22:01] remkop opened #1068 "Make `ParserSpec::toString` output settings in alphabetic order"
Make `ParserSpec::toString` output settings in alphabetic order, for easier future maintenance.

[2020-05-24 22:14] remkop opened #1069 "Debug output should show optionsCaseInsensitive and subcommandsCaseInsensitive"
When arguments are parsed, the current configuration is displayed if DEBUG tracing is enabled.
This output should include the `optionsCaseInsensitive` and `subcommandsCaseInsensitive` values.

[2020-05-24 22:21] #1067 closed

[2020-05-24 22:21] #1068 closed

[2020-05-24 22:21] #1069 closed

[2020-05-25 02:08] remkop commented on #1054
Thank you for raising this.
I believe this is fixed in master now.

To verify, check out picocli master locally, and build it with `publishToMavenLocal`. That should publish `picocli-4.3.3-SNAPSHOT` to your local .m2 Maven cache.

[code]

You can then try this in a project that uses the `info.picocli:picocli:4.3.3-SNAPSHOT` dependency. Feedback very welcome!

[2020-05-25 02:08] #1054 closed

[2020-05-25 12:08] mikosik opened #1071 "Standard help renders "Options" header when it is specified via optionListHeading even when there's only one hidden option"
### Code

[code]

### actual output
[code]

### expected output: (without "Options:" line)
[code]

### bug summary
When Command has only hidden options and `optionListHeading` is specified for that command then option list heading is always printed by help subcommand.

EDIT:
picocli version 4.2.0

[2020-05-26 00:23] remkop commented on #1071
Good catch! Thank you for raising this!
I'll put this on the todo list for the next release.

[2020-05-26 11:57] remkop opened #1072 "Mixin usage.width() and longOptionsMaxWidth() ignored;"
Commands that have a `@Mixin`-annotated element referring to another command with `@Command(width = xxx, longOptionsMaxWidth = yyy)` values, expect these values to be applied in the mixee command, but these values are ignored and the default values are applied.

[2020-05-26 12:02] #1072 closed

[2020-05-26 21:35] mashlol opened #1074 "Get expanded @-file arguments?"
Is it possible to get the parsed, expanded @-file arguments after parsing is complete? In `ParseResult`, I see there is a `tentativeMatch` which does have the correct arguments parsed out, but it doesn't seem to be exposed externally. The `originalArgs` object still has the un-expanded @-file arguments like `@/path/to/file.args`

Basically given `binary --arg @/path/to/file --other_arg @/path/to/s

[2020-05-26 22:05] remkop commented on #1074
Hi, with the current version of picocli this feature does not exist.
We could add a method `ParseResult.expandedArgs()` that returns the argument list that was actually processed by the parser (so after `@file` expansion).

Will you be able to provide a pull request for this?

[2020-05-26 23:38] mashlol commented on #1074
Sure, I can submit a pull request for this.

[2020-05-27 02:29] remkop commented on #1074
This is a nice addition!
Thank you for the PR! Merged and will be included in the next release.

[2020-05-27 02:29] #1074 closed

[2020-05-27 09:26] power721 opened #1076 "Don't generate Autocomplete for hide commands"
I want to hide some commands.
It's hide from help message, but it does not hide from generated Autocomplete.

[2020-05-27 09:51] remkop commented on #1076
Thank you for raising this!
That makes sense.

Will you be able to provide a pull request for this?

[2020-05-27 22:53] remkop opened #1077 "Show end-of-options `--` in manual page"
This is a follow-up ticket to https://github.com/remkop/picocli/issues/985:

the ManPageGenerator needs special logic to show the `Help.END_OF_OPTIONS_OPTION` option
when `spec.usageMessage().showEndOfOptionsDelimiterInUsageHelp()` is `true`.

This special option should be rendered after the other options in the command, but before the option groups (if any).

[2020-05-28 08:47] Linyer-qwq commented on #1077
Hello, I want to try to fix work on issue, could you please provide some testcases so that I can better understand this purpose?

[2020-05-28 11:18] #1063 closed

[2020-05-28 11:34] remkop commented on #1063
Merged the PR. Thanks for the contribution!

There may be an edge case where options in an argument group (with header) are not hidden, while all other options are hidden; would be good to have a test case for that...
If you can take a look at this that would be great!

[2020-05-28 11:42] remkop commented on #1077
If you already started working on this, please fetch the latest master again since I just merged #1064.
I added a test case, see [here](https://github.com/remkop/picocli/commit/e742964c544958f58a567c473c534b283b06c38e).

[2020-05-28 18:31] serpro69 opened #1078 "picocli-codegen generates empty 'resources' array in resource-config.json"
I have several resources in `main/resources`, and have setup picocli-gen with kotlin and kapt (tried explicit gradle tasks as well)

Reflect config seems to be correct.
Proxy config file is an empty array `[]`. Probably because I don't have any proxies in the application.
Resource config is:
[code]

Am I doing something wrong or missing some configuration to generate `resource-config.json` correct

[2020-05-28 18:51] serpro69 commented on #1078
Sorry, my bad, forgot to specify the pattern :)

[2020-05-28 18:51] #1078 closed

[2020-05-28 18:55] remkop commented on #1078
No worries, thanks for the confirmation!

[2020-05-28 22:37] remkop commented on #1076
@power721, what version of picocli are you using?
Looking at the code for `AutoComplete`, hidden commands should be skipped...
Can you show me an example that reproduces this issue?

[2020-05-30 22:50] remkop opened #1081 "Help constructor should not call overridable methods `addAllSubcommands` and `createDefaultParamLabelRenderer`"
Currently, the `CommandLine.Help` static inner class calls the public `CommandLine.Help#addAllSubcommands` and `createDefaultParamLabelRenderer` methods from the `Help` constructor.

This is considered a bad practice, as documented [here](https://stackoverflow.com/questions/3404301/whats-wrong-with-overridable-method-calls-in-constructors) and [here](https://stackoverflow.com/questions/18348797/wh

[2020-05-30 22:57] remkop opened #1082 "Help constructor should set END_OF_OPTIONS_OPTION.commandSpec"
Help constructor should set `END_OF_OPTIONS_OPTION.commandSpec` for interpolation, similar to how it is done for `AT_FILE_POSITIONAL_PARAM`.

[2020-05-31 01:58] remkop opened #1083 "`@Command`-annotated methods are not added if enclosing class does not have `@Command` annotation"
`@Command`-annotated methods are not added if enclosing class does not have `@Command` annotation.

Example:

[code]

[2020-05-31 11:45] remkop opened #1084 "Add API to create layout for a list of options/positional params"
Add API to create layout for a list of options/positional params,
similar to `Help.createDefaultLayout`.

[2020-05-31 11:46] remkop opened #1085 "Add API to get argument groups with a header"
Add API in `Help` to get a list of only the argument groups with a header.

[2020-05-31 11:54] remkop opened #1086 "Add API in Help.Layout that shows all specified options (including hidden ones)"
The current methods `addOptions` and `addPositionals` in `Help.Layout` filter out arguments that have `hidden = true`. Some custom layouts may want to display options and positional parameters that are usually hidden.

Add methods `addAllOptions` and `addAllPositionals` to the `Help.Layout` class.

[2020-05-31 11:58] remkop opened #1087 "Add API `allOptionsNested` and `allPositionalParametersNested` to `ArgumentGroupSpec`"
Add API `allOptionsNested` and `allPositionalParametersNested` to `ArgumentGroupSpec`;
these methods return all options or positional parameters in this group _and_ its subgroups (including nested sub-subgroups).

[2020-05-31 22:28] remkop opened #1088 "Add method Help::allSubcommands to return all subcommands, including hidden ones"
Currently, the `Help` class has a method `subcommands` which returns all non-hidden subcommands, each wrapped in a `Help` object.

Provide a similar method `Help::allSubcommands` to return _all_ subcommands, including hidden ones.

[2020-05-31 22:34] remkop opened #1089 "Add method Help::createDefaultOptionSort to create a Comparator following the command configuration"
Add method `Help::createDefaultOptionSort` to create a `Comparator` following the command configuration:

* if `Command#sortOptions` is true, sort by the options short name
* if @Command#sortOptions` is false, and any of the options have a non-default value for `Option#order`, then sort by this order attribute
* otherwise, return `null` to indicate options should be shown in definition order

[2020-05-31 22:58] remkop opened #1090 "Add methods Help::optionListExcludingGroups to show only the specified options, including hidden ones"
Currently, the `Help::optionList` methods are coarse-grained:

* they automatically filter the hidden options, with no easy way to customize this
* they show the options and any option groups

This makes it difficult to customize the options list.

This ticket proposes to add methods `Help::optionListExcludingGroups` that accept a list of options, and to show only the specified options, including

[2020-05-31 23:02] remkop opened #1091 "Add method Help::optionListGroupSections to show option groups"
This complements #1090; and shows the options groups in a command.

This allows users implementing a custom help usage message to show the option groups below (or above) a customized list of non-group options.

[2020-06-01 11:37] remkop opened #1092 "Add methods Help::parameterList(List<PositionalParamSpec>) to show only the specified positional parameters, including hidden ones"
Similar to #1090, but for positional parameters.

(This is slightly different since the existing `Help::parameterList` method only shows parameters, not groups.

[2020-06-01 11:40] remkop opened #1093 "Add method Help::commandList(Map<String, Help>) to show only the specified subcommands, including hidden ones."
Similar to #1090 and #1092, but for commands: return a String with the rendered section of the usage help containing only the specified commands, including hidden ones.

[2020-06-01 11:44] remkop opened #1094 "Add method Help::createDefaultLayout(List<OptionSpec>, List<PositionalParamSpec>, ColorScheme) to create a layout for the specified options and positionals"
Add method `Help::createDefaultLayout(List<OptionSpec>, List<PositionalParamSpec>, ColorScheme)` to create a layout for the specified options and positionals.

[2020-06-01 17:47] thomasrockhu opened #1095 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-06-01 22:30] remkop commented on #1084
Duplicate of #1094

[2020-06-01 22:30] #1084 closed

[2020-06-01 22:44] remkop opened #1096 "Override Help.Column equals/hashCode/toString methods"
Override `Help.Column` `equals`, `hashCode` and `toString` methods to facilitate testing.

[2020-06-01 22:51] #1088 closed

[2020-06-01 22:51] #1090 closed

[2020-06-01 22:51] #1091 closed

[2020-06-01 22:51] #1092 closed

[2020-06-01 22:51] #1093 closed

[2020-06-01 22:51] #1086 closed

[2020-06-01 22:51] #1087 closed

[2020-06-01 22:51] #1089 closed

[2020-06-01 22:51] #1094 closed

[2020-06-01 22:51] #1081 closed

[2020-06-01 22:51] #1085 closed

[2020-06-01 22:51] #1096 closed

[2020-06-01 22:57] remkop commented on #1052
I pushed a commit to master that should give you the tools to fix this. Specifically, these two new methods:

* Help.allSubcommands
* Help.commandList(Map)

To show all subcommands, including any hidden commands, do this:

[code]

Can you try this to see if it meets your requirements?

[2020-06-02 03:28] remkop commented on #1061
One way to accomplish this is to make non-group options _always_ precede argument groups in the synopsis.  (Simple, predictable, but potentially some disruption for existing applications.)

Another idea is to _only_ let options precede groups if the groups contain only positional parameters. Not sure if I like that idea. (Less predictable)

Yet another idea is to make this configurable. That would

[2020-06-02 03:34] remkop commented on #983
Some work is in progress to address this: the tickets below make it easier to customize the option list in the usage help message. However, it is not yet possible to customize the synopsis...

* [#1090] API: Add methods `Help::optionListExcludingGroups` to return a String with the rendered section of the usage help containing only the specified options, including hidden ones.
* [#1092] API: Add me

[2020-06-02 07:07] remkop opened #1097 "Generate Powershell completion scripts"
Generate Powershell completion scripts from a `CommandSpec` model.

* docs: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/register-argumentcompleter?view=powershell-7
* Example: https://github.com/clap-rs/clap/blob/master/clap_generate/src/generators/shells/powershell.rs

[2020-06-02 08:38] #1077 closed

[2020-06-02 08:51] charphi commented on #1052
I've just tested it and it is ok.

Note that I only use `help.subcommands()` instead of `help.allSubcommands()` since I consider that an annotated command with `hidden` parameter set to `true` should always be hidden.

[2020-06-02 08:54] remkop commented on #1052
Great, thanks!

Can you share your use case?
I would like to show an example in the release notes of how this feature would be useful.

[2020-06-02 13:30] thetoothpick opened #1098 "breaking changes in JLine 3.15.0"
Hello,

JLine has [released](https://github.com/jline/jline3/issues/532) version 3.15.0, and it includes some breaking changes (some classes in `org.jline.builtins` were moved to `org.jline.console`), so `picocli-shell-jline3` 4.3.2 doesn't compile against it.

[2020-06-02 21:00] deining commented on #1061
IMHO, this is the way to go.

That seems to be overkill for me.

I'm not really happy with the current (inconsistent) way the synposis printed. That's why I raised and authored this issue.

Just my two cents.

[2020-06-02 22:55] remkop commented on #1061
I was thinking the same thing. We will do it that way.
Thanks for the feedback!

[2020-06-02 23:17] remkop commented on #1098
Thank you for raising this!

We will make `picocli-shell-jline3` 4.4.0+ depend on jline 3.15.

It looks like one of the JLine authors, @mattirn, has already submitted a [pull request](https://github.com/remkop/picocli/pull/1099) to change the dependency and the corresponding `picocli-shell-jline3` code. I will merge this shortly when I get a chance to review it.

I would like to also update the do

[2020-06-02 23:18] remkop commented on #1095
Thank you for reaching out!
I will take a look when I get a chance.

[2020-06-02 23:21] thomasrockhu commented on #1095
@remkop absolutely! Let me know if you need any help.

[2020-06-03 05:50] thetoothpick commented on #1098
Thanks for the quick turnaround, @mattirn!

Regarding the documentation, instead of keeping multiple versions of `Example.java` in the README file, would it make more sense to link to the relevant historical versions of [picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java](https://github.com/remkop/picocli/blob/master/picocli-shell-jline3/src/test/java/picocli/shell/jline3

[2020-06-03 09:28] power721 commented on #1076
I use 4.3.2.
[code]
I hide the `item get` command:
[code]

Example output:
[code]

[2020-06-03 23:08] remkop commented on #1098
@thetoothpick I merged #1099 into master.

I would like for the documentation to show actual code, at least for the latest version, rather than a link.
How about creating a separate documentation page for previous versions?
Then we can make the README page cleaner since it only shows the most recent version, and from the README we link to the page with example code for older versions.

Also, the c

[2020-06-04 06:19] remkop commented on #1061
One small complication is when the end-of-options `[--]` delimiter is to be shown in the synopsis.
For groups that have a mixture of options and positional parameters, we have little choice but to show this after the groups. But for groups with only positional parameters it is nice if we can display this between the options and the groups, so we get:

[code]

[2020-06-04 07:27] #1061 closed

[2020-06-04 10:55] #1071 closed

[2020-06-04 10:58] remkop commented on #1071
Fixed in master. This will be part of the next 4.4 release.
Thanks again for raising this!

[2020-06-04 17:16] palade commented on #649
Do you have an example of where you used this? As I get CommandLine$DuplicateOptionAnnotationsException  when I set scope = ScopeType.INHERIT in the base class?

[2020-06-05 02:29] remkop commented on #649
# Why are we getting a DuplicateOption exception?

@palade I am guessing that the `DuplicateOptionAnnotationsException` occurs when an option is defined with `scope = INHERIT` in class `A`, and the application then defines another class `B` that is both a  _subclass of `A`_ as well as a _subcommand of `A`_.

When the application uses 2 reuse mechanisms (see sidebar below), the option is added to t

[2020-06-05 02:36] garretwilson commented on #649
@palade , I think I remember getting this error at first. My main command is the class `Foo` itself, and the option ("opt") is a method of that class, like `setOpt()`. The subcommand is a different method like `bar()`, and it had a parameter matching the command already marked as inherited; that is, `bar(boolean opt)` or something. So Picocli gave me this error because the option was duplicated.

[2020-06-05 09:54] palade commented on #649
Thank you both for your replies.

The Option1 and Option2 in my case are still ignored. These are logging info options which could be placed anywhere in the command-line arguments.

Please note that the parse handler is run with the RunLast option. The sub-commands are added programmatically to the top command, and to each is passed the entire array of args. What I don't understand is why the posi

[2020-06-05 10:04] palade commented on #649
I see this post on [SO](https://stackoverflow.com/questions/50228778/cli-with-picocli-call-main-command-before-sub-command-get-called) that RunLast will invoke only the last command.

[2020-06-05 10:21] remkop commented on #649
@palade Can you create a new ticket, and in the description show a way for me to reproduce the problem? Either example code or a link to a public repository would work.

[2020-06-05 16:31] palade commented on #649
@remkop Will attempt to modify the usage message as making the above changes would require a larger codebase change. Was wondering if there some examples where I could programatically create the following customSynopsys:

Usage topCommand Option1 Option2
       or topCommand Subcommand

There are some examples in the manuals, but would like to create this programmtically. I had a look at the help

[2020-06-05 20:41] remkop commented on #649
@palade I’d be happy to help you accomplish your use case.

I believe it would be useful to create a separate ticket: this ticket ticket is closed, already has 70+ comments, and your use case may result in changes to picocli, which would be easier to track in a separate ticket.

So please indulge me and raise a separate ticket.

Now, I’ve been making guesses about what your code looks like, and I

[2020-06-05 20:59] remkop commented on #649
One more thing: there’s no need to create a custom synopsis `<cmd> ([Option1] [Option2] | Subcommand)`. Surely that’s not the solution you really want?

We can make it work so that users can specify these options either before or after the subcommand.

But please create a separate ticket first with your code, so we can discuss more concretely.

[2020-06-05 23:09] remkop commented on #1066
I've started to look at this.
We probably don't want to use the inner `App` command as is, because it has some options that are not really applicable when using the `ManPageGenerator` as a subcommand. Specifically, we probably don't want to give these options:

[code]

When used as a subcommand, users should not need to specify `classes`: instead, we can just use the full hierarchy that the `gen-m

[2020-06-06 04:32] remkop commented on #1066
I believe the implementation is complete (docs still todo...)

Could you do me a favour and try this out and let me know what you think?

To use this, let any command (or subcommand) in the application specify `gen-manpage` as a subcommand with the usual  `@Command(subcommands = picocli.codegen.docgen.manpage.ManPageGenerator.class)` syntax.

Users can then specify `<mycommand> gen-manpage --outdi

[2020-06-06 05:38] #1066 closed

[2020-06-06 07:23] remkop opened #1101 "Add method `Help::createDetailedSynopsisOptionsText` to specify which options to show in the synopsis"
Add method `Help::createDetailedSynopsisOptionsText` to specify which option to show in the synopsis. This is needed for #983.

[2020-06-06 07:31] #1101 closed

[2020-06-06 07:34] remkop commented on #983
This is now implemented in master.

See these examples for how to accomplish this:

* [CustomOptionListAndSynopsis](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/customhelp/CustomOptionListAndSynopsis.java)
* [CustomOptionListAndSynopsisWithInheritance](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/cust

[2020-06-06 07:35] #983 closed

[2020-06-06 07:45] remkop commented on #1052
I’ve added some examples for the different (but similar) use case of hiding inherited options in the usage help message of subcommands:

* [CustomOptionListAndSynopsis](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/customhelp/CustomOptionListAndSynopsis.java)
* [CustomOptionListAndSynopsisWithInheritance](https://github.com/remkop/picocli/blob/master

[2020-06-06 10:29] remkop commented on #1082
The endOfOptionsOption may not be the Help.END_OF_OPTIONS_OPTION constant.
It may be created dynamically if the application defined a custom delimiter.

The `commandSpec` used for interpolation is set in `Help::endOfOptionsList`, so interpolation works correctly. No need to change anything.

[2020-06-06 10:29] #1082 closed

[2020-06-06 10:50] remkop opened #1102 "DOC: Show descriptionKeys for @file and EndOfOptions delimiter in resource bundles"
Update the user manual to show the `descriptionKey` for `@file` and the EndOfOptions (--) delimiter in resource bundles for i18n and l12n.

[2020-06-06 10:51] #1102 closed

[2020-06-06 11:34] remkop commented on #1015
Looking at this and similar issues (#639 and #1055) now.

Reading your comment again I like your idea of consistently rejecting both  `mycmd --no-such-option arg` and `mycmd arg --no-such-option` unless `unmatchedOptionsArePositionalParams=true`, rather than introducing another parser option.

[2020-06-06 12:07] remkop commented on #1055
You raised a good point that picocli's behaviour is currently different for single-value options and multi-value options: `-a -a` is accepted (and the `-a` option is given value "-a") if the `-a` option has type `String`, but the same input is rejected with error "Expected parameter for option '-a' but found '-a'" when the option has type `List<String>` or `String[]`.

It is better if picocli woul

[2020-06-06 21:54] deining commented on #1066
I'm glad to assist here.

MWE:

[code]

There are two issues with this code:

1. Once I run the example above, I'm getting
`java.io.FileNotFoundException: .\<main_class>.adoc `
This is most likely because characters `<` and `>` are not allowed in file names.

2. Once I remove the comments in lines 4+5 and run the example again, I'm getting:
[code]

Did you forget to add `helpCommand = true` in the

[2020-06-06 22:49] remkop commented on #1066
Fantastic feedback, as usual. Many thanks!

Oops! Yes I forgot to do that. Good catch!  I pushed a fix to master just now.

Another nice catch! Unnamed commands should not cause errors. Fixed now.

[2020-06-07 02:26] dwalluck opened #1103 "Tests fail under Cygwin/ConEmu due to ANSI in output"
Some of these failures may  be related to #581. Many tests fail string comparison under Windows (Cygwin) due to ANSI in output. I assume that the tests are meant to disable ANSI, but it's not working. I didn't quite find where this is in the code.

I can force ANSI off with
[code]

Then, only 5 tests fail.

These are due to trying to turn ANSI on and off. There are other tests that fail try to use

[2020-06-07 02:41] dwalluck commented on #1103
I should mention that `HelpAnsiTest` actually passes with `NO_COLOR` unset, but then the following tests fail due to ANSI codes in the program output:

[code]

[2020-06-07 02:43] dwalluck commented on #1103
Tests may want to verify that none of these color options are set before running, or the tests become unrepeatable.

[2020-06-07 03:17] remkop commented on #1103
Thank you for raising this!
I still need to set up a Cygwin environment to run the tests, but I went ahead and made sure that all tests now have these rules:

[code]

This should make the tests much more reproducible in various environments.

Does the same problem still occur with the latest from master?

[2020-06-07 05:20] dwalluck commented on #1103
It seems much better now as it is down to only two failures:

[code]

Are we sure this test was passing?

It seems to look for text

[code]

but the text in `main/java/picocli/CommandLine.java:12189` is

[code]

[2020-06-07 07:17] deining commented on #1066
I can confirm that the fix cures the problem addressed by me.

However, there are other, related scenarios that lead to the same error:

[code]

This results in `java.io.FileNotFoundException: .\star*.adoc`, which is unfortunate IMHO.

I see two remedies:
- an additional replace/substitution operation
- disallow certain characters in the `name` attribute

I would prefer the second option. Maybe th

[2020-06-07 09:16] remkop commented on #1103
Yes, these tests pass on Windows and on Linux at least.

The test does not look for the exact text generated by `main/java/picocli/CommandLine.java:12189` because everything that follows `"[picocli DEBUG] (ANSI is disabled by default:"` is too environment-specific. For that reason, the test uses the `TestUtil::stripAnsiTrace` method to remove environment-specific values from both the expected and

[2020-06-07 09:27] remkop commented on #1066
Interesting point. I am still thinking this through, but my first thoughts are:

* `<main_class>` is a picocli-generated string; that should not cause problems (and we fixed that now)
* user-specified names are different, they are the responsibility of the developer. Especially the top-level command should contain only characters that can be used in a file name, because it should be possible to st

[2020-06-07 11:41] dwalluck commented on #1103
It correctly contains everything up to `ANSI is disabled by default:`, but contains extra text `ConEmuANSI=ON, NO_COLOR=1, CLICOLOR=null, CLICOLOR_FORCE=null)`.

I already gave the error above:

[code]

The prefix matches. It is the suffix that causes the problem.

It looks like `ANSICON` is set to something like `80x1000 (80x25)` so that it matches that `)` instead of the one in ` CLICOLOR_FORCE=

[2020-06-07 18:38] thetoothpick commented on #1098
Yea, I think that makes sense to split out the older versions and keep the latest in the README.

[2020-06-07 20:55] deining commented on #1066
Your idea with name aliases is great, this is better than disallowing characters.

Is there a way to localize the usage description of the `gen-manpage` command?
I played around with this a bit:
**MWE:**

[code]

**pkg.Msg.properties:**

[code]

This results in somehow weird usage description output for the `gen-manpage` command:

[code]

Any recommendations here?

[2020-06-07 21:24] remkop commented on #1066
The description of each subcommand in the command list is taken from the subcommand’s first `header` line, or the first `description` line if it does not have a header defined. ([doc](https://picocli.info/#_usage_help_for_subcommands))

The section [headings](https://picocli.info/#_section_headings) can be used to give each section a title and potentially space between sections. Since the header s

[2020-06-07 22:18] remkop commented on #1103
Thanks for helping figure out why these tests failed!

I've fixed the `stripAnsiTrace` method to only look for a closing brace after `CLICOLOR_FORCE=`.
Now any closing brackets in the environment variables won't cause spurious failures.

That is certainly not the intention. The intention is that the loop will stop when no more replacements were made. (This allows replacing multiple occurrences of

[2020-06-07 23:03] dwalluck commented on #1103
The way it's currently used, it's OK. It's theoretically possible that it doesn't find the search string, doesn't do the replacement, and just loops forever. I thought it would probably be similer if you could just use a regex and `replaceAll` `prefix.*suffice` with `replacement`.

[2020-06-07 23:04] dwalluck commented on #1103
It's not working. Now it ends up with:

[code]
Looks like it has now also added `(ANSI is disabled ...)` to the end.

[2020-06-08 01:04] remkop commented on #1103
Ouch! I added a test for `TestUtil.stripAnsiTrace` and fixed the issue I introduced...
Thank you very much for helping!
I believe that should fix the spurious test failures.

About the `do..while` loop:

No, that is not true. It may go through the loop many times finding the search string, but there is _always_ a final iteration where it goes through that loop _without finding the search string_ (

[2020-06-08 01:39] dwalluck commented on #1103
Yes, everything seems to pass except for these messages:

[code]

It's not causing the test to fail. but maybe under Cygwin it shouldn't try this. I am not sure.

I changed something and caused the loop to get stuck, but maybe it was my fault. I no longer have the code, so let's assume it was my fault.

[2020-06-08 02:33] remkop commented on #1103
Thanks for the confirmation!

I tried to find the cause of the  `stty: /dev/tty: No such device or address` output, but did not make much progress yet.

In an interactive session, when I run the command that picocli uses internally to figure out the terminal windows width (`stty -a -F /dev/tty`), I get normal output in Cygwin, not that error.

Perhaps we should avoid calling `stty` in non-interact

[2020-06-08 02:33] #1103 closed

[2020-06-08 02:34] remkop commented on #1103
And thank you again for helping improve the quality of the tests. Much appreciated!

[2020-06-08 02:40] dwalluck commented on #1103
Same here. It works for me in an interactive session, but not the test. There may be an alternate way. At least under ConEMU, it will set the environment variable `ANSICON = "WxH (wxh)`, where `W,H`
 is the size of the buffer, and `w,h` is the size of the window.

[2020-06-08 03:25] remkop opened #1104 "Avoid calling `stty` when ANSICON is set"
This is a follow-up ticket for #1103 based on @dwalluck suggestion.

When running tests on Cygwin/ConEmu, the following output is generated:

[code]

Picocli internally calls `stty -a -F /dev/tty` in a separate process when the `usageHelpAutoWidth=true` to determine the window width. In a non-interactive session, that may result in the above output. The problem is, that from Java, the only way to

[2020-06-08 03:25] remkop commented on #1103
Interesting! I created https://github.com/remkop/picocli/issues/1104 as a follow-up ticket.

[2020-06-08 03:30] dwalluck commented on #1103
Thanks for your responsiveness.

[2020-06-08 03:35] dwalluck commented on #1104
There is also some information here <https://conemu.github.io/en/AnsiEscapeCodes.html#Environment_variable>. It looks like this is only set if you have

[2020-06-08 10:45] charphi commented on #1052
Ok, I will share something as soon as possible.

[2020-06-08 13:24] palade opened #1105 "Order of configured global options should not be enforced"
### Context
I'm re-using a title that has been used in #895 and a dedicated feature to address this issue as discussed in #649 . Also, there is a [SO post](https://stackoverflow.com/questions/50228778/cli-with-picocli-call-main-command-before-sub-command-get-called) related. However, the available solutions do not work for me.

### The problem
The order of the specified global options is important

[2020-06-08 14:31] charphi commented on #1052
Here is a simplified example. Is the intent clear enough?

[code]

[2020-06-08 14:34] charphi commented on #1057
Thanks for the help

[2020-06-08 14:34] #1057 closed

[2020-06-08 14:57] charphi opened #1106 "Jansi in restricted Windows environment"
Jansi prevents applications from running in some restricted Windows environments.
The problem is that AppLocker can forbid loading of non-signed libraries from the Windows temporary folder.

Currently, Jansi extracts a dll to the temporary folder of Windows as soon as one of its class is loaded. The method `CommandLine.Help.Ansi#isJansiConsoleInstalled()` triggers this behavior even if `AnsiConsol

[2020-06-08 15:04] charphi commented on #1106
Erratum: I just found the `org.fusesource.jansi.Ansi.disable` property and I'm going to test it...

[2020-06-08 15:14] charphi commented on #1106
`org.fusesource.jansi.Ansi.disable` property disables ansi colors but still extracts Jansi dll.

The corrected code would be:
[code]

[2020-06-08 22:04] remkop commented on #1052
Thank you! Very helpful. I added it to the examples.

[2020-06-08 22:22] #1106 closed

[2020-06-08 22:28] remkop commented on #1106
Oh, very nice catch! Thank you for raising this!
I've pushed a commit with your recommended fix (slightly modified).

Can you confirm that this solves the issue?

To verify, check out picocli master locally, and build it with `publishToMavenLocal`. That should publish `picocli-4.3.3-SNAPSHOT` to your local .m2 Maven cache.

[code]

You can then try this in a project that uses the `info.picocli:pic

[2020-06-08 23:08] remkop commented on #1105
@palade Thank you for raising this!

I want to try to reproduce the issue, so we can fix it.

The code you provided gives some hints at what you are trying to do, but I had some trouble getting it to compile. I made some changes, and it compiles now, but it is still incomplete and does not run yet.

My version is [here](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/kotlin

[2020-06-09 07:16] maxandersen commented on #992
would it make sense to have a `ContextConsumer` interface which completion candidates could optionally implement  to "feed them" the context or would that be outside picocli 'contract'

i.e.

[code]

then ctx could have things like partial string for use with jline and additional info...especially access to what other parameters been set thus far.

[2020-06-09 08:25] remkop commented on #992
Yes, that is certainly an idea. That would help get "richer" input to the completers. (Note that we also want to solve the other problem of how to let completers create richer output, like generating `org.jline.reader.Candidate` objects instead of just Strings. But that is separate.)

One tricky aspect is how to model the context.

JLine would provide an instance of `org.jline.reader.LineReader` a

[2020-06-09 08:45] charphi commented on #1106
It works !

But there are still two problems:

1. To use Jansi, I have to call `AnsiConsole.systemInstall()` with a check for the `org.fusesource.jansi.Ansi.disable` property. The resulting code is not complex but (needlessly ?) noisy. For example:
[code]

2. When executing a command that doesn't use Ansi to print help, Jansi is not needed but still triggered by `AnsiConsole.systemInstall()`. Ther

[2020-06-09 08:54] remkop commented on #1106
Please take a look at https://github.com/remkop/picocli-jansi-graalvm

That project was created to work around another Jansi issue, related to GraalVM native images, but I took the opportunity to add some other niceties.

We can update that to also check for `Boolean.getBoolean("org.fusesource.jansi.Ansi.disable")` internally. With that project, your code can look like this:

[code]

What do you t

[2020-06-09 08:58] remkop commented on #1106
After re-reading, I was surprised by this:

I thought my fix would prevent the dll from being extracted if `org.fusesource.jansi.Ansi.disable` is set to `true`. Is this not happening in some cases? Which cases, can you tell me how to reproduce this?

[2020-06-09 09:04] remkop commented on #1106
Ah, sorry for the noise! The dll is extracted because the application calls `AnsiConsole.systemInstall()`; the method invocation may be conditional, but by that time the class is already loaded.
You would need to create another class to postpone loading until it is really needed...

[2020-06-09 10:07] charphi commented on #1106
picocli-jansi-graalvm is indeed nicer thanks to `AutoCloseable` and it could also handle `org.fusesource.jansi.Ansi.disable` property. I will create a PR about it.

---

The problem n°2 is almost a detail and only happens when all theses conditions are met:
- `org.fusesource.jansi.Ansi.disable` is _not_ set to `true`
- no Ansi text is printed; the program just does what it is supposed to do
- `Ans

[2020-06-10 10:51] palade commented on #1105
package picocli.examples.kotlin.globaloptions1105

    import picocli.CommandLine
    import picocli.CommandLine.*
    import java.util.concurrent.Callable
    import java.util.logging.Level
    import kotlin.system.exitProcess

    /**
     * This class is not an example (yet)
     * but is work in progress to resolve this issue:
     * https://github.com/remkop/picocli/issues/1105
     */
    @C

[2020-06-10 10:58] palade commented on #1105
If the main is replaced with one below:

    fun main(args: Array<String>) {
        val cli = TopCommand()

        // This does change the logging-level
        // The logging level is correctly set
        //cli.start(arrayOf("sub-command", "--logging-level=FINEST", "--log-to-console"))

        // This does NOT change the logging-level
        // The logging-level should be FINEST after this b

[2020-06-10 11:53] remkop commented on #1105
@palade Great, thank you! I will take a look. It may take me some time, I am not very fluent in Kotlin (so this is a nice learning opportunity for me :-) ...

[2020-06-11 21:47] Zethson commented on #1005
@remkop
It is now cookiecuttered:
https://github.com/Zethson/picocli_graalvm_cookiecutter

I will integrate it into our tool this week and then I can either add you to our tool so that you can test it or you can wait for the release (~4 weeks or something?) and enjoy the show.

[2020-06-12 22:27] maxandersen opened #1108 "support Optional<> for better tri-state boolean"
currently when you do:

[code]

you get:
[code]

usecase is to be able to use `Optional.isPresent()` to capture when option have not been specified.

[2020-06-12 22:32] maxandersen commented on #1108
note. currently I simulate it by doing

[code]

thus just trying to get this directly supported.

[2020-06-12 23:01] remkop commented on #1108
Interesting idea!

Picocli requires only Java 5, and uses reflection to support APIs that were introduced later, like type converters for `Path` and the `java.time` classes.

That said, it should be possible to support `Optional<T>` for options of type T. Picocli already does something similar with options of type `List<T>` and `Map<K, V>`.

Any interest in creating a PR for this?

[2020-06-13 00:24] remkop commented on #1005
I took a quick look, looks awesome! 👍 😍
Thank you very much for working on this!

[2020-06-13 12:27] remkop commented on #1108
The more I think about this the more I like this idea!

[2020-06-14 23:15] deining opened #1109 "manpage generator: encoding issue"
Using the new man page generation feature, I tried to generate a man page for the [I18NDemo](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/i18n/I18NDemo.java) given in the examples section of the repo.

When invoking `ascciidoctor` on the produced `.adoc` file, I'm getting:

`Failed to load AsciiDoc document - invalid byte sequence in UTF-8`

I can e

[2020-06-15 00:43] remkop commented on #1109
I see, yes that makes sense.
The default value would be the platform encoding, I guess.
Sounds like a good idea.
Will you be able to provide a pull request for this?

[2020-06-15 08:59] charphi opened #1111 "Programmatically-installed mixins only apply to root command"
Mixins can be [installed programmatically ](https://picocli.info/#_mixins) by using `CommandLine#addMixin(String, Object)`.
The problem is that it only applies to the root command, not the subcommands.
Here is a example to reproduce the problem:
[code]

[2020-06-15 09:07] remkop commented on #1111
Away from PC, but very quick, what about:

[code]

[2020-06-15 09:35] charphi commented on #1111
Your solution works.

I'm using the following method to automate the operation:
[code]

[2020-06-15 09:53] charphi commented on #1111
For the context, my usecase is to customize the presentation (`*Heading` attributes) of commands that I don't code myself such as `GenerateCompletion`.

[2020-06-15 12:44] remkop commented on #1111
Glad to hear that the solution worked.
Is there any follow up action remaining?

[2020-06-15 13:34] palade commented on #1105
@remkop Cheers for all the help. Integrated your suggested changes and global options can now be specified in any order

[2020-06-15 13:41] charphi commented on #1111
Seems ok to me. Thanks

[2020-06-15 13:41] #1111 closed

[2020-06-15 20:21] remkop commented on #1105
You are very welcome!
Enjoy using picocli!

[2020-06-15 20:21] #1105 closed

[2020-06-16 23:47] n-peugnet opened #1113 "Trim single quotes with setTrimQuotes(true)"
Hi, I use single quotes around a json string that I pass to the cli. I expected that the option `TrimQuotes` would trim them but it seems that currently only double quotes are trimmed.

[2020-06-17 04:40] remkop commented on #1113
Thank you for raising this.
I will look into supporting single quotes as well.

The current implementation [supports many use cases](https://picocli.info/#_quoted_values) (see #595 and #738 for background). This may take me some time, to make sure we get the edge cases right, like single and double quote combinations.

Test cases and/or a pull request would be great. :-)

[2020-06-17 11:06] #1109 closed

[2020-06-17 11:35] ranjansrao opened #1114 "How to use mixins with Arg group?"
Currently if i try to use @Mixins with @Arg groups, i get the error:@Mixins are not supported on @ArgGroups

[2020-06-17 12:39] remkop commented on #1114
Can you give more details on what you’re trying to achieve? Maybe with some example code?

[2020-06-17 13:21] ranjansrao commented on #1114
Just as i asked this question i found out that i can use nested Arg groups.So this issue can be closed.

[2020-06-17 13:22] ranjansrao commented on #1114
In my case, I have  options which are used in multiple commands.In some commands they are used independently and in other cases they are used mutually exclusive with other options.

[2020-06-17 13:23] #1114 closed

[2020-06-17 19:31] remkop commented on #1114
Glad to hear that you’ve been able to resolve the issue!
Enjoy picocli!

[2020-06-17 22:17] remkop commented on #294
@yschimke I saw your message on #502. Thanks! I am still working on some parser issues, but ZSH completion is high on my list of priorities. Once I make some progress on this your feedback will be very welcome!

[2020-06-18 13:07] cgirardot opened #1115 "Code won t work once packaged in an executable single jar"
Dear,
I have spent the day trying to implement picocli in my project but I am having a weird problem. I basically have the "sub-command" situation like (to simplify, I wrote the test code below )

[code]

If I execute `Top` within eclipse, it works fine but as soon as I generate an executable jar (containing all dependencies) I always get the same result (the `runexample` is just a wrapper bash):

[2020-06-18 13:22] cgirardot commented on #1115
forgot to mention : using picocli 4.3.2 and I am using maven.

[2020-06-18 16:10] cgirardot commented on #1115
ok found it, my shell script was swallowing the params...

[2020-06-18 16:10] #1115 closed

[2020-06-18 21:27] remkop commented on #1115
You already solved this, but in case anything else pops up: picocli offers a [tracing](https://picocli.info/#_tracing) feature that can be useful to troubleshoot issues.
Enjoy using picocli!

[2020-06-18 23:19] remkop commented on #1055
I started to work on this.
I pushed a fix to master, but I still need to add tests to verify that user will be able to specify other options as option parameters when the value is quoted. Also potentially some documentation work.

[2020-06-19 22:26] remkop commented on #1055
Fixed in master. This will be included in the upcoming 4.4 release.

[2020-06-19 22:26] #1055 closed

[2020-06-19 23:13] remkop commented on #1015
Fixed in master.
This will be part of the next picocli 4.4 release.

[2020-06-19 23:13] #1015 closed

[2020-06-19 23:15] remkop commented on #1098
Hi @thetoothpick, have you had a chance to take a look at this?
I'm hoping to do a new picocli release in a week or so, and it would be good to improve the docs in this area.

[2020-06-19 23:18] #1052 closed

[2020-06-19 23:26] remkop commented on #639
I have started working on this.
The plan is to introduce a parser configuration `unmatchedOptionsAllowedAsOptionParameters`. The default is `true` for backwards compatibility. When this is set to `false`, unknown options are no longer accepted as option values, and instead result in an error message `"Unknown option '-unknown'"`.

[2020-06-21 18:10] thetoothpick commented on #1098
@remkop I created a wiki page for the old examples.  Looking at the latest PR, the example didn't actually change for the latest version, so I left the minimum versions as they were.  The example for JLine 3.13.2 and Picocli 4.1.2 is now on [this wiki page](https://github.com/remkop/picocli/wiki/JLine-3-Examples).

I also opened a PR (#1117).  I'll add some comments about cleaning up the example t

[2020-06-21 18:42] sroidl opened #1118 "Question: Can I use current value of one option in default value of other option?"
I'm trying to provide the users of my project more convenience by setting some meaningful default values to required options. In fact I can set good defaults for most of my options, however they are all dependent on one of them from the user input.
Example:

[code]

I'll like to setup the default value for my input-file option. By convention it is usually located in `<baseFolder>/input/input.txt`.

[2020-06-22 06:42] remkop commented on #1118
Hi @sroidl,

I had a go at this; I tried to do something complicated first with variables and system properties but I could not get that to meet your requirements reliably.

Then I took a step back, and I realized that is not how I do it in my own applications. In my own applications I simply create a new `File` object in the business logic from the directory option and the filename option, and th

[2020-06-24 06:34] sroidl commented on #1118
Hi @remkop,

That's an interesting approach. However this would not consistently work in
my case as there is no rule (as of yet) that the input always must be
within the base folder.
I also discovered some other use cases where this is not straight
forward possible as you suggest.

I was thinking along the line

[code]

where I could utilize the variable resolve mechanism - however this would
requ

[2020-06-24 07:07] remkop commented on #1118
Hi @sroidl,

The variables currently only cover System properties, environment variables, and some [predefined values](https://picocli.info/#_predefined_variables). I experimented with making the `baseFolder` option a [setter method](https://picocli.info/#option-parameters-methods) and set a system property in that method; then use that system property to define the default value for the `inputFil

[2020-06-26 03:43] remkop commented on #894
@maxandersen [tweeted](https://twitter.com/maxandersen/status/1275931264424521729) about these interesting alternatives:

* https://github.com/zeroturnaround/zt-exec
* http://www.awaitility.org/

[2020-06-26 06:49] remkop commented on #1118
Hi @sroidl, did this answer your question? Let me know if you want to discuss further.

[2020-06-26 06:56] remkop opened #1119 "Regression in help subsections for nested arg groups"
Picocli 4.3.0 fixed issue #988: if an argument group has an option and a nested sub-group, the usage help would only show the options that are _directly_ in the group under the heading for that group. After the fix, the usage help now also includes the options for the nested subgroups, unless this subgroup has its own heading.

The workaround for #988 was to give the subgroup an empty string `""`

[2020-06-26 07:10] maxandersen commented on #894
there is https://github.com/intuit/karate/issues/1191 too - but i think some small java utility to just test cli's and assert on stdout/err as strings and potentially streams too would still be powerful..

[2020-06-26 07:15] sroidl commented on #1118
Hi @remkop
I haven't had the time to try it yet, but I'll let you know once I have.

Thanks a lot for your support!

On Fri, Jun 26, 2020 at 8:49 AM Remko Popma <notifications@github.com>
wrote:

--

*Sebastian Roidl*

*Developer*

Email

sroidl@thoughtworks.com

[image: ThoughtWorks]
<http://www.thoughtworks.com/?utm_campaign=sebastian-roidl-signature&utm_medium=email&utm_source=thoughtworks-emai

[2020-06-28 21:40] remkop commented on #639
Fixed in master.
This will be available in the upcoming picocli 4.4 release.

[2020-06-28 21:40] #639 closed

[2020-06-28 21:43] #822 closed

[2020-06-28 22:45] remkop commented on #749
Closing this ticket: this was fixed in picocli 4.3, as per #961 and #962.

[2020-06-28 22:45] #749 closed

[2020-06-28 22:50] remkop commented on #743
Reviewing this ticket after some time has passed.
The current behaviour seems reasonable: there is a workaround (`parent help subcmd`) and changing the parser to accommodate this will likely lead to inconsistent behaviour elsewhere.
I agree with @rain-on's final assessment.
Closing this ticket.

[2020-06-28 22:50] #743 closed

[2020-06-29 02:19] remkop opened #1120 "Clean up compiler warnings"
[code]

[2020-06-29 22:56] #1120 closed

[2020-06-29 23:01] remkop opened #1121 "Deprecated Javadoc tag should tell developers what to use instead"
Methods that became deprecated in picocli 4.0 do not always explain to developers what they should use instead, as pointed out [here](https://twitter.com/14082195tw/status/1277415357532106752).

[2020-06-30 21:53] remkop commented on #1121
Looking at the code, the javadoc `@deprecated` tag already has links to the methods that should be used instead.
It is likely that the user who raised this was looking at decompiled code in their IDE, without source attached, and in this view the javadoc was hidden.

Closing this ticket as there is no remaining work to do.

[2020-06-30 21:53] #1121 closed

[2020-06-30 23:03] #1083 closed

[2020-06-30 23:19] remkop commented on #1076
Fixed in master.
This will be included in the upcoming picocli 4.4 release.

Thank you again for raising this!

[2020-06-30 23:20] #1076 closed

[2020-07-01 22:42] #1098 closed

[2020-07-02 10:10] sroidl commented on #1118
Hi @remkop ,
I finally got around trying your suggestion. It first the code you provided didn't work, but I was using an older version (4.2.0) with which the `baseOption.getValue()` always returned `null`. I think this was ultimately my issue in the first place.

Updating to 4.3.0 fixed this and the solution fits my needs.
Thank you for your support!

[2020-07-02 10:10] #1118 closed

[2020-07-02 11:48] remkop commented on #1118
Glad to hear the issue is resolved.
Picocli 4.4 will be released soon, with support for abbreviated commands/options and much more; keep an eye out!
Enjoy using picocli!

[2020-07-04 23:46] #1119 closed

[2020-07-05 07:31] maxandersen opened #1122 "Map<String, String> i.e. -Dkey=value does not work on windows"
I noticed that when doing this:

[code]

which allows me to do `-Dxyz=123` on linux/osx breaks on windows with errors like:

`Value for option option '-D' (<String=String>) should be in KEY=VALUE format but was xyz`

Reason for that is that the values passed into picocoli under command.exe is:

"-Dxyz"
"123"

rather than "-Dxyz=123"

[2020-07-05 08:15] remkop commented on #1122
(Away from PC) Is this with a wrapper script or when typing the command into a Command Prompt shell directly? Also, (assuming the latter) were any parts of the typed command quoted?

[2020-07-05 10:27] maxandersen commented on #1122
I could have sworn I tested without wrapper but just verified again and yes its when wrapping...closing as then it must be yet another subtlety in windows batch scripting; not picocli.

[2020-07-06 00:59] remkop opened #1123 "InitializationException should mention offending class name"
When an InitializationException is thrown because the user-specified model is invalid, the exception message explains the reason of the failure but not the class that is configured incorrectly.

This makes it difficult to find the place to correct.

Use case: introducing `picocli-codegen` as annotation processor to a project with many picocli-based commands can give build failures like the below.

[2020-07-07 05:11] remkop commented on #1122
Hi Max, the ticket is still open, but your comment says closing.
Just double-checking: you're okay to close this?

[2020-07-07 05:17] remkop commented on #1005
Quite exciting! When do you think the next release will be (roughly)?

[2020-07-07 07:52] Zethson commented on #1005
Dear @remkop,

we had to postpone the release several times, since we want to add a couple of features before our first release.
We're planning to hit very early next month at the moment.

However, here's a small preview with a subset of our tools' features:

![cli-java](https://user-images.githubusercontent.com/21954664/86740903-474a3000-c037-11ea-9ae3-1a8f7bf1743f.gif)

[2020-07-07 21:14] remkop commented on #1005
The preview looks very nice! Looking forward to the release!

[2020-07-07 21:34] remkop opened #1124 "AutoComplete.GenerateCompletion generated man page summary improvement"
The generated man page for `generate-completion` (`AutoComplete.GenerateCompletion`) in the picocli documentation (build\picocli-generated-docs\generate-completion.adoc) has the following summary:

During the picocli 4.4 release, I manually changed this to the following:

See if we can automate this.

----

One idea is to create a command in `picocli-codegen` that has `@Command(name = "the root co

[2020-07-07 21:54] #1124 closed

[2020-07-07 22:10] remkop opened #1125 "Options disallow values that match subcommand name"
The parser became stricter in picocli 4.4, because of https://github.com/remkop/picocli/issues/1055.

The following values became disallowed as option values:

* option names
* subcommand names
* sibling command names (if parent command has `subcommandsRepeatable`)

(Implementation note: Interpreter::assertNoMissingMandatoryParameter > varargCanConsumeNextValue > isOption)

There are use cases whe

[2020-07-10 06:04] maxandersen commented on #1122
yes, closing - it happend because of use of "FOR /f" which does inexplicable things.

[2020-07-10 06:04] #1122 closed

[2020-07-10 06:55] remkop commented on #1122
Understood. Thank you!

[2020-07-15 06:50] remkop opened #1126 "Make picocli trace levels case-insensitive"
Currently, only values `WARN`, `INFO` and `DEBUG`, and empty String or case-insensitive "true" are valid values for the system property `picocli.trace`.

We can make this more user-friendly by allowing values `WARN`, `INFO` and `DEBUG` to be case-insensitive.

[code]

[2020-07-15 06:56] remkop opened #1127 "Custom ShortErrorMessageHandler manual example should use bold red for error message"
Currently, the error message generated by this handler is rendered in the default console style.
The default handler uses bold red, which is nice.
Show users how to do this in the custom handler.

[code]

[2020-07-15 23:15] #1126 closed

[2020-07-16 02:57] remkop commented on #1127
More changes:

* rename `writer` to `err`
* print stack trace to `cmd.getErr` instead of to `System.err`
* apply stacktrace style to stack trace

[code]

[2020-07-16 03:24] remkop opened #1128 "Interpreter.tryConvert should set cause exception"
Interpreter.tryConvert should set cause exception, so that stack trace shows the cause  (which may be a custom converter).

Should be:

[code]

[2020-07-16 22:28] remkop opened #1129 "Add convenience API `ColorScheme::stackTraceText(Throwable)`"
Currently, client code using `ColorScheme::stackTraceText` looks like this:

[code]

We can add a convenience API that accepts a `Throwable`, so that the above can be reduced to one line:
[code]

[2020-07-16 22:30] #1127 closed

[2020-07-16 23:22] #1129 closed

[2020-07-18 02:26] #1128 closed

[2020-07-18 08:31] remkop opened #1130 "Clarify how to run picocli-based applications"
As shown by [this StackOverflow question](https://stackoverflow.com/questions/62963202/why-doesnt-picocli-recognize-my-option-from-the-command-line), it is sometimes unclear to people developing applications with picocli whether the command name of standalone commands should be specified as a parameter (it should not).

Update the documentation to clarify.

[2020-07-18 08:33] #1130 closed

[2020-07-21 11:28] remkop opened #1131 "Add anchor links before section titles in user manual"
Add [anchor links](https://asciidoctor.org/docs/user-manual/#anchors) before section titles in user manual.

[code]

[2020-07-21 11:32] #1131 closed

[2020-07-22 14:15] robert-de-vries opened #1132 "Make it possible to let custom converters extend built-in converters"
In case you write a custom converter you can't reuse logic that is already available in a built-in converter.

For example to check if input is an integer that is positive, you now have to check two things:
1) input is an integer
2) input is bigger than 0

Part 1 is already done in the built-in IntegerConverter. Could it be possible to make the built-in converters public and extend from them, so i

[2020-07-22 14:41] sleberrigaud opened #1133 "Allow processing of already buffered messages on shutdown"
Right now even if one calls `flush` right before `shutdown`, the buffered messages are going to be dropped and there is no way around this.

As per the `AnalyticsClient` shutdown method:
[code]

What would be nice, would be to let the client participate in a nice stopping of an application that's leveraging it, by providing, for example, a shutdown method that takes a timeout to allow the _already

[2020-07-22 14:41] #1133 closed

[2020-07-22 14:42] sleberrigaud commented on #1133
Sorry wrong project. Too many tabs. :shame:

[2020-07-22 16:31] sysmat commented on #708
`commandLine.getErr().println(ex.getMessage());`

When business exception why is message not red, even if I define color schema and set it to CommandLine

[code]

[2020-07-22 21:33] remkop commented on #708
@sysmat Hi, thanks for your question!

`command.getErr()` only returns a writer that prints to the standard error stream (where `getOut()` returns a writer that prints to the standard output stream).

To print a message that uses the `errors` style of a color scheme, call the `ColorScheme::errorText` method. For example:

[code]

I will update the [example in the manual](https://picocli.info/#_han

[2020-07-22 22:16] remkop commented on #1133
No worries!

[2020-07-22 23:17] remkop commented on #1132
This won't be easy. Some converters use reflection to support APIs that were introduced after Java 5 (notably the java.time classes, and java.nio.file.Path). Picocli can be used with Java 5 and higher, so all public classes can only use Java 5 APIs.

For some other converters, they would introduce a dependency on the [java.sql](https://docs.oracle.com/javase/9/docs/api/java.sql-summary.html) modul

[2020-07-23 02:17] remkop opened #1134 "Annotation processor should allow @Spec-annotated field in version provider"
Picocli 4.2.0 added support for injecting `CommandSpec` into custom `IVersionProvider` implementation classes.

However, the annotation processor raises a compile-time error with message `@Spec must be enclosed in a @Command, but was <class>` when a  `IVersionProvider` implementation class has a `@Spec`-annotated field.

(picocli-codegen/src/main/java/picocli/codegen/annotation/processing/Abstract

[2020-07-23 07:12] alex-dukhno opened #1135 "Seems like picocli tries interpolate variable when encounter dollar sign in user input parameter"
Hi 👋

we have the following command:
[code]

running command with the following parameters:
[code]
the `password` field contains `t3stP@` value

`.getCommandSpec().interpolateVariables(false)` does not help

the only way to preserve `$` in the user input we found is to escape a dollar sign

[2020-07-23 08:02] alex-dukhno commented on #1135
Closing. We use shell script to run commands and it is shell problem to escape dollar sign. Sorry for inconvenience

[2020-07-23 08:02] #1135 closed

[2020-07-23 08:15] robert-de-vries commented on #1132
Thanks for the fast reply.

Seems like your article on https://github.com/remkop/picocli/wiki/JSR-380-BeanValidation pointed me in the right direction.
I now added the @Position annotation instead of using a specific type converter.

Great article anyway!

[2020-07-23 09:58] remkop commented on #1132
Cool. I did not realize that you were looking to do validation. Glad you found that article.

Thanks for the positive words on picocli! Please star the library on GitHub if you like it. 😉

[2020-07-23 09:58] #1132 closed

[2020-07-23 10:01] remkop commented on #1135
Hi @alex-dukhno, no worries at all, thanks for the update! Your explanation makes sense.

Enjoy using picocli and don't hesitate to let me know if there are any questions.

[2020-07-23 11:57] alparslanavci commented on #1125
We are facing the same issue. We would like to get JVM options from the user by using a `-J` option. But it fails if the user tries to use a JVM option starting with a char that is defined as an option. For instance;

`<cmd> -v` -> is a valid command with option `-v`
`<cmd> -J -Xmx1024m` -> is again a valid command since there are no options defined starting with `-X`
`<cmd> -J -verbose:class` ->

[2020-07-23 12:10] remkop commented on #1125
When you say `<cmd>`, do you mean `java -cp xxx MyMainClass`, or do you have a launcher script?

Very often, you can pass Java options to the launcher script by setting an environment variable like `JAVA_OPTIONS=-J-Xmx1024m`.

Also, do you need a space between the `-J` and the `-Xmx1024m`?

[2020-07-23 12:33] alparslanavci commented on #1125
We are spawning new Java processes in our command line application, thus we need additional JVM options to be taken from the user.

It is like `java MyMainClass -J <additionalJavaOptions>`.

Yes, we normally expect to work with space.

Would you please verify if the example in the documentation doesn't work? Or am I missing something?

[2020-07-23 12:35] remkop commented on #1125
Ok. Away from my pc now. I’ll need some time for this.

[2020-07-23 12:41] remkop commented on #1125
PS. Does the problem also happen with the previous version of picocli? (4.3.2)

[2020-07-23 13:38] alparslanavci commented on #1125
The example in the documentation works with 4.3.2. However, we still get the same exception with 4.3.2 since we are using a Collection field.

[2020-07-23 13:50] alparslanavci commented on #1125
[code]

This example gets the following output with `java App -x="-y"`:
[code]

[2020-07-24 02:15] remkop commented on #1125
@alparslanavci Is your `-J` option defined like this?

[code]

One idea is to do [custom parameter processing](https://picocli.info/#_custom_parameter_processing) for the `-J` option.

[code]

[2020-07-24 08:22] ranjansrao opened #1136 "Add default value in child command based on parent command"
Is it possible to add a default value to option in a child command? I have a parent command  which has multiple sub/child commands and each child  command will have different default values of an option in the parent command

In my case  i have a required option -outputPath in all commands. thus instead of adding this in each command i have added this in the parent command, but each child command

[2020-07-24 11:58] ranjansrao commented on #1136
I have managed to do this by having a default value provider in the parent command and then add the default values for the option based on each subcommand. Is it possible to do this somehow directly in the child commands?

[2020-07-24 12:08] remkop commented on #1136
I was going to propose something similar.
Perhaps the built-in [PropertiesDefaultProvider](https://picocli.info/#_propertiesdefaultprovider) can be useful? I believe it allows separate values for each combination of command and option.

Away from pc now. Can look in more detail later.

[2020-07-28 05:44] remkop commented on #1136
@ranjansrao Sorry for not replying sooner.

I believe the built-in `PropertiesDefaultProvider` meets your requirements.
Here is an example program:

[code]

This prints the following output:

[code]

[2020-07-28 07:44] xligrd opened #1137 "Build fails when using picocli-codegen"
I set up  picocli-codegen as an annotation processor and from that point on build always fails with:

Where the related code looks like:
[code]

Am I doing something wrong or is it bug?

[2020-07-28 07:53] remkop commented on #1137
@xligrd Thank you for raising this.
I started investigating this. Could you please provide some version information (picocli version, java version and whether this error occurs when you are compiling in an IDE (which one?) or building with Maven/Gradle/some other build tool). Thanks!

[2020-07-28 07:57] xligrd commented on #1137
Many thanks for quick reaction.
I tried multiple versions of picocli (4.1.4, 4.3.2 and 4.4.0), java version was 11.0.7 and It was built using Gradle.

[2020-07-28 07:59] remkop commented on #1137
I would like to try to reproduce the problem.
Can you point me to a public repository or show me how to create a small project that reproduces the error?

[2020-07-28 08:12] xligrd commented on #1137
Sure. I attached a minimalistic application using which I was able to reproduce it.
[picocli-test.zip](https://github.com/remkop/picocli/files/4986874/picocli-test.zip)

[2020-07-28 08:12] remkop commented on #1137
@xligrd Please disregard my previous comment: I was able to reproduce the issue.
This seems to be a bug in the picocli-codegen annotation processor.

I am looking at how to fix this.

[2020-07-28 08:13] remkop commented on #1137
@xligrd Thank you! :sweat_smile:

[2020-07-28 08:13] xligrd commented on #1137
Np :)

[2020-07-28 08:26] remkop commented on #1137
I think I found the cause:

[code]

I will add some tests to verify this and try to roll out a bugfix release for this soon.
Thanks again for raising this!

[2020-07-28 08:28] xligrd commented on #1137
Thanks a lot.

[2020-07-29 09:57] alparslanavci commented on #1125
@remkop thanks for the suggestion! Yes, we can use this one as a workaround until the issue is fixed with the new version.

Just want to confirm, we need to parse the args manually if it is provided as a list of parameters such as `-verbose:class,verbose:gc`, right? I guess the `split` property of `@Option` annotation doesn't work when we use this method?

[2020-07-29 11:21] remkop commented on #1125
Yes that's correct; with custom parameter handling the trade off is that you gain complete freedom but you give up on functionality: all the work of unquoting and splitting parameter values becomes the responsibility of the application.

[2020-07-29 12:14] hatyo commented on #794
I am consistently hitting this issue on IntelliJ. I have a (root)command and a bunch of subcommands separated in different files, one of these subcommmands contain two `ArgGroup` groups.

Interestingly, if I modify something the Java file of the root command and try to rebuild, I consistently get this error:

[code]

However, if I modify anything in the Java file of the subcommand with the two `Ar

[2020-07-29 12:52] remkop commented on #794
@hatyo I still occasionally see this error when a project is incrementally compiled in Intelli/J.
When I do Rebuild Project in intelli/J the project compiles correctly without any error.
(I don't remember if this particular project has the `picocli-codegen` annotation processor configured.)

Is this your experience too?

It may be an issue of intelli/J's incremental compilation and may not be a pr

[2020-07-29 23:06] #1137 closed

[2020-07-29 23:08] remkop commented on #1137
I finally had time to create a test to confirm that this indeed fixes the issue.

Thanks again for raising this.
I will try to roll out a bugfix release soon (perhaps after fixing #1134).

[2020-07-30 23:25] #1134 closed

[2020-07-31 01:42] remkop opened #1138 "Annotation processor gives FATAL ERROR: picocli.CommandLine$InitializationException: ArgGroup has no options or positional parameters, and no subgroups"
Intelli/J incremental compilation gives this error. (Unsure if this can be reproduced with Gradle.)

Looks like this was only partially fixed (if at all) in #794.

Steps to reproduce:

* have top level command and subcommand in separate source file
* have an argument group in the subcommand
* modify the top-level command
* run the application (the top-level command)

[code]

Example code:

[code]

[2020-07-31 01:44] remkop commented on #794
@hatyo I was able to reproduce the error.
Since this ticket is closed, I created a new one https://github.com/remkop/picocli/issues/1138 to investigate.

[2020-07-31 14:03] smalirizvi opened #1139 "Problems with readLine on Windows 7 cmd. Not all keystrokes are being picked up."
I have been working on a Linux machine and everything works great. As soon as I tried to run it on Windows 7 this started to create problems as the line reader is not picking up all keystrokes. I am on the latest version of picocli.

[2020-07-31 23:26] remkop commented on #1139
Hi, I suspect that you are using jline?
Picocli does not process keystrokes, the readline functionality is in the jline project.
Would you mind opening a ticket in either [jline2](https://github.com/jline/jline2) or [jline3](https://github.com/jline/jline3), depending on which version you are using?

[2020-08-01 02:37] remkop commented on #1138
@antonmry and @hatyo, I found the cause of the issue.

During incremental compilation, only the class that is modified is passed to the annotation processor.
The processor would find the classes of the subcommands, and process these (even if not passed by the IntelliJ compiler), but it would not make the same effort for the class of `@ArgGroup` annotated fields.

Fixing the processor to take that

[2020-08-01 02:40] #1138 closed

[2020-08-02 12:05] remkop commented on #1138
[Picocli 4.5](https://github.com/remkop/picocli/releases/tag/v4.5.0) has been released, which includes this fix.

[2020-08-02 12:05] remkop commented on #1137
@xligrd [Picocli 4.5](https://github.com/remkop/picocli/releases/tag/v4.5.0) has been released, which includes this fix.

[2020-08-02 12:06] remkop commented on #794
[Picocli 4.5](https://github.com/remkop/picocli/releases/tag/v4.5.0) has been released, which includes this fix.

[2020-08-04 17:02] smalirizvi commented on #1139
Created.
https://github.com/jline/jline3/issues/561

[2020-08-04 17:02] #1139 closed

[2020-08-04 21:50] remkop commented on #1139
@smalirizvi Thanks!

If you can provide a way to reproduce the problem in that ticket, you improve your chances of the JLine maintainer being able to help you.

Either showing code or pointing to a public repo with a program demonstrating the issue.

[2020-08-05 18:00] smalirizvi commented on #1139
I just had to flush and close the terminal each time I built a new one.

[2020-08-05 18:02] smalirizvi opened #1140 "Improve docs for interactive options (was:Input on interactive flag not working on Windows cmd)"
Input is not being taken in on interactive flag set to true when entering input on windows cmd.

[2020-08-06 05:21] remkop commented on #1140
Are you using jline2?
Is this issue perhaps similar to this one: https://github.com/remkop/picocli/issues/767

[2020-08-07 17:11] techthumb opened #1141 "Accessing options for dynamically generate sub-commands"
[code]

Hi Folks,

We are building a CLI that dynamically creates sub-commands and options associated with those sub-commands.

We aren't able to figure out a way to make the `CommandSpec` available at command execution time in order to access the user provided value for the option.

Could you please direct us on how we would be able to access option values?

Note that we are unable to use annotat

[2020-08-07 20:47] remkop commented on #1136
@ranjansrao How did it go? Can this issue be closed, or do you have more questions? Happy to help.

[2020-08-07 21:01] remkop commented on #1141
Hi @techthumb, thanks for raising this!

I would do this:

[code]

Enjoy using picocli and don't hesitate to ask more questions!

[2020-08-11 02:06] remkop commented on #1141
@techthumb Did this resolve the issue? Can we close this ticket? (You can always create a new one if you have more questions.)

[2020-08-11 02:13] remkop commented on #1140
@smalirizvi, are you using JLine 2?

If so, there is a workaround:  use a [custom parameter consumer](https://picocli.info/#_custom_parameter_processing) that uses the JLine 2 API to read a password interactively from the console.

The picocli-shell-jline2 [README](https://github.com/remkop/picocli/tree/master/picocli-shell-jline2) has an example: see the `InteractiveParameterConsumer` class in th

[2020-08-11 02:15] remkop commented on #1136
@ranjansrao Were you able to resolve the issue?

[2020-08-11 13:35] ChrisTrenkamp opened #1143 "Is there a way to ignore duplicate @Option annotations with the same name?"
I'm using PicoCLI in combination with a code generator, `Immutables`.  I'm having a problem where `Immutables` is generating duplicate `@Option` methods with the same name:

[code]

[code]

Right now, I don't have a way to configure the code generator to deduplicate the `@Option` fields.  Currently, I'm working around this problem with reflection.

Is there a way to configure PicoCLI to ignore or

[2020-08-11 14:25] techthumb commented on #1141
Hi @remkop

Yes! it did.

Many thanks for an excellent tool and equally great support!

[2020-08-11 14:25] #1141 closed

[2020-08-11 22:27] remkop commented on #1141
@techthumb  Glad to hear that! Enjoy using picocli!
Don't forget to star the project on github and tell your friends! 😉

[2020-08-11 22:41] remkop commented on #1143
Hi @ChrisTrenkamp, sorry, no, option names must be unique in a picocli command by design.
I can look at changing this but this is such a fundamental assumption in picocli that it will not be easy...

In a hand-coded application, I would recommend having an `@Option`-annotated method and populate multiple fields from that method, if that is what is needed.

In your use case I am not sure what to re

[2020-08-12 00:39] ChrisTrenkamp commented on #1143
I know why Immutables is generating an option with the same name, but haven't found a good way to fix it.

I'll continue using reflection to change the duplicate annotation values at runtime to work around this issue.

Thanks.

[2020-08-12 00:39] #1143 closed

[2020-08-12 07:36] DeveloperJVM opened #1144 "Repeatable subcommands problem with programmatic configuration (was: How to run subcommands together)"
I need to run subcommands together.
I have three main commands which starts so and which have their subcommands and options
1) -i --instance ...
2) -val --validate ...
3) -g --generate ...
and I need to that they will be together
I tried to write with subcommands of picocli
library but I had such problem. Picocli let me to run commands seperately but not together like this
-i --instance ... -v --v

[2020-08-12 07:42] remkop commented on #1144
You may be looking for [Repeatable Subcommands](https://picocli.info/#_repeatable_subcommands).

You enable this feature like this:

[code]

The manual has more details and an example.
Does this meet your requirements?

[2020-08-12 07:56] ZhamakochyanErik commented on #1144
I have just tried to add subcommandsRepeatable = true to my root command
and It works as I expected
thank you very much for aid

[2020-08-12 08:06] remkop commented on #1144
Glad to hear that solved the issue!
Enjoy picocli!
Don't forget to give the project a star on GitHub and tell your friends! :wink:

[2020-08-12 09:31] ZhamakochyanErik commented on #1144
Picocli doesn't understand subcommand of subcommand
I have such structure
1) load commnad -l ...
2) validate command -v .. and this has file validation sub command -fv
3) generate command -g
I wrote so
CommandLine commandLine = new CommandLine(new MainCommand());
commandLine
                .addSubcommand("-l",new LoadCommand())
                .addSubcommand("-g",new GenerateCommand())

[2020-08-12 09:57] remkop commented on #1144
I was able to reproduce the issue.
There is a bug in the Repeatable Subcommands implementation that results in subcommands not being copied correctly...

Programmatic configuration does not work correctly, DON'T DO THIS:

[code]

instead, do this:

[code]

Below is a full example. I need to investigate on how exactly to fix this, but this workaround should help.

[code]

[2020-08-12 10:36] ZhamakochyanErik commented on #1144
thank you for quick answer
This example works so
but When I added one option in FileValidationCommand
and run args so "-l","-v", "-fv","-m","1", "-g"
It didn't recognize -g option again
I need to add sub commands in generate command too yet
Is this a bug too?

[2020-08-12 11:51] remkop commented on #1144
No, this is not a bug; this is the expected behaviour.

Please see [repeatable subcommands specification](https://picocli.info/#_repeatable_subcommands_specification), specifically Figure 2, and the explanation following that figure:

One way to resolve this is to rethink/redesign your command hierarchy. Does `-fv` need to be a subcommand of `-v`?

Another idea is to look at [Argument Groups](http

[2020-08-12 11:53] ZhamakochyanErik commented on #1144
thanks again
I will look at Argument Groups and if I have any question I will write you
thank you very much

[2020-08-12 11:59] remkop commented on #1144
No worries!

Please star ⭐️ picocli on GitHub 😅
and tell your friends!

[2020-08-12 16:28] safronau opened #1145 "site picocli.info doesn't work"
Can not access to https://picocli.info/

[2020-08-12 20:05] remkop commented on #1145
I just tried on my phone and it looks fine to me.

Do you get an error message? What do you see?

[2020-08-12 22:19] techthumb commented on #631
Hi @remkop ,

We are running into this issue.

We are not using annotations for our commands as mentioned in #1141

We are however using the `picocli.CommandLine$HelpCommand` via `CommandSpec.create().mixinStandardHelpOptions(true)` for the root command

We have configured the annotation processor.
config json files are generated when we annotate a dummy command with `@Command` for the dummy comma

[2020-08-13 00:26] remkop commented on #631
@techthumb OK. I will reply on the #1141 ticket, since it has more background information about your application.

[2020-08-13 00:58] remkop commented on #1141
@techthumb In reply to your comment on #631  (repeated below):

What the annotation processor does, is build up a `CommandSpec` model of the command hierarchy at compile time that is the same as the model that picocli builds at runtime using reflection. Since your application does not use annotations, the annotation processor will not be able to build up a `CommandSpec` model from the annotations

[2020-08-13 01:42] techthumb commented on #1141
Thanks for the prompt response @remkop.

Do you think that it would be worthwhile for picocli to package graalvm config with the jar?

Perhaps a catch-all solution is to use `generateNativeImageConfig` from https://github.com/mike-neck/graalvm-native-image-plugin

Our understanding of this plugin is that it runs the app and generates the config based on execution.
Perhaps we need to make sure that

[2020-08-13 02:18] remkop commented on #1141
Yes, if possible. That is what the `picocli-codegen` annotation processor does. Since the GraalVM config is different for each application, picocli cannot generate a GraalVM config without inspecting the `CommandSpec` of the application root command. If the annotation processor does not work, you will need to do a little bit extra work to use the `ReflectionConfigGenerator` in the `picocli-codegen

[2020-08-13 07:59] safronau commented on #1145
Sorry, it seems like all "info" sites are blocked in my country. It works from TOR browser. I just have not been realized this before.

[2020-08-13 07:59] #1145 closed

[2020-08-13 08:10] remkop commented on #1145
Oh no! I did not realize that.
I will look into adding another domain, in addition to picocli.info (this will take me some time)...

[2020-08-13 09:40] safronau commented on #1145
I think it is not required. We had elections last Sunday. I believe it's temporary. They just do not know what to block.

[2020-08-13 09:49] remkop commented on #1145
I see. Thank you for the clarification.
Be safe!

[2020-08-13 11:19] DeveloperJVM opened #1146 "How to print options of subcommands during help usage"
I have three commands and which have some options
1) -l --load
2) -v --validate
3) -g --generate

[code]
When I use this line "commandLine.usage(System.out)" for printing my commands and their options
it prints only name of the commands
[code]

I want to print command options too like this one

[code]
I see that there is way to generate it in a custom way [picocli.info/#_custom_synopsis](https://p

[2020-08-13 11:38] remkop commented on #1146
Each command can have many options, so picocli by default only shows the options and subcommands of the command for which help was requested.

So, if you do :

[code]

... then picocli will display the synopsis, options and subcommands of the `--load` command.

It is possible to customize this, see some examples here: https://github.com/remkop/picocli/tree/master/picocli-examples/src/main/java/pic

[2020-08-13 12:24] DeveloperJVM commented on #1146
thank you for answer
It is clear now How it works

[2020-08-13 12:44] remkop commented on #1146
Glad to hear that.
Let me know if you have follow-up questions or whether you want to close this ticket.

[2020-08-17 22:45] LorenKeagle opened #1147 "Need documentation for how to handle custom parameter validation"
First of all, thanks for this tool. It is a huge improvement over Commons CLI!

However, I was expecting some of the custom option validation that I had written for CLI to be supported using PicoCLI.

I have an application that accepts several different types of input, i.e. XML files, log files, report names, report ids.  These are each implemented as Options, so they can individually be collected

[2020-08-18 02:32] remkop commented on #1146
Closing this ticket. Feel free to open new tickets as new questions come up.

[2020-08-18 02:32] #1146 closed

[2020-08-18 07:26] remkop commented on #1147
Hi @LorenKeagle glad to hear you like picocli!

To answer your questions:

Picocli currently does not have this feature. Applications will need to do custom validation in the business logic (see below).

There are two ways to do this: throw a `ParameterException`, or print an error message, the usage help message and return a non-zero exit code. Throwing a `ParameterException` may be easiest. Your

[2020-08-18 08:25] LorenKeagle commented on #1147
Thank you for the response.

The example of how to use the combination of the ParameterException and CommandSpec is exactly what I was looking for.

As for the ArgGroup discussion, I believe the design is good from the perspective of exclusive and dependent option groups.  My concern was more regarding the organization of options in the usage text, as opposed to the validation functionality.  Whil

[2020-08-18 11:09] remkop commented on #1147
I see what you mean now, thanks for the clarification!
Basically, you may have one grouping from a validation point of view and a different grouping from how you want to present the options in the usage help. Yes, picocli does not offer a convenient annotation-based way to do this.

It is possible to customize the options list programmatically using the Help API, see [this example](https://github.

[2020-08-18 11:16] remkop commented on #1147
Reopening: let's take this opportunity to add a section about Validation to the user manual.

[2020-08-18 13:56] metacosm opened #1148 "Is there a way to get the default value of an unset option from a ParseResult?"
If my option is unset, `parseResult.matchedOption('o')` returns `null` but I would have expected a way to get the "matched by default" option value without having to basically duplicate the default value that I already provided when defining my option. Is this possible?

[2020-08-18 22:35] remkop commented on #1148
Yes, you can use the `OptionSpec::getValue` method to get the value that ended up being assigned to that option. In your example, you could do `parseResult.commandSpec().findOption('o').getValue()`.

The return value of `OptionSpec::getValue`  may be the default value or it may be a command line argument if the option was specified on the command line.

The methods in the `ParseResult` class focus

[2020-08-19 07:35] metacosm commented on #1148
Thank you, this works perfectly!

[2020-08-19 07:35] #1148 closed

[2020-08-19 11:50] JavaDev99 opened #1149 "I have a question regarding the subcommands"
We are trying to implement this code

[code]

And we get the following error.

Could you tell us what solution may be for this

[2020-08-19 12:09] r2mzes commented on #1149
As far as I understand correctly it is a matter of not supporting "subcommands going up the hierarchy" that was asked about here: https://github.com/remkop/picocli/issues/454#issuecomment-580972877

If it is the case, would it be possible to enhance the picocli in a way that would allow for scenarios like the one posted above? It would be great to have this feature ;)

[2020-08-19 23:47] remkop commented on #1148
Glad to hear that!
Enjoy picocli!

[2020-08-20 02:54] remkop commented on #1149
@JavaDev99, @r2mzes's comment is correct. Currently picocli's repeatable subcommands [do not support](https://picocli.info/#_repeatable_subcommands_specification) this.

I will look into whether it is feasible to support this.

[2020-08-23 07:24] sebhoss opened #1151 "ManPageGenerator as subcommand with native-image throws exception"
Heyho,

using `ManPageGenerator` as a subcommand fails when I compile the application as a native image with the following stack trace. Running it as a Java app works fine though.

[code]

This is using the latest Graal 20.2 with pico 4.5.0 on Java 11.

[2020-08-24 13:12] fpavageau opened #1152 "Gradle Module Metadata for picocli 4.4.0+ missing from Maven Central"
[picocli-4.4.0.pom](https://repo1.maven.org/maven2/info/picocli/picocli/4.4.0/picocli-4.4.0.pom) was generated with the following comment
[code]
which triggers the download by Gradle of the `picocli-4.4.0.module` artifact, however that artifact was not published to Maven Central. This is probably a consequence of the upgrade to Gradle 6 in 98dc696565d8a0c215ed98a9a403bf3262b47af4.

This is a probl

[2020-08-24 21:04] remkop commented on #1152
Ouch! I wasn’t aware of this, thanks for letting me know!

I’ll probably use the same fix: disable the feature for now.

[2020-08-24 22:05] #1152 closed

[2020-08-24 22:07] remkop commented on #1152
I pushed a change that fixes the issue (disables generation of the `picocli-4.4.0.module` artifact).
I will do a release for this as soon as possible.

[2020-08-25 11:48] remkop opened #1153 "Fix documentation leading code quote"

[2020-08-25 11:51] #1153 closed

[2020-08-25 12:09] remkop commented on #1151
I pushed a fix for this to master.
I will do a 4.5.1 bugfix release soon (in the next day or so).

[2020-08-25 12:09] #1151 closed

[2020-08-25 16:59] JPedroBorges commented on #736
Is there a way to accomplish the same but with an ArgSpec that is part of an ArgGroup?

When removing the ArgSpec from the CommandSpec:
[code]
As far as I can see the ArgGroup is immutable as well.

Is there any workaround?

Thank you in advance.

[2020-08-25 21:14] remkop commented on #736
@JPedroBorges Currently there’s no way to modify argument groups. Can you raise a separate ticket for this?

[2020-08-26 03:21] #1147 closed

[2020-08-26 04:02] remkop commented on #1147
I added a section on on [Validation](https://picocli.info/#_validation) to the user manual.

[2020-08-26 05:36] remkop commented on #1152
Picocli 4.5.1 has been released. This should fix the issue.

Don't forget to star ⭐ picocli on GitHub if you like the project! 😉

[2020-08-26 05:37] remkop commented on #1151
@sebhoss Picocli 4.5.1 has been released, with a fix for this issue.

Don't forget to star ⭐ picocli on GitHub if you like the project! 😉

[2020-08-26 05:40] remkop commented on #1147
Picocli 4.5.1 has been released, with the updated user manual.

Don't forget to star ⭐ picocli on GitHub if you like the project! 😉

[2020-08-26 06:17] sebhoss commented on #1151
Nice, thanks a lot!

[2020-08-26 09:24] JPedroBorges opened #1154 "Runtime mutation of option in Argument Group"
### Context:
Similarly to issue [736](https://github.com/remkop/picocli/issues/736) I would like to manage my options in runtime. What differs from issue [736](https://github.com/remkop/picocli/issues/736) is that my options are wrapped in an Argument Group.

### Problem:
Applying the same solution I end up with the following error:
[code]

The command CommandSpec explicitly  prevents from excludi

[2020-08-26 11:00] remkop commented on #1154
I can see how this could be useful.
Will you be able to provide a pull request for this?

[2020-08-26 21:27] Shadowsoftime99 opened #1156 "Built-in Help being used on subcommands, still case-sensitive even if case-sensitivity disabled"
Hey, first of all I'll start with saying that I'm just about done using Pico for a work project and it's been absolutely amazing.

One small inconsistency that I still have left (and just put down in a "common issues" wiki section) is that even with case-sensitivity disabled, for example:

`[Tools] help SUBCOMMAND`

Gives an "Unknown subcommand" error, despite "subcommand" existing with different

[2020-08-26 21:45] remkop commented on #1156
Thank you for raising this!
I suspect your hunch is probably right. :-)
If you feel like providing a PR for this, that would be great!

Thank you for the kind words about picocli! Can I ask: what is it that you like about picocli, and what would you do if picocli didn't exist?

[2020-08-26 22:04] remkop opened #1157 "Fix typo "a argument group" in user manual"
From private email message:

[2020-08-26 22:06] #1157 closed

[2020-08-26 22:09] Shadowsoftime99 commented on #1156
I like the simplicity of Pico, and how elegant the structure of the code is when using the subcommand structure. Also the availability of features that I'm looking for (I've had bad experiences in the past with Java libs where the answer to how to make a somewhat basic feature was "extend this class but a bunch of the stuff in it is `private` instead of `protected` so you'll need to duplicate a lo

[2020-08-26 22:19] remkop commented on #1156
Thanks for the quick feedback!
Don't forget to star ⭐ picocli on GitHub if you like the project! 😉

[2020-08-27 08:54] JPedroBorges commented on #1154
I will give it a try during the weekend.

[2020-08-28 19:23] metacosm opened #1159 "Is it expected for an inherited option to not be matched in the ParsedResult when executing a sub-command?"
Context: I have a command with several sub-commands. The top-level command defines some required options which can be either full or abbreviated. When I execute a sub-command, I noticed that not only the inherited options don't appear to be processed as abbreviated (i.e. the parser for the sub-command spec "loses" the fact that abbreviated options are allowed) but also that they don't appear when

[2020-08-28 23:10] jasonlu-pillar opened #1160 "Output all args"
Is there a way to output all the args with value ?  Sorry if this is a naive qustion.
args maybe passed in or not.
Either build it into a string or output stream

[2020-08-28 23:41] remkop commented on #1160
It is possible to get the original arguments from within the application via the `ParseResult`.

Example:

[code]

Does this answer your question?

[2020-08-29 00:08] remkop commented on #1159
Thank you for raising this! Let me repeat your question to see if I understand it correctly:

1.  inherited options in subcommand don't allow abbreviations, why is this?
2. inherited options in subcommands don't appear in `ParseResult::matchedOption` but they do appear in `CommandSpec::findOption`, why is this?

About question 1, I suspect that when abbreviated options/commands were implemented, w

[2020-08-29 14:05] jasonlu-pillar commented on #1160
Actually what I was struggling was, I assign the default value to some options, by assigning a value to it when defining it.
[code]
Then I found there is no way I can get it.
How about those argument annotated with `defaultValue`?

[2020-08-29 21:39] remkop commented on #1160
You can use `ParseResult::matchedOptionValue` to get the value that was actually matched on the command line.

`OptionSpec::getValue` will return the value assigned (which may be a command line arg or may be the default value).

I updated the example. You can use code like this to print values for all options:

[code]

For input `-x 3`, I get this output:

[code]

[2020-08-30 11:09] remkop opened #1161 "Fix typo 4,2 in user manual"
From private email message:

[2020-08-30 11:11] remkop commented on #1161
Fixed.

[2020-08-30 11:11] #1161 closed

[2020-08-30 11:13] remkop commented on #1160
I added a new section to the user manual for this:
https://picocli.info/#_was_a_value_defaulted

Can you review and provide feedback? Thanks!

[2020-08-30 22:54] jasonlu-pillar commented on #1160
Thanks for the tip！It really helped!

The change to the user manual looks good, making it more clear for user to use this feature.

[2020-08-30 22:59] remkop commented on #1160
Great, glad to hear that!
I’ll close this issue, feel free to open another if you have more questions.

Don’t forget to star ⭐️ picocli on GitHub if you like the project! 😉

[2020-08-30 22:59] #1160 closed

[2020-08-31 02:51] remkop commented on #1159
@metacosm, I could not reproduce the first issue you reported (inherited options in subcommand don't allow abbreviations).

Can you provide steps to reproduce the issue?

This test passes:

[code]

[2020-08-31 03:30] remkop opened #1162 "Abbreviated options are not matched if value attached with '=' separator (like -x=3)"
Related to #1159:  Abbreviated options are not matched if value attached with '=' separator.

Test to reproduce the issue:

[code]

The above test should pass but as of picocli 4.5.1, it fails with error `UnmatchedArgumentException: Unknown option: '--x-y=123'`.

[2020-08-31 03:34] #1162 closed

[2020-08-31 03:41] remkop commented on #1159
@metacosm, I suspect that the first issue you reported (inherited options in subcommands don't allow abbreviations) was actually caused by a different bug. I created a separate ticket for this: #1162 Abbreviated options are not matched if value attached with '=' separator (like -x=3).

Can you confirm that this is correct? (If I am wrong there is another issue that still needs to be solved...)

Af

[2020-09-01 08:56] metacosm commented on #1159
I will check hopefully today. However, my options were in the `-u foo -p bar` form, not `-u=x`… I will try to come up with a reproducer.

[2020-09-01 13:06] metacosm commented on #1159
I misunderstood what abbreviated options actually meant… 😅
I thought it meant having a `-x` version of a `--xxx-yyy-zzz` option 😄

Here's the use case I wondered about:

[code]

I would have expected `matchedOption` to return something but like I said in the issue description, it can make sense that it would be null.

[2020-09-02 07:01] sebhoss commented on #894
https://github.com/stefanbirkner/system-lambda might be an option as well

[2020-09-02 09:39] remkop commented on #1159
Thanks for that test case.
I have modified it a bit (removed the `-x` short name for the option), please take a look:

[code]

Note:

* if we use the `ParseResult` of the top-level command, `hasMatchedOption` returns `false`. This makes sense because the option was not matched on the top level command but on the subcommand.
* if we use the `ParseResult` of the _subcommand_, `hasMatchedOption` retu

[2020-09-02 15:13] paul-bjorkstrand opened #1163 "Generate @-file for the current arguments with a built-in option"
It would be useful if there was an option to generate and output an @-file with the current command line (excluding this new option). The option would require a value, which would be the path to a target file to generate. If the target file exists, it would need to ask the user (interactively) if they want to overwrite the file.

Ideally, this would be available similar to `mixinStandardHelpOption

[2020-09-03 05:46] remkop commented on #1163
I can see how this could be useful.

Do you think you will be able to provide a pull request for this?

We can do this in phases: first provide a public static `CommandLine.GenerateAtFileMixin` nested class that has the `--generate-at-file` and a method that performs the logic. We can add the annotation attribute `@Command(mixinAtFileGenerationOptions)` later.

I am not sure about the interactive

[2020-09-06 21:58] rnc opened #1164 "Support @Command(scope=INHERIT) (was: mixinStandardHelpOptions versus CommandLine.ScopeType.INHERIT)"
According to https://picocli.info/#_help_options I can add `mixinStandardHelpOptions = true` which replaces the individual

[code]

However if for the latter I have configured `CommandLine.ScopeType.INHERIT` then the help command is added to every subcommand as I understand. But it seems that adding it via the `mixinStandardHelpOptions = true` it is not inherited. Would it be possible to consider

[2020-09-07 09:39] remkop commented on #1164
Hi @rnc, I can see how this would be useful. I also use the same version provider, as well as  the `-h` and `-V` options, in all subcommands when I have a CLI app with subcommands.

I don't want to change the semantics of  `mixinStandardHelpOptions = true` and `versionProvider = VersionProvider.class` and make them INHERIT-scope so they are automatically applied it to all subcommands; that may bre

[2020-09-07 14:08] metacosm commented on #1159
I think there are several "issues":
1. I didn't properly understand what "abbreviated" meant. That is solved. :)
2. My use case actually doesn't have anything to do with abbreviated options… 😅  and is still not clear. The code above doesn't actually reflect it, here's an updated version:
[code]
The gist of my issue is whether it is expected that inherited options are not considered matched on sub-

[2020-09-07 14:16] rnc commented on #1164
Hi!
Thanks for the reply!

I completely agree that changing the semantics of `mixinStandardHelpOptions = true` and `versionProvider = VersionProvider.class` would not be ideal.

I like the idea of e.g. CommandLine.setInherit (enum { mixinStandardHelpOptions | versionProvider | both } ) ( for instance).

I am aware of the Mixin (or superclass) ... but was trying to avoid that given the really nice

[2020-09-08 03:12] remkop commented on #1159
Sorry I was unclear.

Your expectation is correct. The `foo` option _is_ matched on the subcommand. Please note that each command, subcommand, and potential sub-subcommand has its own parse result. The problem is that the test you showed is looking at the ParseResult _for the top-level command_, not at the ParseResult for the subcommand.

`CommandLine::parseArgs` returns the `ParseResult` for the

[2020-09-08 03:33] remkop commented on #1164
Thinking about this some more, I can see how it would be useful to introduce a `scope` method in `@Command`, so you could do this:

[code]

This would copy all attributes (`mixinStandardHelpOptions`, `versionProvider`, but also `name`, `description`, etc) to all subcommands (and sub-subcommands).  The only attribute not copied would be `subcommands`, to prevent infinite recursion.

Subcommands can

[2020-09-08 08:09] rnc commented on #1164
@remkop That sounds really neat! It would reduce boiler-plate code and make even nicer to work with :-)

[2020-09-08 18:04] dwalluck opened #1165 "jline3 example missing AnsiConsole.systemUninstall()"
https://github.com/remkop/picocli/blob/466975a4899f2ea61f9bfb99d44d6158d435ef0c/picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java#L152 performs `systemInstall()`, but not `systemUninstall()`.

However, from https://github.com/remkop/picocli/blob/34a7d3ab72563678303dd02e683f1ad599732c49/src/test/java/picocli/HelpAnsiTest.java#L118 I have to question whether these lines ar

[2020-09-08 18:46] rnc commented on #894
I am using system-lambda in this PR (not yet merged) : https://github.com/project-ncl/bacon/pull/431/files#diff-006308d763b4c36013a8c98e99b01992R63

[2020-09-08 22:21] #1165 closed

[2020-09-08 22:28] remkop commented on #1165
Good catch!
I went ahead and fixed the example and the README (in a finally block).

Windows 10 does have native ANSI support, but "it's complicated" and it is switched off unless the application does [something special](https://picocli.info/#_for_reference_without_jansi_on_windows_10_command_console_and_powershell). `java` does not do this "something special", so we don't get to enjoy this...

So

[2020-09-09 01:28] remkop commented on #1159
@metacosm Did this answer your question?

[2020-09-09 01:30] remkop commented on #1136
@ranjansrao Did the above answer your question?

[2020-09-09 10:08] metacosm commented on #1159
@remkop yes, the distinction between top vs sub parse results wasn't clear to me. Thank you!

[2020-09-09 10:08] #1159 closed

[2020-09-10 17:02] dwalluck opened #1168 "jline3 example should close Terminal (using try-with-resource or try-finally)"
Should this line ensure that the terminal is closed? https://github.com/remkop/picocli/blob/72e1d4f2d35f8c12a0b64d8fcd47c2df02269c9f/picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java#L165

In the docs https://www.javadoc.io/doc/org.jline/jline/3.14.1/org/jline/terminal/Terminal.html it states that "Terminals should be closed by calling the Closeable.close() method in ord

[2020-09-11 00:51] remkop commented on #1168
Yes, looking at some Terminal implementations it seems quite important that `close` is called.
See for example [`AbstractWindowsTerminal`](https://github.com/jline/jline3/blob/fdc2fb53f9dc618bfccc3b20ae447cabce3a809f/terminal/src/main/java/org/jline/terminal/impl/AbstractWindowsTerminal.java#L216).

I will fix this when I get a chance.

[2020-09-11 00:56] dwalluck commented on #1168
It seems it is doing quite a bit, thanks! If you want I can make a PR for you for the example. If I remember correctly, you are on Java 1.5, so try-with-resource is not an option.

[2020-09-11 01:00] remkop commented on #1168
A PR would be really great!

That module (`picocli-shell-jline3`) is compiled with Java 8 because JLine3 requires Java 8, so actually both the doc and the running example could use try-with-resources.

Thanks as always for your help!

[2020-09-11 01:45] #1168 closed

[2020-09-11 05:15] NewbieOrange commented on #1156
It seems the issue is related to how _CommandLine_ returns the subcommands.

[code]

A new _LinkedHashMap_ is returned, while the impl actually uses the case insensitive-able map now.

Now there are two options, one is changing the bahaviour of _CommandLine.getSubcommand()_ (and options?) to return a case aware map (or simply the unmodifiable-wrap from _CommandSepc.subcommands()_), another is to m

[2020-09-11 08:42] remkop commented on #1156
@NewbieOrange thanks for the analysis!
I agree, we could fix this particular issue by changing `HelpCommand` to something like this:

[code]

But it may also be a good idea to return a `CaseAwareLinkedMap` from `CommandLine::getSubcommands`. (There is no method  `CommandLine::getOptions`, so we don't need to worry about that.)

I prefer to keep the current behaviour of returning a modifiable map.

[2020-09-11 12:39] NewbieOrange commented on #1156
@remkop #1172 should fix this HelpCommand issue.

The _Help_ class still uses _LinkedHashMap_ and do not care about the case-sensitivity from the _CommandSpec_. Should the case-sensitivity setting also affect it?

[2020-09-11 12:48] NewbieOrange commented on #1156
[code]

[2020-09-12 22:47] #1156 closed

[2020-09-13 02:55] remkop commented on #1156
This is now fixed thanks to @NewbieOrange's pull request. The fix will be in the next release.

Thank you @NewbieOrange for the pull request and thank you @Shadowsoftime99 for raising this!

[2020-09-15 04:02] remkop commented on #1163
@paul-bjorkstrand I added [this implementation](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/atfile/AtFileGenerator.java) to the examples. Still not sure if this should be a built-in feature. Meanwhile the example should be useful for reference. 😄

[2020-09-15 05:59] remkop commented on #1163
I am thinking more and more that it makes sense for applications to implement this feature.

The example can be a good base and starting point.
I added a link to this example in the [user manual](https://picocli.info/#AtFiles).
What do you think?

[2020-09-15 06:04] remkop commented on #1140
@smalirizvi Can you provide more information on how to reproduce this issue?

[2020-09-15 06:05] remkop commented on #1136
Closing this ticket: I believe I have answered the question.
Feel free to comment here or add another ticket if there are any other questions.

[2020-09-15 06:05] #1136 closed

[2020-09-15 06:14] JavaDev99 opened #1174 "I have a question about help option"
Hi all
I found in picocli library that I need to define help option in command class.
like this
[code]
But I want to check help option without defining help option in command class.
Isn't anyway to check it by command class without defining help option?
like this
[code]

[2020-09-15 06:28] remkop commented on #1174
Hi @JavaDev99,

you could use [`mixinStandardHelpOptions`](https://picocli.info/#_mixin_standard_help_options) instead of defining a `--help` option, that is what I would recommend:

[code]

The `mixinStandardHelpOptions` attribute adds `--help` and `--version` options to the command. You don't need to define these options or check them in your application. The `execute` method will take care of c

[2020-09-15 07:06] JavaDev99 commented on #1174
Thank you for answer
yes it works but there is such kind of problem now
How can I ignore these default options from help usage?
[code]
They are shown automatically by library
I need to ignore them.

[2020-09-15 07:08] remkop commented on #1174
When you say "I need to ignore them", do you mean you want to hide them (not display them) in the usage help message?

[2020-09-15 07:08] JavaDev99 commented on #1174
yes I mean that

[2020-09-15 07:18] remkop commented on #1174
The built-in options added via `mixinStandardHelpOptions = true` are always shown and cannot be hidden.

If you really need to do this, then you cannot use the built-in `mixinStandardHelpOptions` options.
Instead, add `--help` and `--version` [help options](https://picocli.info/#_help_options) to your command class. For example:

[code]

As before, if your application uses `CommandLine::execute` i

[2020-09-15 07:24] JavaDev99 commented on #1174
thank you very much
I will see what version to use

[2020-09-15 07:26] remkop commented on #1174
No worries! 👍

Don't hesitate to star ⭐  picocli on GitHub if you like the project! 😉

[2020-09-15 07:26] #1174 closed

[2020-09-15 22:14] paul-bjorkstrand commented on #1163
I like it. Thanks for digging in further, I didn't have a chance to yet (I am using picocli for a little side project, not my day-job 😀)

[2020-09-16 05:47] remkop commented on #1163
Thanks for the positive feedback!

It is not always easy to walk the line on what to include in the library and what is best handled by the application.
I am still not 100% sure, but for now I believe this is best handled by the applications themselves.
Hopefully the example code will be a good starting point.
So, for now, I will close this ticket.
Feel free to add comments or open another one if

[2020-09-16 05:48] #1163 closed

[2020-09-16 21:32] rnc opened #1175 "Update to JLine3 3.16.0"
I was having problems configuring a widget in my App which I had configured according to the picocli example. After some discussions on https://github.com/jline/jline3/issues/571 it would seem that if picocli updated to 3.16.0 then this would resolve it.
Thanks!

[2020-09-17 06:38] remkop commented on #1175
I started to migrate to JLine 3.16, but it must have some backwards-incompatible changes, because the Example in  [picocli-shell-jline3/src/test](https://github.com/remkop/picocli/blob/master/picocli-shell-jline3/src/test/java/picocli/shell/jline3/example/Example.java) no longer compiles...
This example is also shown in the [README](https://github.com/remkop/picocli/blob/master/picocli-shell-jline

[2020-09-17 07:25] rnc commented on #1175
@remkop I've got it compiling and working - although I haven't updated the docs - I'll send a PR for what I have.

[2020-09-17 07:41] madeinjapan opened #1177 "Disabling POSIX format in help"
I want to disabling POSIX format if I print help.

actual result:
`Usage: command [-hu] [-j JSON] other`

expected result:
`Usage: command [-h] [-u] [-j JSON] other`

[2020-09-17 08:37] remkop commented on #1177
This can be accomplished by subclassing the `Help` class and overriding the `detailedSynopsis` method: the last parameter (`clusterBooleanOptions`) controls whether boolean POSIX options are clustered in the synopsis of the usage help message.

I added [this example](https://github.com/remkop/picocli/blob/master/picocli-examples/src/main/java/picocli/examples/customhelp/CustomSynopsisNonPosix.java

[2020-09-17 08:43] remkop commented on #1175
Great, thank you! I will update the docs in a bit.
Many thanks for the PR!

[2020-09-17 09:21] madeinjapan commented on #1177
Yes, exactly! It's perfect! Thank you.

And

I want cusomize my positional arguments omit in help. Create a new issue from this?

[2020-09-17 10:29] remkop commented on #1177
Glad to hear that!

Yes, if you can create a separate ticket that would be good.

----
Don't forget to star ⭐ picocli on GitHub if you like the project! 😉

[2020-09-17 10:29] #1177 closed

[2020-09-19 09:28] #1175 closed

[2020-09-19 15:03] realkarmakun opened #1180 "Can't pass values to the int[] option"
I don't really have idea where to seek for help so I'm writing an issue here.
So a bit of clarification I have parent command `cimp` which have subcommand `affine` which have subcommand `encrypt`. I only have a problem with passing a pair of integers as option in array.
(I also have some parameters but they are not necessary right now)

So I have following code in encrypt class:
[code]

But when I

[2020-09-19 19:55] remkop commented on #1180
Hi,

The problem is that the option names should be quoted individually:

[code]

Should be:

[code]

[2020-09-20 15:56] realkarmakun commented on #1180
I see, oh my god such a stupid mistake. Sorry for disturbance and thanks for your help :)

[2020-09-20 15:56] #1180 closed

[2020-09-20 21:03] remkop commented on #1180
No worries. 👍  We're only human. 😉

How do you like picocli so far? ❓

[2020-09-21 07:36] madeinjapan opened #1181 "Modify parameter label indent in the help message"
I want to modifiy parameter label indent in the help message. Now it is located in that column as the long name of options.

actual result:
[code]

expected result:
[code]

[2020-09-21 08:38] remkop commented on #1181
Thanks for your question!

Away from my PC now, but this will probably require something similar as your previous question: we’ll need to override the `Help` method that generates the text table for positional parameters. From memory, I think it currently has the same number of columns as the table for options. We’d need to eliminate the columns for short name and separator, so that the positional

[2020-09-21 11:08] quintesse opened #1182 "Exclusive ArgGroup wrongly allows multiple options when using Scope.INHERIT"
We have this in our toplevel command:

[code]

But unfortunately PicoCli will happily allow specifying multiple versions of these options as long as they are on different sub-commands, eg:

[code]

I assume that's a bug, right?

[2020-09-21 12:41] remkop commented on #1182
@quintesse, thank you for reporting this!

Not sure if I considered this combination (inherited options and argument groups), and not sure if there are any unit tests to verify correct behavior.

What should happen if, for example, only one option of a group is marked as inherited?

That said, it looks like I didn’t document this as a restriction and from your example it sounds like there’s no val

[2020-09-21 12:47] remkop commented on #1182
As a workaround, can you try putting the code you showed in a separate class, and using a `@Mixin`-annotated field or method parameter (with this class as its type) in all commands and subcommands where you want to reuse this argument group?

[2020-09-21 12:56] remkop commented on #1180
Don’t forget to star ⭐️ picocli on GitHub if you like the project! 😉

[2020-09-21 15:35] realkarmakun commented on #1180
Hey @remkop, I hope it's okay to tag you. I do like picocli (I made a little project for my assignment with it before, but now I ran into some problems)
So my goal is to make a program with following command structure:
[code]
But I keep getting `Unmatched argument at index 0: 'cmip'` if I use my subcommand properly. So right now I have the following code:

[code]
So executing `java -jar kmzi-1.0-S

[2020-09-21 21:13] remkop commented on #1180
@realkarmakun First of all, I welcome all questions. It is no problem to use GitHub issues for questions or to tag me in questions, I do prefer to have a new GitHub issue for each question; that way, if the question reveals some problem in picocli, it is easier to track for me if the full history is in the GitHub issue. 😉

About your question (why does this command result in an error):

[code]

Th

[2020-09-21 21:33] quintesse commented on #1182
@remkop that gives me:

[code]

[2020-09-21 21:34] remkop commented on #1182
@quintesse  Can you share your code?

[2020-09-21 21:35] quintesse commented on #1182
Belay that, I had forgotten to remove the INHERIT options!

[2020-09-21 21:35] remkop commented on #1182
Ah, yes, I was just going to ask: did you remove the `scope = ScopeType.INHERIT`? Ok then 👍

[2020-09-21 21:41] quintesse commented on #1182
Ok, so no errors , but it also doesn't work,  It works if you type:

[code]

But not if you type

[code]

TBH I hadn't expected it to work because AFAICT a Mixin would give each (sub)command it's own copy of the Mixin, right? So I'm assuming they don't really know about each other and don't check each other's states?

[2020-09-21 21:48] remkop commented on #1182
What does "it does not work" mean? Is there an error message? Maybe better to share your code after all... :-)

[2020-09-21 21:55] remkop commented on #1182
I should read before I type. :anguished:

Thanks for raising this interesting use case. 👍

[2020-09-21 23:34] quintesse commented on #1182
*mumbles* "Darn users!"

😉

[2020-09-22 04:32] realkarmakun commented on #1180
Oh, that actually makes sense. Thank you very much, now it works. By the way Graal native image looks interesting I'll look into that. And thank you again :smile:

[2020-09-22 08:43] remkop commented on #1181
Something like this: (this does not compile yet; almost there...)

[code]

[2020-09-22 10:45] drkilikil opened #1183 "Abort parsing when encountering help option (was: MissingParameterException thrown when subcommand has required options and help option is defined)"
Hi,
If I run the sample below with the command line: `-h subcmd` Picocli throws the MissingParameterException exception.
The required option must be provided to print help of the main command.
`-h subcmd -o foo` prints help in the same way as `-h subcmd` when the option is not required.
Is it possible to not check subcommands when a "help" option is specifed on the command line?
Cheers.

[code]

[2020-09-22 11:03] remkop commented on #1183
Hi @drkilikil

Are you trying to get help for the (`app`) top-level command or for the `subcmd` subcommand?

The `-h` option is specified _after_ the command for which to display the usage help message.

To get help for the `app` top-level command, users would run:

[code]

To get help for the subcommand, users would run:

[code]

The last example should not throw a MissingParameterException  and

[2020-09-22 11:40] remkop commented on #1181
Here you are (needs some reflection to access a protected field, I will improve this in later versions of picocli)

[code]

[2020-09-22 15:12] drkilikil commented on #1183
Display help for the top-level or sub commands is clear and not problematic.
I just wanted to point out that imho there is a case which throws exception and displays the wrong help message.
I expect to show help for the top-level command when running `<cmd> -h` whatever users would type after:
[code]
The last two commands should show the help message for the top-level command.
It would be consiste

[2020-09-22 22:23] remkop commented on #1183
You make a good point. Thank you for the clarification.

To rephrase your point: shouldn't the picocli parser abort parsing further command line arguments as soon as it encounters the `--help|-h` option? Similarly for `--version|-V`.

I agree that this does seem to be the intuitive thing to do.

[2020-09-23 05:26] madeinjapan commented on #1181
That's great! The solution is perfect again! Thank you!

[2020-09-23 08:00] drkilikil commented on #1183
This is exactly what I mean.

And thanks for this great tool. A really good job!

[2020-09-23 08:40] remkop commented on #1183
Glad to hear you like picocli! :blush:
Please star :star: picocli on GitHub when you get a chance! :wink:

[2020-09-23 08:46] remkop opened #1184 "Make some Help API public"
Some things in the usage help message are currently difficult to customize using the Help API, because methods are not public.
See https://github.com/remkop/picocli/issues/1181

Proposed changes:

* provide public getter methods for the `Help.Layout` attributes (colorScheme, textTable, optionRenderer , parameterRenderer )
* make `Help.calcLongOptionsColumnWidth` public

[2020-09-23 08:47] remkop commented on #1181
Thanks for the confirmation!
Closing this ticket now.
I added #1184 as a follow-up task.

[2020-09-23 08:47] #1181 closed

[2020-09-23 12:23] sysmat commented on #1174
When using **picocli.CommandLine.HelpCommand** output of help not user friendly:

[code]

* **main class**    This should not be in terminal

[2020-09-23 12:39] remkop commented on #1174
@sysmat can you provide steps to reproduce this?

[2020-09-23 18:20] madeinjapan opened #1185 "Custom subcommand summary description and name"
Is there a way to make a summary description for subcommands and change name in the help?

actual result:
[code]

expected result:
[code]

I use subcommands and I run the class which matching the first argument. My classes are ```@Command``` annotation and name key (the first argument).

Here is my main class annotation:

[code]

Thank you for help!

[2020-09-24 00:44] remkop commented on #1174
@sysmat Would you mind raising a separate ticket? Your question seems related to combining picocli with JLine, rather than about providing a custom -h help option. It may be good to discuss in more depth on a separate ticket.

[2020-09-24 01:11] remkop commented on #1185
Yes, you can reorder the sections of the usage help message.
It looks like you want to display the command list heading and the command list before the option list heading.

The documentation for reordering sections is here: https://picocli.info/#_reordering_sections

What you want to do is something like this:

[code]

[2020-09-24 06:50] madeinjapan commented on #1185
Ooooh man... sorry. I didn't look around carfully :/

I didn't think it was that simple. Thank you!

And what is the solution or how do I look for this problem:

I want to pack the name of subclasses into one with one description.
The `actions` is the name of subclasses (e.g.action = {action0, action1, acttion2}).

synopsisSubcommandLabel = "actions",
synopsisSubcommandName = "actions",
synopsisSu

[2020-09-24 07:34] sysmat opened #1186 "ColorScheme not working"
picocli: 4.5.1

When exception is in Callable then from cli I should expect massage to be color red, but is not(powershell, gitbash)

My code:

[code]

[2020-09-24 09:46] remkop commented on #1185
I don't think there is an easy way to accomplish this.
The picocli default (which follows conventions I have seen for other command suite CLIs) is to show the name for each subcommand, and a description of what each subcommand does. Isn't that better than having one description for multiple commands?

[2020-09-24 10:00] remkop commented on #1186
@sysmat Are colors showing correctly when you execute `<yourcmd> --help` in those shells?

To help troubleshoot this issue, can you run again with system property `-Dpicocli.trace=DEBUG` on both shells, and copy-paste the output here?

The powershell problem may be related to [this issue](https://github.com/remkop/picocli/issues/849).
(I have not heard any reports of problems with ANSI colors in g

[2020-09-24 12:35] sysmat commented on #1186
[code]

[2020-09-24 13:00] remkop commented on #1186
Thank you!

I see what the cause is: the `TERM` environment variable has value `Cygwin` and this is not recognized by picocli.
I will fix this soon.

Can you provide details on the terminal software name and version?

[2020-09-24 14:03] sysmat commented on #1186
I'm using Windows Terminal Version: 1.3.2651.0 with the different host terminal
* Powershell
[code]
* gitbash

[code]

[2020-09-24 21:59] remkop commented on #1186
By the way, can you also provide `-Dpicocli.trace=DEBUG`  output for PowerShell? The cause may be different.

[2020-09-25 05:38] sysmat commented on #1186
* powershell:
[code]

[2020-09-25 07:40] remkop commented on #1186
Thank you!

Looks like on PowerShell, picocli cannot detect that ANSI escape codes are supported.
So you would need to either use Jansi:

[code]

...or ask your users to set one of the environment variables that picocli uses to [determine if ANSI escape codes are supported](https://picocli.info/#_heuristics_for_enabling_ansi).

I recommend Jansi, or [picocli-jansi-graalvm](https://github.com/remko

[2020-09-26 12:05] remkop commented on #1185
Well, there is a way (with picocli there is always a way 😄 ):

* make all subcommands hidden (via `@Command(hidden = true)`. This means that the individual subcommands are not shown in the usage help. (And, when all subcommands are hidden, the `commandListHeading` is also not shown.)
* put the packed single description for subcommands in the _option list heading_. Something like this:

[code]

[2020-09-27 09:17] #890 closed

[2020-09-28 14:40] attiand opened #1191 "Support subcommand methods in Groovy scripts"
I’m not sure if this is supposed to work, but it would be very cool if it did.

[code]
The groovy script seems to pick up the sub command in the usage help, but i can’t get the script to call the `commit` method.

[code]

[2020-09-28 21:16] remkop commented on #1191
Thanks for raising this!
I’ll take a look.

[2020-09-29 13:27] r2mzes commented on #625
Hi, I have a question regarding this required subcommand. I have read your comments but I am afraid that I still do not fully understand how to use it :P

Let' say I have one maind command defined like this:
`@CommandLine.Command(name = "main", subcommands = { LoadCommand.class, ValidateCommand.class, RenderCommand.class }, subcommandsRepeatable = true,)
public class MainCommand`

How can I make L

[2020-09-29 21:11] remkop commented on #625
@r2mzes Would you mind raising a separate ticket for this? Sometimes questions result in changes to picocli and then it’s good to have the full history in a single ticket.

[2020-09-30 10:18] r2mzes commented on #625
Actually this was exactly the reason why I posted here :D but sure, no problem :P

[2020-09-30 10:21] r2mzes opened #1193 "How to make subcommand required?"
I would like to make a subcommand required, could you please advise how to do it? ;>

Let' say I have one main command defined like this:
[code]

How can I make LoadCommand subcommand required and other subcommands optional?
I use the basic parsing approach with ParseResult.

I would appreciate your help :)

[2020-09-30 10:34] r2mzes opened #1194 "How to define multiplicity for repeatable subcommands?"
I have a main command with three subcommands defined. I would like to allow user for using all three subcommands at once, but with the condition that every single subcommand can be optional or used only once.
Could you please advise? ;>

I have a main command defined so far like below:
`@CommandLine.Command(name = "main", subcommands = { LoadCommand.class, ValidateCommand.class, RenderCommand.clas

[2020-09-30 10:36] remkop commented on #1186
@sysmat I finally got around to putting in a fix for MSYS2 (auto-enable ANSI when env var `TERM` contains `cygwin`).

Can you confirm that this solves the issue in the MSYS2-based Windows Terminal shell?

To verify, check out picocli master locally, and build it with `publishToMavenLocal`. That should publish `picocli-4.5.2-SNAPSHOT` to your local .m2 Maven cache.

[code]

You can then try this in

[2020-09-30 10:51] remkop commented on #1194
Picocli currently does not have the ability to enforce this.

What you could do in the application, is maintain some global state to track which commands have already been executed.
Then, if a command is specified twice, either ignore subsequent invocations or abort with an error message.

Something like this:

[code]

When subcommands are defined in separate classes, you can

[2020-09-30 11:03] remkop commented on #1193
To make it mandatory for users to specify a subcommand (so they cannot specify the top-level command on its own), the [easiest way](https://picocli.info/#_required_subcommands) is for the top-level command class to _not_ implement `Callable` or `Runnable`, and start the application with the [execute API](https://picocli.info/#execute).

This makes _any_ subcommand mandatory.

To make the `LoadComm

[2020-09-30 11:05] remkop commented on #1185
@madeinjapan Did this answer your question?

[2020-09-30 20:13] rgoldberg opened #1195 "Constructor injection (was: Annotating Kotlin primary constructor properties)"
Support annotating Kotlin primary constructor properties, like:

[code]

This would presumably require supporting applying annotations to `PARAMETER` element types. If implemented, this support should probably support annotating parameters in other use cases, like Java & other language constructor parameters for classes annotated as `@Command`, parameters for subcommand methods / functions, etc.

[2020-09-30 22:40] keturn opened #1197 "required parameter does not exclude negated options"
Given code like this:

[code]

if invoked with `--homedir --crash-report`, it quits as expected with this message:

But if invoked with the boolean option's negated form `--homedir --no-crash-report` it assigns `--no-crash-report` as the value of `homeDir`.

using picocli and picocli-codegen version 4.5.1.

[2020-10-01 00:36] remkop commented on #1197
Thank you for reporting this!
That looks like a bug. Looking into it.

[2020-10-01 02:30] remkop commented on #1195
@rgoldberg Thank you for raising this.

This topic came up earlier in https://github.com/remkop/picocli/pull/1107, and while exploring some ideas, we encountered two major issues:

* dependency injection
* implementation complexity

#  Dependency injection
Picocli currently supports [integration with dependency injection containers](https://picocli.info/#_dependency_injection) via the `IFactory` i

[2020-10-01 11:35] r2mzes commented on #1193
Thank you for your answer :)
Yes, you got it right :P I fell like I cannot use execute API, but maybe I am missing sth :P

My scenario:
In my application I have couple of steps that are launched in a pipeline manner:
load **->** validate (validation_1,  validation_2) **->** render (rendering_1, rendering_2)

Validate step requires artifacts that are created in the load step
Render step requires ar

[2020-10-01 14:05] rgoldberg commented on #1195
Thanks for the info. I might look into the DI integrations you mentioned in the future (I can't look at it right now).

[2020-10-01 21:02] rgoldberg commented on #1195
If it proves difficult to implement the hybrid edge case of some constructor / function arguments being supplied by picocli, and others being supplied directly by DI, you could go with a simple MVP that requires all arguments to be supplied by picocli, if any are.

I imagine that uses of this hybrid edge case would be exceptionally rare.

[2020-10-02 04:13] remkop commented on #1195
Yes, the hybrid edge case was more for completeness.
The real problem to solve is how to pass parameters from picocli to the DI container, and then how to control that the DI container would inject constructor parameters in the correct order.

The minimum version would probably be what I mentioned under "Without Dependency Injection" in my previous comment.
This has a trade-off. The negative side

[2020-10-02 10:47] remkop commented on #1193
Perhaps you could consider the `RunAll` execution strategy?
[This section](https://picocli.info/#_executing_commands_with_subcommands) in the user manual has a short example.

If you do need to create your own handling of the `ParseResult`, I recommend you start with these two lines, to handle requests for `--help` or `--version` for any of the subcommands:

[code]

[2020-10-03 07:41] #1197 closed

[2020-10-03 07:41] remkop commented on #1197
Sorry for the delay.
I found the cause and pushed a fix to master.
This fix will be included in the next release.
Thanks again for raising this!

[2020-10-03 18:53] rgoldberg commented on #1195
From a naive perspective, without having looked at the picocli code, if picocli can require Java 8 or newer, could you add the following to `IFactory`?

[code]

The latter could be used by the annotation processor to determine if the current `IFactory` supports constructor arguments; if it doesn't, then it can output an error.

The arguments will be passed in the order of the `args` array.

Is the

[2020-10-04 11:08] remkop commented on #1195
Thanks for helping me think through this.
Yes that makes sense. This approach may be a feasible design to solve the dependency injection issue.

[2020-10-05 03:09] rgoldberg commented on #1195
Cool. Glad my spitballing was useful. Thanks for making picocli.

[2020-10-05 03:17] rgoldberg commented on #1195
If it makes sense to also allow picocli annotations on method parameters, not just constructor parameters, I don't know if you'd still use `IFactory`, since it wouldn't be creating anything, just calling a method. But, if you do use the same code to support method calls & constructions, then obviously remove "constructor" from any names I suggested, and rename other methods as advisable.

[2020-10-05 06:17] remkop commented on #1194
@r2mzes Did this answer your question?

[2020-10-05 06:41] remkop commented on #1186
@sysmat Can you think of a way to detect from the Java process whether it was launched from PowerShell or from some other shell like CMD?  That would help further improve picocli's ANSI heuristics.

If we cannot improve the heuristics, then the best thing to do is to always use Jansi (at least when running on Windows) in your application.

Thoughts?

[2020-10-05 08:45] ebramirez commented on #894
Hi @remkop,

I don't know if you already have an idea of how this would be modeled. If not, I have a suggestion:

What we have done to test our CLI application in JVM and Native modes is to create a set of classes:
- An Abstract class to test the application that dynamically selects the testing mode depending on which tests we use it in
- Classes that know how to run the app depending on the test

[2020-10-06 03:51] hegerdes opened #1204 "AnnotationProcessor setup with java maven modules and IntelliJ"
Hi, I crated a StackOverflow post [here](https://stackoverflow.com/questions/64205037/set-up-picocli-annotation-processor-in-intellij-maven-project-with-modules)

Basically I want to use the AnnotationProcessor for compile time error checking and use it in IntelliJ. But as soon as I enable the config in the compiler plugin in maven the whole project becomes invalid.

I created a [demo project](htt

[2020-10-06 04:13] remkop commented on #1204
@hegerdes Thank you for raising this ticket and for providing a sample project. Taking a look...

[2020-10-06 05:41] remkop commented on #1204
I was able to resolve the problem, but you may not like the solution...

I am guessing that Intelli/J can only handle projects that follow the "standard" Maven project layout, with modules directly under the root project, and modules following the `src/main/java` and `src/test/java` Maven conventions...

When I use the standard layout, remove all Intelli/J files, and re-import the project into Int

[2020-10-06 06:15] hegerdes commented on #1204
That is exactly what I was afraid of. I copied the structure of project I'm working on and thought that this causes the problem. Unfortunately I'm not in charge of the whole project (If I was I would have changed it immediately, it already caused other problems)

I will discuss this in the team. Either we will refactor the project or probably use a other cli parser. I have no decision-making power

[2020-10-06 06:24] remkop commented on #1204
Yes, that is my understanding.  I actually had a bit of a hard time getting it to work even after using the Maven conventional project structure. The existing IntelliJ files somehow retained that `core` was previously located in `../src/core` and it was generating the `.class` files in `../src/core/target`. This meant that I was unable to run `PicocliTest` in IntelliJ (even though `mvn verify` pas

[2020-10-06 06:24] #1204 closed

[2020-10-06 11:32] r2mzes commented on #1194
Yes :) Thank you :)
However if I may suggest something I guess it would be good to have a possibility to define such attributes on commands simillarly to options.

[2020-10-06 11:34] r2mzes commented on #1193
Ok, thank you, I will give it a try and will come back with some remarks if I have any ;)

[2020-10-06 11:58] remkop commented on #1185
@madeinjapan Can this ticket be closed?

[2020-10-06 12:07] remkop commented on #894
@ebramirez I did some initial prototyping [here](https://github.com/remkop/picocli/tree/master/src/test/java/picocli/test).
Example usage [here](https://github.com/remkop/picocli/blob/master/src/test/java/picocli/ArgGroupTest.java#L3033).
I haven't spent much time on this though.

[2020-10-07 09:01] Blubb324 opened #1206 "Stopping command while having an endless loop"
Hey guys,

I have a simple program and wanted to try it with picocli. My question is, what´s the "best" design for a stopping command while having an endless loop. E.g. my application is printing all 5 seconds the current date. So it´s an endless loop and there is never an exit command. Addionally I have seen that the Thread is still running if I´m closing the cmd.

Source:
[code]
Do you have any

[2020-10-08 01:50] remkop commented on #1206
For a long-running program, the user would need to send some signal to the process to tell it to stop running.
Ctrl-C is a commonly used signal, that will cause the Java runtime to exit. Before exiting, all [shutdown hooks](https://docs.oracle.com/javase/8/docs/technotes/guides/lang/hook-design.html) are executed. If you have any logic that needs to run before exiting, that would be the place to d

[2020-10-08 01:56] remkop commented on #1206
An alternative design (a bit more complex) is to have the command start a server socket, and wait for some command text to be received via the network. Users could then use the `nc` utility to send this text, something like this:

[code]

[2020-10-08 05:56] madeinjapan commented on #1185
Sorry to answer late....

Yes, it is a good solution. Thank you. Although I take a dfferent way... and you are right about conventions.
I replaced the subcommand heading :)

This is my solution:

`
possible actions:
  action1
  action2
  action3
optional arguments:
  -h, --help   Show this help message and exit.`

You are right: 'with picocli there is always a way' :)

[2020-10-08 06:03] remkop commented on #1185
Great to hear that you found a solution you are happy with!

Enjoy using picocli!

[2020-10-08 06:03] #1185 closed

[2020-10-09 07:52] Blubb324 commented on #1206
All right. Thank you!

[2020-10-09 07:52] #1206 closed

[2020-10-09 14:32] Holmistr commented on #242
Hi @remkop ! Is the functionality actually still provided somewhere? I see that the https://github.com/remkop/picocli/tree/master/picocli-jline2-shell no longer exists :(

[2020-10-09 14:36] Holmistr commented on #242
Ignore me :) Found it: https://github.com/remkop/picocli/tree/master/picocli-shell-jline3

[2020-10-09 22:57] remkop commented on #242
@Holmistr Glad you found it. At some early point I renamed the module from `picocli-jline2-shell` to `picocli-shell-jline2` (and similar for jline3). One of the comments above still had a broken link to the old module name. I fixed that now.
Enjoy picocli!

[2020-10-10 10:45] hegerdes opened #1207 "Can you put Parameter before Options?"
Hi,

I'm just getting started with picocli but I'm impressed by its features and the **very** good support.
I have a very basic question that I wasn't able to answer with the docs.

My program has two major features: Utility apps and Simulations.
I want to: `java -jar my.jar app | simulation`

The apps and simulation scenarios have names(required) and optional parameter
I configured app and simula

[2020-10-10 12:55] remkop commented on #1207
Hi,

It sounds like you are doing everything correctly. Not sure if I understood the problem.

Picocli doesn’t care about the order of named options and positional parameters: for example, this:

[code]

is interpreted the same as this:

[code]

The end user is free to specify positional parameters before or after the named options.

Does that answer your question?

[2020-10-11 17:38] hegerdes commented on #1207
Thanks, seams like I did some other error than. Input works now.

Just need to figure out how I can customize the help messages but this shouldn't be a problem.

Thanks a lot. Questions is answerd.

[2020-10-11 21:20] remkop commented on #1207
Great to hear that!
Enjoy picocli!

If you like the project, please star ⭐ picocli on GitHub and tell your friends! 😉

[2020-10-11 21:20] #1207 closed

[2020-10-13 22:34] LorenKeagle opened #1212 "Options in ArgGroup with ScopeType.INHERIT do not retain their group in subcommands"
I defined a set of options in an ArgGroup in my main application class, and defined the options as CommandLine.ScopeType.INHERIT so that they will be available globally in subcommands (All descriptions removed for readability):

[code]

If I run a simple 'help' command (using the mixin) on the main app, I see these options grouped as expected:

[code]

However, subcommand help appears to lose the

[2020-10-13 22:51] LorenKeagle opened #1213 "Subcommand parameters in ArgGroup result in ArithmeticException"
If I define a parameter list in an ArgGroup in a subcommand class, PicoCLI always throws an exception when any parameters are provided.  Here is how my ArgGroup is specified in my subcommand:

[code]

The user can specify any number of files, but can also optionally specify inputs using some attributes (build-id and app-name above).  The ArgGroup is only being used to group options in the Help/Usa

[2020-10-13 22:55] LorenKeagle commented on #1213
In a previous ticket, we discussed a scenario for defining Help/Usage groupings separately from logical/validating groupings for exclusivity, etc.  I wonder if this issue supports that idea.

[2020-10-14 02:27] remkop commented on #1213
Thank you for raising this and thank you for the detailed report!
This allowed me to quickly reproduce the issue and fix it.

I pushed a fix to master.
This is quite a serious bug so I will probably roll out a bugfix release soon.
Many thanks!

[2020-10-14 02:27] #1213 closed

[2020-10-14 02:39] remkop commented on #1212
Hi @LorenKeagle, thank you for raising this!
This seems related to https://github.com/remkop/picocli/issues/1182

# Status
To summarize: as of picocli 4.5.1, inherited options do not combine well with argument groups. Only the options themselves are inherited to subcommands, any other argument group attributes (like headers, or validation on exclusivity with other options) is not inherited.

I wil

[2020-10-14 02:51] remkop commented on #1182
Update, copying from #1212:

[2020-10-14 03:40] remkop commented on #1213
Are you referring to #1147, specifically [this comment](https://github.com/remkop/picocli/issues/1147#issuecomment-675337503)?
Sorry, I closed that ticket after adding a section on Validation to the user manual, I thought that was what the ticket was about.

To reply to your comment, there is a trade-off. An arg group can be used for validation or for organizing/grouping options in the usage messa

[2020-10-14 03:58] LorenKeagle commented on #1212
Thanks for the quick reply.

I needed to get this tool out the door, so I went with the simplest solution to me which was inheritance.  That appears to work just fine.

Now that I've delivered, I'll convert my base class into a Mixin and report back if there's any issues I see with that.  I think the only added complexity is how to initialize and validate the mixin parameters/options only for subc

[2020-10-14 08:23] remkop commented on #1212
@LorenKeagle Glad to hear you got something that is working. 👍  Ultimately that is what matters! 😄

[2020-10-14 11:45] remkop commented on #292
This is now included in the picocli user manual:
https://picocli.info/#_validation

[2020-10-14 11:45] #292 closed

[2020-10-14 11:51] remkop commented on #1186
I have started the release for picocli 4.5.2, which contains the fix for MSYS2.
So, from 4.5.2, gitbash should automatically show colors.

I don't have a solution for Powershell... This may be a Powershell issue (looking at #849).

[2020-10-14 12:00] remkop opened #1214 "Support Map options with key-only (support -Dkey as well as -Dkey=value)"
From the picocli google group by @maxandersen:

----
(my reply on the mailing list)

Currently (as of picocli 4.5.1), unfortunately not:
picocli will throw an exception (Value for option -D should be in KEY=VALUE format but was xyz)
if the value for the -D option does not contain a '=' character.

Would you mind raising a ticket on the picocli GitHub issue tracker for this? (It is easier for me to

[2020-10-14 20:57] axtimwalde opened #1216 "default exit from tool that spawns off main thread"
I am probably too dense, but I cannot find a solution for his scenario:

I have a GUI tool that spawns a UI thread that runs the entire tool and returns immediately.  With `ComandLine.call(...)` or `CommandLine.run(...)`, the tool would exit when the UI thread dies, i.e. when the main window was closed.  Now that these methods are deprecated, I am using `new CommandLine(new Tool()).execute(args)`

[2020-10-14 22:13] remkop commented on #1216
How about exiting from the UI thread? If this is Swing, you can add something like this to the main window:

[code]

To be honest, I am a bit confused by the bit where you say that

How are `ComandLine.call` and `run` different from using `CommandLine.execute`? They both just kick off the business logic, which starts the UI in a non-daemon thread, right? So the problem is getting the UI thread to

[2020-10-14 22:34] remkop commented on #1216
...and I am glad to hear you like picocli! 😊
Don't forget to give the project a star ⭐ on GitHub! 😉

[2020-10-14 22:54] remkop commented on #1213
Picocli 4.5.2, which contains the fix for this issue, has been released.
Enjoy!

[2020-10-14 22:55] remkop commented on #1197
Picocli 4.5.2, which contains the fix for this issue, has been released.
Enjoy!

[2020-10-14 22:55] remkop commented on #1156
Picocli 4.5.2, which contains the fix for this issue, has been released.
Enjoy!

[2020-10-14 22:56] remkop commented on #1162
@metacosm  Picocli 4.5.2, which contains the fix for this issue, has been released.
Enjoy!

[2020-10-14 23:06] remkop commented on #1186
@sysmat  Can you confirm that colors work correclty in MSYS2 (gitbash) with picocli 4.5.2?

[2020-10-14 23:29] axtimwalde commented on #1216
You are right!  I updated more than one dependency at a time and it is an issue with the UI part of the app.  Sorry for the noise!

[2020-10-14 23:29] #1216 closed

[2020-10-15 00:52] axtimwalde commented on #1216
Also thanks for the Swing advice, this works for this app and we should make this part of our options https://github.com/bigdataviewer/bigdataviewer-vistools/issues/48

[2020-10-15 00:54] remkop commented on #1216
No worries!

I saw your mention in the bdv project.
Glad my suggestion was useful!

[2020-10-15 03:22] remkop commented on #1191
# Analysis
Looking at this, I am finding various problems with the `PicocliBaseScript` implementation... It has basically become a bit out of sync with the main usage patterns emphasized in the user manual (specifically, the `execute` method). `PicocliBaseScript.run` duplicates the equivalent of `CommandLine.call` as of picocli 2.0:

* no support for `@Command`-annotated methods (this ticket)
* al

[2020-10-15 04:04] remkop opened #1217 "Preprocessor callbacks during parsing (was: Make string options behave same as boolean options)"
From [discussion](https://groups.google.com/g/picocli/c/__tziJIw3lE/m/UCliKrsPBQAJ) on the picocli google group mailing list, topic raised by @maxandersen:

My reply:

@maxandersen's reply:

My reply:

@maxandersen's reply

[2020-10-15 05:33] sysmat commented on #1186
* even strange in gitbash:

[code]

* in PS

[code]

[2020-10-15 06:01] remkop commented on #1186
Oh no, that gitbash output looks bad...
Is the PS output what you expected?

[2020-10-15 06:09] remkop commented on #1186
Oh no, that gitbash output looks bad...
Is the PS output what you expected?

Also, can you print the output of gitbash when you run with `-Dpicocli.trace=DEBUG`?

[2020-10-15 06:39] remkop commented on #1186
I cannot reproduce this. How do I set up a MSYS2-based Windows Terminal shell?

[2020-10-15 06:47] sysmat commented on #1186
* When some exception happens I expect red color(not working in PS and gitbash - MINGW64)
* DEBUG
[code]
* Windows Terminal/ Settings in json file profiles.list add:
[code]

[2020-10-15 08:12] remkop commented on #1186
# Gitbash in Terminal
I was able to reproduce some strangeness when running `picocli.AutoComplete` or  `picocli.Demo` in gitbash in Terminal. Not exactly the behaviour you are seeing, ANSI colors are partially working for me, but with some strange layout artifacts.

By the way, the value of the `TERM` environment variable in my gitbash in Terminal is not `cygwin`, but `xterm-256color`. This is not

[2020-10-15 08:22] sysmat commented on #1186
* in PS with `$Env:CLICOLOR=1` is working, error -> color red
* no I'm not using Jansi

[2020-10-15 08:42] remkop commented on #1186
ok, I propose we put Powershell aside. I believe this is working as expected.

[2020-10-15 08:47] sysmat commented on #1186
*  using jansi work in cygwin, powershell

[code]

[2020-10-15 08:53] remkop commented on #1186
Do you mean that with Jansi, you also see correct output in gitbash in Windows Terminal?

[2020-10-15 08:59] sysmat commented on #1186
**Yes**, it solved the problem and also **no** strange output like `←[31m←[1m`

[2020-10-15 09:01] remkop commented on #1186
That is good. Still weird that plain gitbash works fine for me but gitbash in Terminal gives strange layout problems.

Does plain gitbash (without Terminal) work correctly for you without Jansi?

[2020-10-15 09:11] sysmat commented on #1186
# not using jansi
* pure gitbash(cygwin) -> colors and layout working OK
* pure powershell -> colors NOT OK, layout OK
* Windows terminal + powershell -> colors NOT OK, layout OK
* Windows terminal + gitbash -> colors NOT OK, layout NOT OK

[2020-10-15 11:03] remkop commented on #1186
Looks to be a Terminal issue...
And you have a solution: use Jansi. So I think we are ok... no?

[2020-10-15 11:19] sysmat commented on #1186
Yes, I think so, thx again :)

[2020-10-15 11:19] #1186 closed

[2020-10-15 11:55] remkop commented on #1186
Great!
Please star ⭐ picocli on GitHub if you like the project! 😉

[2020-10-15 21:29] remkop commented on #1191
I don't have any idea about the number of users of `picocli-groovy` for scripting.

Most scripts will work fine with Solution 1, but scripts that have customized behaviour by overriding any [`PicocliBaseScript` methods](https://github.com/remkop/picocli/blob/master/picocli-groovy/src/main/java/picocli/groovy/PicocliBaseScript.java) may see problems because these methods will no longer be invoked.

[2020-10-15 21:37] remkop commented on #1191
# `@PicocliScript2` and PicocliBaseScript2
Yet another idea is to introduce a new `@PicocliScript2` annotation with a new `PicocliBaseScript2` base class whose `run` method simply calls `getOrCreateCommandLine().execute(getScriptArguments())`. This `PicocliBaseScript2` base class does not have any other methods that can be overridden.

This does not break any existing scripts, and new scripts can

[2020-10-16 14:03] fmarot opened #1218 "How to specify default value if not in environment ?"
Hello

this is more a request for a feature (or improved doc if the feature already exists ;) ).
One of my option is defined like this:

this way I can use a value from the environment variables if one is available.
Additionally I would like to specify an hardcoded default value if none is available from the environment. Is it possible today ?
For rxemple in Spring boot there is this syntax to spe

[2020-10-16 22:42] remkop commented on #1218
Hi @fmarot, yes, this feature already exist, and the syntax is more like the unix bash syntax than the Spring syntax: `${VAR:-DEFAULTVALUE}`. So, for your example:

[code]

For more details, see the user manual section on [Default Values for Custom Variables](https://picocli.info/#_default_values_for_custom_variables).

[2020-10-16 22:51] remkop commented on #1218
To clarify, in this example:

[code]

picocli will look up the key `env.directoryToScan` first in the system properties, then environment variables, and finally the resource bundle of the command. If not found anywhere, then the default value `/tmp/dir` is assigned.

You can restrict the lookup to specific sources by using a prefix. For example `${env:env.directoryToScan:-/tmp/dir}` would only loo

[2020-10-17 18:46] fmarot commented on #1218
Thank you ! I did not test yet but closing this issue because your explanation seem crystal clear. And following your links to the official doc sorry, I totally missed them. Thanks !

[2020-10-17 18:46] #1218 closed

[2020-10-17 21:00] remkop commented on #1218
Excellent!
Don’t forget to star ⭐️ picocli on GitHub if you like the project! 😉

[2020-10-19 22:40] LorenKeagle commented on #1212
I was able to update my application to use separate Mixins for logging as well as some common configuration options.  Seems to be working well so far.

[2020-10-21 04:10] remkop commented on #1191
Introducing a new `@PicocliScript2` annotation with a new `PicocliBaseScript2` base class is probably the way to go.

I made some progress on this and pushed my changes to master. Documentation is still work in progress.
I tried to keep it compatible with `@PicocliScript` and `PicocliBaseScript`, but there are some subtle differences that I need to clarify in the docs.

Any review would be great.

[2020-10-23 08:38] xinchao-zhang commented on #802
Then, the interactive flag is useless in this case and can be dropped, right?

[2020-10-23 21:10] vi opened #1225 "Invalid error message generated when unmatched positional argument is the same as one of previous valid argument"
[code]

[code]

Expected them to be both "index 2".

Version 4.5.2.

[2020-10-23 21:16] remkop commented on #1225
Can you share your code so I can try to reproduce the issue?

[2020-10-23 21:35] vi commented on #1225
Approximate redacted source code:

[code]

(not checked buildability)

[2020-10-23 23:38] remkop commented on #1225
I tried but I am unable to reproduce the issue.

Can you look at this test code: https://github.com/remkop/picocli/blob/master/src/test/java/picocli/Issue1225.java
and suggest changes so that I can reproduce the issue?

[2020-10-23 23:58] vi commented on #1225
First and third elements of the array should match to make it err.

[2020-10-24 07:02] remkop commented on #1225
Yes, now I can reproduce it. Thank you for pointing this out!

I renamed the test to https://github.com/remkop/picocli/blob/master/src/test/java/picocli/Issue1225UnmatchedArgBadIndex.java

I found the cause and pushed a fix to master. This will be included in the next release.

[2020-10-24 07:02] #1225 closed

[2020-10-24 07:17] remkop commented on #802
@xinchao-zhang Yes, I think you are correct.

[2020-10-25 06:14] maxandersen opened #1227 "option to generate single html/man page"
would be awesome if the man page generator would be able to generate a single html page instead of *per* subcommand. The current end result ends up being very fragmented.

reason: https://github.com/jbangdev/jbang/pull/444

[2020-10-25 07:50] remkop commented on #1227
This looks very interesting and I am certainly open to improving this.

Anyone able to provide a pull request?

[2020-10-25 12:19] remkop commented on #1227
I haven’t given any thought to what the structure of the generated AsciiDoc would become. Simple concatenation?
What about nested sub-subcommands?

What about links, simply make all command names links to other sections in the same document? Do subcommands link back to their parent?

Anything else worth considering that doesn’t come up for single command doc pages?

[2020-10-25 12:44] maxandersen commented on #1227
Includes would work as long as follow same convention.

My thinking is to get to something like manual at cli.github.com.

[2020-10-25 21:07] remkop commented on #1227
Looking at https://cli.github.com/manual/ , I see each command and subcommand has a separate page, and the Table of Contents (TOC) navigation bar on the left brings them all together. The TOC especially is nice: it expresses the command hierarchy and is intuitive to navigate.

One way I can see this can be done with AsciiDocter is to have a single document for each top-level command. This doc can

[2020-10-26 11:46] #1184 closed

[2020-10-26 19:22] dwalluck commented on #1214
@remkop Someone had just asked about one of our tools supporting `-Dkey` as being equivalent to `-Dkey=true` similar to what `mvn` allows.

At first I hoped that it could be done via the [customer parameter processing](https://picocli.info/#_custom_parameter_processing ) feature. If I could simply preprocess the command line to change `-Dkey` to `-Dkey=true` as if that was literally what the user

[2020-10-26 20:19] remkop commented on #1214
I’m working on this now.
This will be in the next release.

[2020-10-26 20:40] dwalluck commented on #1214
As a general question, I was just wondering if preprocessing the tokens on the command line to agree with the expected input of the parser might help as a general solution rather than having to add custom code the parser every time. 😃

[2020-10-26 21:03] remkop commented on #1214
I can see why a custom `IParameterConsumer` is not easy to create for this case. The map processing is quite complex.

It may be interesting to introduce a new `IParameterPreProcessor` API, where the difference with `IParameterConsumer` is that after the preprocessor is invoked, picocli may still process the value (perhaps depending on the return value of the preprocessor). This may also be a good

[2020-10-26 21:03] remkop commented on #1214
My current thoughts on the behaviour for when `-Dkey` is specified without value:

* if the Map is defined as `Map<K, Optional<V>>`, picocli will add an entry for the specified key and value `Optional.empty()`
* Otherwise, the default value becomes `""` (an empty String). This is similar to the behaviour of system properties when `-Dkey` is specified without value on the command line.
* For some v

[2020-10-26 21:06] remkop opened #1231 "Configurable key-value separators for Map options"
Following up on discussion in https://github.com/remkop/picocli/issues/1214:

It would be nice to also support other key-value separators for Map options.
I am thinking this should be a new attribute in `@Option` and `@Parameters`, perhaps `mapKeyValueSeparator`.

[2020-10-26 22:08] remkop commented on #1217
On a different ticket (#1214), @dwalluck offered an interesting suggestion that may help solve this issue: introducing a preprocessor that would allow implementors to modify option parameters without consuming them. Picocli would then process the modified option parameter. This could also work for positional parameters.

[2020-10-26 22:29] remkop commented on #1217
Something like this:

[code]

Example usage:

[code]

[2020-10-26 22:37] maxandersen commented on #1217
interesting. That does sound interesting.

+1

[2020-10-27 10:05] remkop commented on #1214
I may split off the support for `Map<K, Optional<V>>` to another ticket (I will add a comment to #1108),
and go ahead with implementing this so that the value becomes `""` (empty space) when `-Dkey` is specified.

Support for `Optional` is more involved because it may requires changes to type converters and to how types are represented internally.

[2020-10-27 10:06] remkop commented on #1108
Expanding the scope of this ticket to also include support for `Map<K, Optional<V>>`.

Unsure whether it is necessary to support `Map<Optional<K>, Optional<V>>` and `Collection<Optional<V>>`.

[2020-10-28 03:46] remkop opened #1234 "Doc: add system properties example"
A common requirement for CLI applications is to support `-Dkey=value` syntax to allow end users to set system properties.

Provide an example in the user manual that shows how to create a map option to accomplish this.

Something like this:
https://stackoverflow.com/questions/64503016/how-to-configure-lightbend-typesafeconfig-via-command-line-parameter-when-using/64512538#64512538

[2020-10-28 03:52] remkop opened #1235 "Doc: update DI section on Quarkus"
The user manual has an example of using a custom factory to enable dependency injection in a Quarkus "command mode" CLI application.

Since that example was written, Quarkus has added more integrated picocli support: https://quarkus.io/guides/picocli .
Update the picocli manual to show a standalone command and a command suite, and link to the Quarkus manual.

[2020-10-28 05:23] deining commented on #1235
I'm willing to work on this. You may expected a PR soon, so stay tuned!

[2020-10-28 05:31] remkop commented on #1235
That is great, thank you!

[2020-10-28 06:15] remkop commented on #1214
After looking at this some more, it may be more generic to let the value become `null` instead of `""` (empty String) when `-Dkey` is specified. This would allow Map options with other generic types than String to work without error, for example:

[code]

One potential drawback is that applications that relied on the picocli validation may not be ready to deal with `null` map values and get `NullP

[2020-10-28 06:25] #1234 closed

[2020-10-28 07:15] maxandersen commented on #1214
but that code would also not have supported `-Dkey` before ...so I would say this sounds like a ok compromise.

[2020-10-28 07:41] remkop commented on #1214
True.

That said, it could be argued that this change breaks existing applications: we went from user-facing validation (nice error message like "Value for option -D should be in KEY=VALUE format but was key") to an internal error (stacktrace with a `NullPointerException` somewhere in the business logic).

What would be a nice way to be backwards compatible?

One idea: retain the validation by def

[2020-10-28 14:30] dwalluck commented on #1214
Why is is better globally vs. adding a new parameter on the annotation?

You could also specify on the annotation how to map default/empty values, so that instead of `null` maybe you can specify `Boolean.TRUE` or some method returning an `Object`.

Although in general I do agree that `null` is better that `""` which implies `Map<String,String>` only, but again, in that case you could still have a

[2020-10-28 14:36] dwalluck commented on #1214
What I am thinking is you already have the `defaultValue` annotation that could be useful here https://picocli.info/#defaultValue-annotation.

[2020-10-28 23:34] remkop commented on #1214
Good question. I was thinking that a global option would be more convenient than having to specify an `enableKeyOnlyMapArgs` (or something like that) attribute on every `Map` option or positional parameter.

Also a good point, let's analyze this.

## defaultValue

I think `defaultValue` is slightly different and cannot be used here: the `defaultValue` is assigned when the option was not specified

[2020-10-29 00:06] nveeser-google opened #1237 "Want to be able to parse the flags before instantiating an instance of the (sub)command classes"
We use Guice dependency injection everywhere. We also have an internal flag library.

I can use the IFactory interface (wrapping a Guice Injector) to building of the command classes.
However, there are times when I need the user to specify flags, which are required to initialize Guice, and before I can initialize the command class itself. So I am trying to find a way to parse / process the flags

[2020-10-29 01:12] remkop commented on #1237
If I understand the problem correctly, there is a bit of a chicken-and-egg problem here: you need to parse the command line to configure Guice, and you need a fully configured Guice in order to construct objects during parsing.

One idea is to parse in two separate passes, the first pass to pick up the Guice configuration options, and the second pass to parse the remaining options before running t

[2020-10-29 03:51] remkop commented on #1214
Still thinking about this...

If we make it a goal to **only introduce one attribute**, we get this trade-off:
* `enableKeyOnlyMapArgs` (with existing `fallbackValue`): drawback is that users need to use a "special value" to put `null` values for key-only args. However, that special value may be useful in other use cases than key-only Maps.
* `mapFallbackValue`: no "special values" for users (good

[2020-10-29 19:19] dwalluck commented on #1214
Apparently, I did mean `fallbackValue`, not `defaultValue`, sorry.

So, we've got three different cases for the key mapping (is this good or overly complicated?) and still no way to automatically map to, say, `Boolean.TRUE`. Or are we meant to check `if ("".equals(value))`?

[2020-10-29 21:17] remkop commented on #1214
There are three ways to _enable_ key-only Map args like `-Dkey`. Applications need to use only one of them. I think this can be explained in the manual fairly succinctly.

Can you see a way to simplify further?
(We can make this simpler by not supporting `Optional`, but I think supporting `Optional` is a nice feature.)

No, that is covered. Simply use the `fallbackValue` to specify the desired val

[2020-10-29 22:08] nveeser-google commented on #1237
That actually clarifies.
I think my request is in two parts

Part one is using the flags to configure Guice. I had a separate solution for that but your solution above it probably clearer.

Part two is that I want inspect subcommand that will be run to influence the configuration as well. This will allow each subcommand to define it's own Guice context if possible?

I need to fine the class that w

[2020-10-30 00:40] remkop commented on #1237
I see. Is it not possible to create Guice contexts for all subcommands up front and put them in the factory?

If each subcommand has its own separate Guice config that is customizable via the command line, you may be able to do this by changing the first pass a little bit, like this:

[code]

You can now inspect the `ParseResult` to find out which subcommands were specified on the command line, so

[2020-10-30 01:52] remkop opened #1241 "Add `mapFallbackValue` attribute to `@Options` and `@Parameters` annotation"
(Related to #1214)

For `Map` options and positional parameters, the work done for #1214 will make it possible to specify key-only parameters on the command line, like for example `-Dkey` (instead of `-Dkey=value`).

Applications can use the `mapFallbackValue` annotation attribute to control the value that will be put into the map for the key when no value is specified on the command line.

This s

[2020-10-30 02:58] remkop commented on #1214
Well darn! I just realized we cannot use `fallbackValue` after all.

The current parser implementation for Map values already uses `fallbackValue` to supply the `key=value` pair when the `-D` option is specified on the command line by itself without a parameter...

So, we need to introduce a new attribute like `mapFallbackValue` after all.

As discussed above, we only want to introduce _one_ new a

[2020-10-30 12:27] remkop commented on #1214
Initial implementation done and pushed to master.

See [MapOptionsOptionalTest](https://github.com/remkop/picocli/blob/master/picocli-examples/src/test/java/picocli/MapOptionsOptionalTest.java) and [OptionalTest](https://github.com/remkop/picocli/blob/master/picocli-examples/src/test/java/picocli/OptionalTest.java).

[2020-10-30 12:27] remkop commented on #1241
TODO docs.

[2020-10-30 12:44] remkop commented on #1214
@maxandersen @dwalluck Please take a look at these tests and let me know if you can think of any more use cases/test cases.

[2020-10-30 23:46] #1235 closed

[2020-10-31 15:21] pehala opened #1243 "Another subcommand already exists when using Mockito"
### Description
I am using Mockito for testing my commands and I have encountered issue with subcommands.
If you have command that has subcommands and you create `spy()` object of it and pass it to CommandLine it will fail with `picocli.CommandLine$DuplicateNameException: Another subcommand named 'convert' already exists for command 'checksum'`.

### Example
To further demonstrate this problem I h

[2020-10-31 20:38] deining opened #1245 "Manual: Spring Boot Example (chapter 22.2)"
I'm trying to get the Spring Boot Example (chapter 22.2) to run with latest spring-boot starter 2.3.5, and I'm experiencing difficulties here. What I did so far: I took over the two given files `MySpringApp .java` and `MyCommand.java` as is into a skeleton Spring-boot-starter sample. After running `mvnw spring-boot:run`, I'm getting

[code]

I could make the sample work by modifiying the code a bi

[2020-10-31 21:12] deining commented on #1245
Sorry for the noise, after adding the `picocli-spring-boot-starter` dependency everything works like expected.
Closing this ticket.

[2020-10-31 21:12] #1245 closed

[2020-10-31 21:14] remkop commented on #1245
Maybe unrelated to the problem, but why are we returning `CommandLine.defaultFactory()` from the `@Bean`-annotated `factory()` method? Shouldn’t we return a `PicocliSpringFactory` instance?

I can try taking a more detailed look later.

[2020-10-31 23:10] remkop commented on #1245
Ah, ok. 👍
Looks like our messages crossed. 😀

[2020-11-01 07:04] remkop commented on #1243
I haven’t tried testing with Mockito...

What do you see when you set system property `picocli.trace` to `DEBUG` before constructing the `CommandLine` instance?

[2020-11-01 12:48] pehala commented on #1243
[code]

[2020-11-01 15:30] pehala commented on #1243
It seems to be parsing the command twice due to it being mocked

[2020-11-01 21:57] remkop commented on #1243
Thanks for the trace debug output!

It looks like there are two 'checksum' command instances, `org.example.CheckSum$MockitoMock$1790095900@45fd9a4d` and `org.example.CheckSum@42f8285e`. This is probably normal with Mockito spy, I am guessing it works a bit like the [tee](https://www.geeksforgeeks.org/tee-command-linux-example/) command in linux.

Because of this, picocli creates two command hierar

[2020-11-02 06:53] pehala commented on #1243
The example can be found in this repository https://github.com/pehala/picocli-mockito-example

[2020-11-02 07:29] remkop commented on #1243
Great, thank you!  I’ll take a look.

[2020-11-02 12:10] remkop commented on #1241
I just realized that this also requires a `${MAP-FALLBACK-VALUE}` variable that can be used in the description of the option or positional parameter.

[2020-11-03 06:08] remkop commented on #1243
Thanks again for the example project!
I was able to reproduce the issue, and it looks like Mockito's spy is a synthetic class (`org.example.CheckSum$MockitoMock$1493359411` - this by itself is not a problem I think), which inherits from the `org.example.CheckSum`, but also contains/duplicates all annotations of the `CheckSum` class.

So, both the mock class and its superclass `CheckSum` have this